<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
   	<link rel="stylesheet" href="../../style/evab_theme.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<style type="text/css">.ui-icon-evab-location {background-image:url('../../Bilder/evab-location.png');}</style>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function(){
			$.mobile.loadingMessage = 'chrampfe!';
			$.mobile.defaultPageTransition  = 'none';
			$.mobile.touchOverflowEnabled = 'true';
			//$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = true; 
			$.event.special.swipe.horizontalDistanceThreshold = 250;
			$.mobile.fixedToolbars.setTouchToggleEnabled(false);
		});
    </script>	
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.form.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js" defer="defer"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  </head>
  <body>
	<div data-role="page" id="ArtEditPage">
		<div data-role="header" data-position="fixed">
			<a href="#" name="zurück" data-role="button" data-icon="arrow-l" data-iconpos="notext">zurück</a>
			<h1>Arteigenschaften</h1>
			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
		</div>
		<div data-role="content" id="ArtEditContent">
			<form id="ArtEditForm" action="#" method="get" autocomplete="off">
				<div data-role='fieldcontain'>
					<label for='ArtGruppe' class='select'>Artgruppe:</label>
					<select name='ArtGruppe' id='ArtGruppe' class='speichern' data-icon='arrow-r' data-native-menu='true' value="{{ArtGruppe}}">
						<option value="{{aArtGruppe}}">{{ArtGruppe}}</option>
					</select>
				</div>
				<div data-role='fieldcontain'>
					<label for='ArtBezeichnungL' class='select'>Artname:</label>
					<select name='ArtBezeichnungL' id='ArtBezeichnungL' class='speichern' data-icon='arrow-r' data-native-menu='true' value="{{ArtBezeichnungL}}">
						<option value="{{ArtBezeichnungL}}">{{ArtBezeichnungL}}</option>
					</select>
				</div>
				<div id="ArtEditFormHtml" data-role="collapsible-set" data-theme="b" data-content-theme="c">

				</div>
			</form>
			<p id="Hinweistext" class="HinweisDynamischerFeldaufbau">Die Informationen werden aufgebaut...</p>
		</div>
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">

	function handleDocumentReady() {
		
		var Pfad = "../../";
		User = "";

		prüfeAnmeldung(Pfad);

		$("#ArtGruppe").selectmenu();
		$("#ArtGruppe").selectmenu("refresh");
		$("#ArtBezeichnungL").selectmenu();
		$("#ArtBezeichnungL").selectmenu("refresh");

		erstelleArtEdit("{{id}}");

		speichereLetzteUrl(User);

		//zurück-Button steuern
		$("[name='zurück']").bind('click', function(){
			var zurueck = get_url_param('zurueck') || "../BeobListe.html";
			window.open("../" + zurueck, target="_self");
		});
	}
	
	$(document).ready(handleDocumentReady);

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(session.userCtx.name != (undefined || null)) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html?Status=neu", target="_self");
				}
		    }
		});
	}
  </script>

  <script type="text/javascript" charset="utf-8">	

  </script>
</html>
