<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
   	<link rel="stylesheet" href="../../style/evab_theme.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function(){
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
			$.mobile.touchOverflowEnabled = 'true';
			$.event.special.swipe.horizontalDistanceThreshold = 250;
		});
    </script>	
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.validate.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$db = $.couch.db("evab");
			
			var Pfad = "../../";
			User = "";
			UserFeldDocId = 0;
		
			prüfeAnmeldung(Pfad);
			speichereLetzteUrl(User);
			
			if ("{{FeldName}}") {
				//nur setzen, wenn schon ein Name existiert - nicht gegeben bei neuem Feld!
				setzeSichtbarModusHierarchisch(User, "{{FeldName}}");
			}
			$(".FeldEditHeaderTitel").text("{{FeldBeschriftung}}");

			//noch nicht aktive Felder deaktivieren
			$('#SichtbarModusEinfach').slider();
			$('#SichtbarModusEinfach').slider('disable');

			//Checkboxen managen, Werte initiieren
			//Arrays müssen abgefragt werden, weil Mustashe sie verändert
			//nur machen, wen ein FeldName existiert, sonst gibt es einen Fehler
			if ("{{FeldName}}") {
				var viewname = 'evab/FeldListeFeldName?key="' + "{{FeldName}}" + '"';
				var ArtGruppenArray;
				$db.view(viewname, {
					success: function(data) {
						var i;
						var Feld;
						for(i in data.rows) {
							Feld = data.rows[i].value;
							//Nur eigene Felder und offizielle
							if (Feld.User == User || Feld.User == "ZentrenBdKt") {
								ArtGruppenArray = Feld.ArtGruppe;
								//ArtGruppen nur in der Hierarchiestufe Art anzeigen
								if ("{{Hierarchiestufe}}" === "Art") {
									ArtGruppeAufbauen(ArtGruppenArray);
								}
							}
						}
					}
				});
			}
			
			//Radio Felder initiieren (ausser ArtGruppe, das wird dynamisch erzeugt)
			$("input[name='Hierarchiestufe']").checkboxradio();
			$("#{{Hierarchiestufe}}").prop("checked",true).checkboxradio("refresh");
			$("input[name='Formularelement']").checkboxradio();
			$("#{{Formularelement}}").prop("checked",true).checkboxradio("refresh");
			$("input[name='InputTyp']").checkboxradio();
			$("#{{InputTyp}}").prop("checked",true).checkboxradio("refresh");

			//jedes Feld aus Feldeigenschaften bei Änderung speichern
			$(".Feldeigenschaften").live("change", function() {
				if ("{{User}}" == "ZentrenBdKt") {
					//Felder der Datenzentren dürfen nicht verändert werden
					melde("Dies ist ein geschütztes Feld eines öffentlichen Datenzentrums<br><br>Sie können ein neues Feld erstellen");
				} else if (this.id == "FeldName") {
					//Wenn Feldname verändert wird, kontrollieren, dass er nicht schon verwendet wurde
					if ("{{FeldName}}") {
						//wenn ein alter Feldname existiert,
						//zählen, in wievielen Datensätzen das Feld verwendet wird
						$db = $.couch.db("evab");
						$db.view('evab/FeldSuche?key="' + User + '"&include_docs=true', {
							success: function(data) {
								var i;
								var anzVorkommen = 0;
								var Datensatz;
								var Feld;
								for(i in data.rows) {
									Datensatz = data.rows[i].doc; 
									Feld = eval("Datensatz." + "{{FeldName}}");
									if (Feld) {
										anzVorkommen += 1;
									}
								}
								if (anzVorkommen == 0) {
									//prüfen, ob der Feldname schon existiert
									//wenn ja: melden, zurückstellen
									//wenn nein: In SichtbareFelder nachführen und speichern
									prüfeFeldNamen(User);
								} else {
									var ds = "Datensätzen";
									if (anzVorkommen = 1) {
										ds = "Datensatz";
									}
									$("#FeldName").val("{{FeldName}}");
									melde("Ändern abgebrochen:<br>Dieses Feld wird in " + anzVorkommen + " " + ds + " verwendet<br>Bereinigen Sie zuerst die Daten");
								}
							}
						});
					} else {
						//Wenn dies ein neues Feld ist
						//prüfen, ob der Feldname schon existiert
						//wenn ja: melden, zurückstellen
						//wenn nein: In SichtbareFelder nachführen und speichern
						prüfeFeldNamen(User);
					}

				} else {
					speichereFeldeigenschaften();
					/*$("#UserFeldForm").validate({      funktioniert gar nicht!
						debug: true,
						onsubmit: false,
						rules: {
							FeldName: "required",
							Beschriftung: "required",
							Reihenfolge: "required",
						},
						messages: {
							FeldName: "Bitte Feldnamen erfassen",
							Beschriftung: "Bitte Beschriftung erfassen",
							Reihenfolge: "Bitte Reihenfolge erfassen",
						},
					    submitHandler: function(form) {
					        speichereFeldeigenschaften();
					    }
					});*/
				}
			});
			
			//Für jedes Feld aus Meine Einstellungen bei Änderung speichern
			$(".MeineEinstellungen").change(function() {
				speichereMeineEinstellungen(UserFeldDocId);
			});

			//Sichtbarkeit Modus hierarchisch speichern
			$("#SichtbarModusHierarchisch").change(function() {
				speichereSichtbarModusHierarchisch(User, this.value);
			});

			//Code für den Feld-Löschen-Dialog
			$('#LöschenDialogLink').live('click', function() {
				$(this).simpledialog({
					'mode' : 'bool',
			    	'prompt' : 'Dieses Feld löschen?',
			    	'forceInput': 'false',
			    	'buttons' : {
					 	'ja': {
					      	click: function () {
					        	$('#dialogoutput').text('ja');
					        	if ("{{FeldGeschützt}}") {
									melde("Dies ist ein Feld eines nationalen Datenzentrums<br><br>Es kann nicht gelöscht werden<br><br>Sie können es ausblenden");
								} else {
									$db = $.couch.db("evab");
									//zählen, in wievielen Datensätzen das Feld verwendet wird
									$db.view('evab/FeldSuche?key="' + User + '"&include_docs=true', {
										success: function(data) {
											var i;
											var anzVorkommen = 0;
											var Datensatz;
											var Feld;
											for(i in data.rows) {
												Datensatz = data.rows[i].doc;
												Feld = eval("Datensatz." + "{{FeldName}}");
												if (Feld) {
													anzVorkommen += 1;
												}
											}
											if (anzVorkommen == 0) {
												löscheFeld(Pfad);
											} else {
												var ds = "Datensätzen";
												if (anzVorkommen = 1) {
													ds = "Datensatz";
												}
												melde("Löschen abgebrochen:<br>Dieses Feld wird in " + anzVorkommen + " " + ds + " verwendet<br>Bereinigen Sie zuerst die Daten");
											}
										}
									});
								}
			        		},
			        		icon: "delete",
			        		theme: "c"
			      		},
			      		'nein': {
			        		click: function () {
			          			$('#dialogoutput').text('nein');
			        		}
			      		}
			    	}
			  	})
			});

			//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
			UserId = holeUserId(User);

			//Menu aufbauen
			$("[name='Menu']").live('click', function(){
				erstelleMenuFürFelder(this, "../../");
			});

			//BackButton steuern
			$("[name='BackButton']").live('click', function(){
				geheZurFeldListe();
			});

			//swipen steuern
			$("#FeldContent").live("swipeleft", function() {
				nächstesVorigesFeld("{{id}}", "nächstes");
			});

			$("#FeldContent").live("swiperight", function() {
				nächstesVorigesFeld("{{id}}", "voriges");
			});
		});
	</script>
	<script type="text/javascript">

		function setzeSichtbarModusHierarchisch(User, FeldName){
			//setzt den korrekten Wert im Feld SichtbarModusHierarchisch
			//Erwartet den FeldNamen
			$db = $.couch.db("evab");
			var viewname = 'evab/UserSichtbareFelder?key="' + User + '"';
			$db.view(viewname, {
				success: function(data) {
					var i;
					var row;
					var ModusHierarchisch;
					row = data.rows[0].value;
					ModusHierarchisch = row.ModusHierarchisch;
					if (ModusHierarchisch.indexOf(FeldName) != -1) {
						$("select#SichtbarModusHierarchisch").val("ja");
					} else {
						$("select#SichtbarModusHierarchisch").val("nein");
					}
					$("select#SichtbarModusHierarchisch").slider();
					$("select#SichtbarModusHierarchisch").slider("refresh");
				}
			});
		}

		function prüfeFeldNamen(User) {
			var FeldNameAlt = "{{FeldName}}" || "";
			var FeldNameNeu = $("#FeldName").val();
			var viewname = 'evab/FeldNamen?key="' + FeldNameNeu + '"';
			$db.view(viewname, {
				success: function(data) {
					var i;
					var key;
					var Feld;
					for(i in data.rows) {
						//kommt ein Feld mit diesem Namen schon vor?
						if (data.rows[i].value) {
							Feld = data.rows[i].value;
							//ist es ein eigenes oder ein offizielles?
							if (Feld.User == User || Feld.User == "ZentrenBdKt") {
								//ja > dieser Name ist nicht zulässig
								$("#FeldName").val(FeldNameAlt);
								$("#FeldName").focus();
								melde("Dieser Feldname existiert schon<br>Wählen Sie einen anderen");
							} else {
								//Feldname ist bei diesem User neu, somit zulässig > speichern
								//und alten FeldNamen aus der Liste der anzuzeigenden Felder entfernen
								setzeFeldSichtbarImModusHierarchisch(User, FeldNameNeu, "{{id}}"); 
								speichereFeldeigenschaften();
							}
						} else {
							//Feldname ist neu, somit zulässig > speichern
							//und alten FeldNamen aus der Liste der anzuzeigenden Felder entfernen
							setzeFeldSichtbarImModusHierarchisch(User, FeldNameNeu, "{{id}}"); 
							speichereFeldeigenschaften();
						}
					}
				}
			});
		}

		function speichereFeldeigenschaften() {
			$db = $.couch.db("evab");
			var Feld = $("#FeldEditForm").serializeObject();
			//Felder mit Arrays: Kommagetrennte Werte in Arrays verwandeln
			if (Feld.Optionen) {
				Feld.Optionen = Feld.Optionen.split(", ");
			}
			if (Feld.ArtGruppe) {
				Feld.ArtGruppe = Feld.ArtGruppe.split(", ");
			}
			Feld.Typ = "Feld";
			Feld.User = User;
			Feld._id = "{{id}}";
				$db.openDoc("{{id}}", {
					success: function(doc) {
						Feld._rev = doc._rev;
						$db.saveDoc(Feld, {
							success: function() {
								//melde("Feld gespeichert");
							},
							error: function() {
								melde("Fehler: Feld nicht gespeichert");
							}
						});
					},
					error: function() {
						melde("Fehler: Feld nicht gespeichert");
					}
				});
		}

		function speichereMeineEinstellungen() {
			$db = $.couch.db("evab");
			var Typ = "UserFeldEinstellung";
			var FeldName = "{{FeldName}}";
			var SichtbarModusEinfach = $("select#SichtbarModusEinfach").val();
			if (UserFeldDocId != 0) {
				$db.openDoc(UserFeldDocId, {
					success: function(document) {
						document.Typ = Typ;
						document.User = User;
						document.FeldName = FeldName;
						document.SichtbarModusEinfach = SichtbarModusEinfach;
						saveUserFeld(document);
					},
					error: function() {
						melde("Fehler: Einstellungen nicht gespeichert");
					}
				});
			} else {
				var document = {};
				document.Typ = Typ;
				document.User = User;
				document.FeldName = FeldName;
				document.SichtbarModusEinfach = SichtbarModusEinfach;
				saveUserFeld(document);
			}
		}

		function saveUserFeld(document) {
			$db = $.couch.db("evab");
			$db.saveDoc(document, {
				success: function(data) {
					melde("Einstellungen gespeichert");
					UserFeldDocId = data.id;
				},
				error: function() {
					melde("Fehler: Einstellungen nicht gespeichert");
				}
			});
		}

		function speichereSichtbarModusHierarchisch(User, SichtbarModusHierarchisch) {
			$db = $.couch.db("evab");
			var viewname = 'evab/UserSichtbareFelder?key="' + User + '"';
			$db.view(viewname, {
				success: function(data) {
					var doc = data.rows[0].value;
					var FeldName = $("#FeldName").val();
					$db = $.couch.db("evab");
					$db.openDoc(doc._id, {
						success: function(document) {
							var ModusHierarchisch = document.ModusHierarchisch;
							if (SichtbarModusHierarchisch == "ja") {
								ModusHierarchisch.push(FeldName);
							} else {
								var idx = ModusHierarchisch.indexOf(FeldName);
								if(idx!=-1) ModusHierarchisch.splice(idx, 1);
							}
							document.ModusHierarchisch = ModusHierarchisch;
							$db = $.couch.db("evab");
							$db.saveDoc(document, {
								success: function(data) {
									melde("Einstellung gespeichert");
								},
								error: function() {
									melde("Fehler: Einstellung nicht gespeichert");
								}
							});
						},
						error: function() {
							melde("Fehler: Einstellung nicht gespeichert");
						}
					});
				}
			});
		}
		
		function ArtGruppeAufbauen(ArtGruppenArrayIn) {
			$db = $.couch.db("evab");
			$("select#ArtGruppe").empty();
			var viewname = "evab/Artgruppen";
			$db.view(viewname, {
				success: function(data) {
					var i;
					var ArtGruppe;
					var ListItemContainer = "<fieldset data-role='controlgroup'>\n\t<legend>Artgruppen:</legend>";
					var listItem;
					var ArtGruppenArray = ArtGruppenArrayIn || [];
					for(i in data.rows) {
						ArtGruppe = data.rows[i].key;
						listItem = "<input type='checkbox' class='custom Feldeigenschaften' name='ArtGruppe' id='";
						listItem += ArtGruppe;
						listItem += "' value='";
						listItem += ArtGruppe;
						if(ArtGruppenArray.indexOf(ArtGruppe)!=-1) {
							listItem += "' checked='checked";
						}
						listItem += "'/>\n<label for='";
						listItem += ArtGruppe;
						listItem += "'>";
						listItem += ArtGruppe;
						listItem += "</label>";
						ListItemContainer += listItem;
					}
					ListItemContainer += "\n</fieldset>"
					$("#Artgruppenliste").html(ListItemContainer).trigger("create").trigger("refresh");
				}
			});
		}

		function löscheFeld(Pfad) {
			var docId = "{{id}}";
			// First open doc based on ID in order to get full document
			$db.openDoc(docId, {
				success: function(document) {
					// Then use the opened doc as reference to remove
					$db.removeDoc(document, {
						success: function() {
							//Feld aus UserSichtbareFelder entfernen
							$db = $.couch.db("evab");
							var viewname = 'evab/UserSichtbareFelder?key="' + User + '"';
							$db.view(viewname, {
								success: function(data) {
									var doc = data.rows[0].value;
									var ModusHierarchisch = doc.ModusHierarchisch;
									if (ModusHierarchisch.indexOf("{{FeldName}}") != -1) {
										ModusHierarchisch.splice(ModusHierarchisch.indexOf("{{FeldName}}"), 1);
										$db.saveDoc(doc);
									}
									window.open(Pfad + "FeldListe.html?zurueck=" + get_url_param("zurueck"), target = '_self');
								},
								error: function() {
									//scheitert entfernen aus UserSichtbareFelder, trotzdem löschen
									window.open(Pfad + "FeldListe.html?zurueck=" + get_url_param("zurueck"), target = '_self');
								}
							});
							
						},
						error: function() {
							melde("Fehler: nicht gelöscht");
						}
					});
				},
				error: function() {
					melde("Fehler: nicht gelöscht");
				}
			});
			return false;
		}

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session?callback=',
		    dataType: 'json',
		    async: false,
		    success: function(session){
		    	if(User != undefined || null) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html", target="_self");
				}
		    }
		});
	}

	function neuesFeld() {
		$db = $.couch.db("evab");
		var Feld = {};
		Feld.Typ = "Feld";
		Feld.User = User;
		$db.saveDoc(Feld, {
			success: function(data) {
				var id = data.id;
				var zurueck = get_url_param("zurueck");
				window.open("../FeldEdit/" + id + "?Status=neu?zurueck=" + zurueck, target="_self");
			},
			error: function() {
				melde("Fehler: Feld nicht erzeugt");
			}
		});
	}

	//Öffnet das vorige oder nächste Feld
	//voriges des ersten => FeldListe
	//nächstes des letzten => melden
	//erwartet die ID des aktuellen Datensatzes und ob nächster oder voriger gesucht wird
	function nächstesVorigesFeld(IdAktuell, NächstesOderVoriges) {
		$db.view('evab/FeldListe', {
			success: function(data) {
				var i, y;
				var FeldIdAktuell;
				var FeldIdNächstes;
				var FeldIdVoriges;
				var AnzFelder;
				for(i in data.rows) {
					//alle Felder durchlaufen, aktuelles eigenes oder offizielles suchen
					Feld = data.rows[i].value;
					var AnzFelder = data.rows.length -1;  
					//vorsicht: Objekte zählen Elemente ab 1, Arrays ab 0!
					if (Feld.User == User || Feld.User == "ZentrenBdKt") {
						//Nur eigene und offizielle Felder berücksichtigen
						FeldIdAktuell = data.rows[i].value._id;
						if (FeldIdAktuell == IdAktuell) {
							//das ist das aktuelle Feld
							//von hier aus vorwärts oder rückwärts das nächste eigene oder offizielle suchen
							switch (NächstesOderVoriges) {
							case "nächstes":
								if (i < AnzFelder) {
									//das aktuelle Feld ist nicht das letzte
									for (y == i+1; y <= AnzFelder; y++) {
										//alle verbleibenden Felder durchlaufen, eigenes suchen
										Feld = data.rows[y].value;
										//Nur eigene Felder und offizielle berücksichtigen
										if (Feld.User == User || Feld.User == "ZentrenBdKt") {
											//das ist das nächste eigene Feld > öffnen
											FeldIdNächstes = data.rows[parseInt(i)+1].value._id;
											window.open(FeldIdNächstes, target="_self");
										} else {
											if (y == AnzFelder) {
												//am letzten Feld angelangt und es ist kein eigenes
												melde("Das ist das letzte Feld");
											}
										}
									}
								} else {
									//das aktuelle Feld ist das letzte
									melde("Das ist das letzte Feld");
								}
								break;
							case "voriges":
								if (i > 0) {
									//das aktuelle Feld ist nicht das erste 
									for (y == i-1; y > 0; y--) {
										//alle vorhergehenden Felder durchlaufen, eigenes suchen
										Feld = data.rows[y].value;
										//Nur eigene Felder und offizielle berücksichtigen
										if (Feld.User == User || Feld.User == "ZentrenBdKt") {
											//das ist das nächstvorherige eigene Feld > öffnen
											FeldIdVoriges = data.rows[i-1].value._id;
											window.open(FeldIdVoriges, target="_self");
										} else {
											if (y == 1) {
												//am ersten Feld angelangt und es ist kein eigenes
												geheZurFeldListe();
											}
										}
									}
								} else {
									//das aktuelle Feld ist das erste
									geheZurFeldListe();	
								}
								break;
							}
						}
					}
				}
			}
		});
	}

	function geheZurFeldListe() {
		var zurueck = get_url_param("zurueck");
		var Status = get_url_param("Status");
		if (Status == "neu"){
			window.open("../../FeldListe.html?zurueck=" + zurueck, target="_self");
		} else {
			window.open("../../FeldListe.html?zurueck=" + zurueck, target="_self");
		}
	}
	</script>
  </head>
  <body>
  	<div data-role="page" id="FeldEditPage">
  		<div data-role="header" data-position="fixed">
  			<a href="#" id="BackButton" name="BackButton" data-role="button" data-icon="arrow-l" data-iconpos="notext">abbrechen</a>
  			<h2 class="FeldEditHeaderTitel">Datenfelder</h2>
  			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  		</div>
		<div id="FeldContent" data-role="content" style="padding:0em;">
			<form id="UserFeldForm" action="#" method="get" autocomplete="off">
				<h2>meine Einstellungen</h2>
				<div data-role="fieldcontain">
					<label for="SichtbarModusEinfach">Sichtbar im einfachen Modus?</label>
					<select class="MeineEinstellungen" name="SichtbarModusEinfach" id="SichtbarModusEinfach" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="SichtbarModusHierarchisch">Sichtbar im hierarchischen Modus?</label>
					<select name="SichtbarModusHierarchisch" id="SichtbarModusHierarchisch" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
			</form>
			<p>Hier wird für Sie gebaut: Die ausgeblendeten Felder werden später aktiviert.</p>
				<hr>
				<h2>Feldeigenschaften</h2>
			<form id="FeldEditForm" action="#" method="get" data-identity="{{document}}" >
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup">
						<legend>Hierarchiestufe (erforderlich):</legend>
							<input type="radio" name="Hierarchiestufe" class="Feldeigenschaften" id="Projekt" value="Projekt"/>
	         				<label for="Projekt">Projekt</label>
	         				<input type="radio" name="Hierarchiestufe" class="Feldeigenschaften" id="Raum" value="Raum"/>
	         				<label for="Raum">Raum</label>
	         				<input type="radio" name="Hierarchiestufe" class="Feldeigenschaften" id="Ort" value="Ort"/>
	         				<label for="Ort">Ort</label>
	         				<input type="radio" name="Hierarchiestufe" class="Feldeigenschaften" id="Zeit" value="Zeit"/>
	         				<label for="Zeit">Zeit</label>
							<input type="radio" name="Hierarchiestufe" class="Feldeigenschaften" id="Art" value="Art"/>
	         				<label for="Art">Art</label>
	         		</fieldset>
				</div>
				<div data-role="fieldcontain">
					<label for="FeldName">Name:</label>
					<input class="Feldeigenschaften required" id="FeldName" name="FeldName" type="text" value="{{FeldName}}" placeholder="erforderlich"/>
				</div>
				<div data-role="fieldcontain">
					<label for="FeldBeschriftung">Beschriftung:</label>
					<input class="Feldeigenschaften required" id="FeldBeschriftung" name="FeldBeschriftung" type="text" value="{{FeldBeschriftung}}" placeholder="erforderlich"/>
				</div>
				<div data-role="fieldcontain">
					<label for="FeldBeschreibung">Beschreibung:</label>
					<textarea class="Feldeigenschaften" id="FeldBeschreibung" name="FeldBeschreibung">{{FeldBeschreibung}}</textarea>
				</div>
				<div data-role="fieldcontain">
					<label for="Reihenfolge">Reihenfolge:</label>
					<input class="Feldeigenschaften required" id="Reihenfolge" name="Reihenfolge" type="number" value="{{Reihenfolge}}" placeholder="erforderlich"/>
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameEvab">Name in EvAB:</label>
					<input class="Feldeigenschaften" id="FeldNameEvab" name="FeldNameEvab" type="text" value="{{FeldNameEvab}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameZdsf">Name beim ZDSF:</label>
					<input class="Feldeigenschaften" id="FeldNameZdsf" name="FeldNameZdsf" type="text" value="{{FeldNameZdsf}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameCscf">Name beim CSCF:</label>
					<input class="Feldeigenschaften" id="FeldNameCscf" name="FeldNameCscf" type="text" value="{{FeldNameCscf}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameNism">Name beim NISM:</label>
					<input class="Feldeigenschaften" id="FeldNameNism" name="FeldNameNism" type="text" value="{{FeldNameNism}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameWslFlechten">Name bei WSL Flechten:</label>
					<input class="Feldeigenschaften" id="FeldNameWslFlechten" name="FeldNameWslFlechten" type="text" value="{{FeldNameWslFlechten}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameWslPilze">Name bei WSL Pilze:</label>
					<input class="Feldeigenschaften" id="FeldNameWslPilze" name="FeldNameWslPilze" type="text" value="{{FeldNameWslPilze}}" />
				</div>
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup">
						<legend>Formularelement (erforderlich):</legend>
							<input type="radio" name="Formularelement" class="Feldeigenschaften" id="textinput" value="textinput"/>
	         				<label for="textinput">einfaches Feld (textinput)</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="textarea" value="textarea"/>
	         				<label for="textarea">einfaches Feld, wächst mit Inhalt (textarea)</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="toggleswitch" value="toggleswitch"/>
	         				<label for="toggleswitch">ja/nein (toggleswitch)</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="slider" value="slider"/>
	         				<label for="slider">Schieber: Zahlen von min. Wert bis max. Wert (slider)</label>
							<input type="radio" name="Formularelement" class="Feldeigenschaften" id="selectmenu" value="selectmenu"/>
	         				<label for="selectmenu">Auswahlliste geschlossen, ein Wert möglich (selectmenu)</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="multipleselect" value="multipleselect"/>
	         				<label for="multipleselect">Auswahlliste geschlossen, mehrere Werte möglich (multipleselect)</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="radio" value="radio"/>
	         				<label for="radio">Auswahlliste offen, ein Wert möglich (radio)</label>
							<input type="radio" name="Formularelement" class="Feldeigenschaften" id="checkbox" value="checkbox"/>
	         				<label for="checkbox">Auswahlliste offen, mehrere Werte möglich (checkbox)</label>
	         		</fieldset>
				</div>
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup">
						<legend>Typ des einfachen Feldes (textinput):</legend>
							<input type="radio" name="InputTyp" class="Feldeigenschaften" id="text" value="text"/>
	         				<label for="text">Text</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="number" value="number"/>
	         				<label for="number">Zahl</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="date" value="date"/>
	         				<label for="date">Datum</label>
							<input type="radio" name="InputTyp" class="Feldeigenschaften" id="time" value="time"/>
	         				<label for="time">Zeit</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="datetime" value="datetime"/>
	         				<label for="datetime">Datum und Zeit</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="email" value="email"/>
	         				<label for="email">email</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="url" value="url"/>
	         				<label for="url">url</label>
	         		</fieldset>
				</div>
				<div data-role="fieldcontain" id="Artgruppenliste">
				</div>
				<div data-role="fieldcontain">
					<label for="FeldBeschreibung">Optionen in Auswahllisten:</label>
					<textarea class="Feldeigenschaften" id="Optionen" name="Optionen" placeholder="Werte, mit, Komma, trennen. Erforderlich für Auswahllisten">{{Optionen}}</textarea>
				</div>
				<div data-role="fieldcontain">
					<label for="Standardwert">Standardwert:</label>
					<input class="Feldeigenschaften" id="Standardwert" name="Standardwert" type="text" value="{{Standardwert}}"  placeholder="dieses Feld ist (noch) inaktiv"/>
				</div>
				<div data-role="fieldcontain">
					<label for="SliderMinimum">Schieber minimaler Wert:</label>
					<input class="Feldeigenschaften" id="SliderMinimum" name="SliderMinimum" type="text" value="{{SliderMinimum}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="SliderMaximum">Schieber maximaler Wert:</label>
					<input class="Feldeigenschaften" id="SliderMaximum" name="SliderMaximum" type="text" value="{{SliderMaximum}}" />
				</div>
				
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" onClick="Javascript:neuesFeld();" data-icon="plus" class="ui-btn-active">neu</a></li>			
					<li><a href="#" data-role="button" id="LöschenDialogLink" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
  </body>
</html>
