<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile-1.0a4.1.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.actionsheet.css" type="text/css"/>
    	<script src="../../vendor/couchapp/loaderTemplate.js" type="text/javascript"></script>
    	<script type="text/javascript">
		$(document).ready(function(){
			$db = $.couch.db("evab-ch_barbalex_evab");
			userCtx = null;
			var user;
			$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				user = userCtx.name;
				}
			});
			
			var UserFeldDocId;
			
			//User-Felder setzen
			var viewname = "evab/UserFeld";
			$db.view(viewname, {
				success: function(data) {
					var i;
					var Feld = "{{FeldName}}";
					var UserFeld = user + Feld;
					var UserFeldVonView;
					for(i in data.rows)
					{
						UserFeldVonView = data.rows[i].key;
						var row = data.rows[i].value;
						if(UserFeldVonView == UserFeld){
							UserFeldDocId = row._id;
							$("select#SichtbarModusEinfach").val(row.SichtbarModusEinfach);
							$("select#SichtbarModusHierarchisch").val(row.SichtbarModusHierarchisch);
							$("input#Standardwert").val(row.Standardwert);
						}
					}
					$("select#SichtbarModusEinfach").slider("refresh");
					$("select#SichtbarModusHierarchisch").slider("refresh");
				}
			});
			
			var docId = "{{id}}";                  //brauchts das?
			
			$("#submitUserFeldButton").tap(function(event) {
				if (UserFeldDocId) {
					$db.openDoc(UserFeldDocId, {
						success: function(document) {
							document.Typ = "UserFeld";
							document.user = user;
							document.FeldName = "{{FeldName}}";
							document.SichtbarModusEinfach = $("select#SichtbarModusEinfach").val();
							document.SichtbarModusHierarchisch = $("select#SichtbarModusHierarchisch").val();
							document.Standardwert = $("input#Standardwert").val();
							saveUserFeld(document);
						},
						error: function() {
							MeldungEinzeilig("Fehler beim Speichern");
						}
					});
				} else {
					var document = {};
					document.Typ = "UserFeld";
					document.user = user;
					document.FeldName = "{{FeldName}}";
					document.SichtbarModusEinfach = $("select#SichtbarModusEinfach").val();
					document.SichtbarModusHierarchisch = $("select#SichtbarModusHierarchisch").val();
					document.Standardwert = $("input#Standardwert").val();
					saveUserFeld(document);
				}
			});
		});
	</script>
	<script type="text/javascript">
		function saveUserFeld(document)
		{
			$db.saveDoc(document, {
				success: function() {
				},
				error: function() {
					MeldungEinzeilig("Speichern misslungen");
				}
			});
		}
	</script>
  </head>
  <body>
  	<div data-role="page">
  		<div data-role="header" data-position="fixed">
  			<a href="../../Feldliste.html" data-role="button" data-icon="arrow-l" data-rel="back" rel="external" data-iconpos="notext">abbrechen</a>
  			<h2>Datenfelder</h2>
  			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a id="NeuesKontoErstellen" href="../../Signup.html" data-role="button" rel="external">neues Konto<br />erstellen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="Feldliste" href="../../Feldliste.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/Feldliste" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
  			</div>
  		</div>
		<div id="FeldContent" data-role="content" data-theme="c" style="padding:0em;">
			<form id="UserFeldForm" action="#" method="get" >
				<h2>Meine Einstellungen</h2>
				<div data-role="fieldcontain">
					<label for="SichtbarModusEinfach">Sichtbar im einfachen Modus?</label>
					<select name="SichtbarModusEinfach" id="SichtbarModusEinfach" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="SichtbarModusHierarchisch">Sichtbar im hierarchischen Modus?</label>
					<select name="SichtbarModusHierarchisch" id="SichtbarModusHierarchisch" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="Standardwert">Standardwert:</label>
					<input id="Standardwert" name="Standardwert" type="text" />
				</div>
				<button type="submit" id="submitUserFeldButton" data-icon="check" data-iconpos="left" class="ui-btn-active" data-role="button">speichern</button>
			</form>
			<hr>
			<h2>Feldeigenschaften</h2>
			<p><span class="Feldbeschriftung">Tabelle: </span><span class="Feld">{{Tabelle}}</span></p>
			<p><span class="Feldbeschriftung">Feld-Name: </span><span class="Feld">{{FeldName}}</span></p>
			<p><span class="Feldbeschriftung">Beschriftung: </span><span class="Feld">{{FeldBeschriftung}}</span></p>
			<p><span class="Feldbeschriftung">Beschreibung: </span><span class="Feld">{{FeldBeschreibung}}</span></p>
			<p><span class="Feldbeschriftung">Reihenfolge: </span><span class="Feld">{{Reihenfolge}}</span></p>
			<p><span class="Feldbeschriftung">Feldname in EvAB: </span><span class="Feld">{{FeldNameEvab}}</span></p>
			<p><span class="Feldbeschriftung">Feldname beim ZDSF: </span><span class="Feld">{{FeldNameZdsf}}</span></p>
			<p><span class="Feldbeschriftung">Feldname beim CSCF: </span><span class="Feld">{{FeldNameCscf}}</span></p>
			<p><span class="Feldbeschriftung">Rolle im Modus "einfach": </span><span class="Feld">{{RolleModusEinfach}}</span></p>
			<p><span class="Feldbeschriftung">Formularelement: </span><span class="Feld">{{Formularelement}}</span></p>
			<p><span class="Feldbeschriftung">Formularelement-Typ: </span><span class="Feld">{{FormElementTyp}}</span></p>
			<p><span class="Feldbeschriftung">Art-Gruppen: </span><span class="Feld">{{ArtGruppe}}</span></p>
		</div>
	</div>
  </body>
</html>
