<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
   	<link rel="stylesheet" href="../../style/evab_theme.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function(){
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
			$.mobile.touchOverflowEnabled = 'true';
			$.event.special.swipe.horizontalDistanceThreshold = 200;
		});
    </script>	
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$db = $.couch.db("evab");
			
			var Pfad = "../../";
			User = "";
			UserFeldDocId = 0;
			SichtbarModusHierarchischId = 0;
		
			prüfeAnmeldung(Pfad);
			speichereLetzteUrl(User);
			
			setzeUserFeldEinstellungen("{{FeldName}}");
			setzeSichtbarModusHierarchisch("{{FeldName}}");
			$(".FeldReadHeaderTitel").text("{{FeldBeschriftung}}");

			//ArtGruppen nur in der Hierarchiestufe Art anzeigen
			if ("{{Hierarchiestufe}}" !== "Art") {
				var ArtGruppe = document.getElementById("ArtGruppe");
				ArtGruppe.style.display = "none";
			}

			//noch nicht aktive Felder deaktivieren
			$('#SichtbarModusEinfach').textinput();
			$('#SichtbarModusEinfach').textinput('disable');

			//Für jedes Feld aus Meine Einstellungen bei Änderung speichern
			$(".MeineEinstellungen").change(function() {
				speichereMeineEinstellungen();
			});

			//Sichtbarkeit Modus hierarchisch speichern
			$("#SichtbarModusHierarchisch").change(function() {
				speichereSichtbarModusHierarchisch(SichtbarModusHierarchischId);
			});
			
			var docId = "{{id}}";                  //brauchts das?

			//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
			UserId = holeUserId(User);

			//Menu aufbauen
			$("[name='Menu']").live('click', function() {
				erstelleMenuFürFelder(this, "../../");
			});

			//BackButton steuern
			$("[name='BackButton']").live('click', function(){
				var zurueck = get_url_param("zurueck");
				window.open("../../FeldListe.html?zurueck=" + zurueck, target="_self");
			});

			//swipen steuern
			$("#FeldContent").live("swipeleft", function() {
				nächstesVorigesFeld("{{id}}", "nächstes");
			});

			$("#FeldContent").live("swiperight", function() {
				nächstesVorigesFeld("{{id}}", "voriges");
			});
		});
	</script>
	<script type="text/javascript">

		function setzeUserFeldEinstellungen(FeldName){
			//setzt die FeldEinstellungen
			//Erwartet den FeldNamen
			$db = $.couch.db("evab");
			var viewname = 'evab/UserFeldEinstellung?key=["' + User + '","' + FeldName + '"]';
			$db.view(viewname, {
				success: function(data) {
					var i;
					var key;
					var row;
					for(i in data.rows) {
						key = data.rows[i].key;
						row = data.rows[i].value;
						$("select#SichtbarModusEinfach").val(row.SichtbarModusEinfach);
						UserFeldDocId = row.id;
					}
					$("select#SichtbarModusEinfach").slider("refresh");
				}
			});
		}

		function setzeSichtbarModusHierarchisch(FeldName){
			//setzt die FeldEinstellungen
			//Erwartet den FeldNamen
			$db = $.couch.db("evab");
			var viewname = 'evab/UserSichtbarModusHierarchisch?key="' + User + '"';
			$db.view(viewname, {
				success: function(data) {
					var i;
					var key;
					var row;
					for(i in data.rows) {
						key = data.rows[i].key;
						row = data.rows[i].value;
						var Felder = row.Felder;
						var idx = Felder.indexOf(FeldName);
						if (idx != -1) {
							$("select#SichtbarModusHierarchisch").val("ja");
						} else {
							$("select#SichtbarModusHierarchisch").val("nein");
						}
						SichtbarModusHierarchischId = row._id;
					}
					$("select#SichtbarModusHierarchisch").slider();
					$("select#SichtbarModusHierarchisch").slider("refresh");
				}
			});
		}

		function speichereMeineEinstellungen() {
			$db = $.couch.db("evab");
			var Typ = "UserFeldEinstellung";
			var FeldName = "{{FeldName}}";
			var SichtbarModusEinfach = $("select#SichtbarModusEinfach").val();
			if (UserFeldDocId != 0) {
				$db.openDoc(UserFeldDocId, {
					success: function(document) {
						document.Typ = Typ;
						document.User = User;
						document.FeldName = FeldName;
						document.SichtbarModusEinfach = SichtbarModusEinfach;
						saveUserFeld(document);
					},
					error: function() {
						melde("Fehler: Einstellungen nicht gespeichert");
					}
				});
			} else {
				var document = {};
				document.Typ = Typ;
				document.User = User;
				document.FeldName = FeldName;
				document.SichtbarModusEinfach = SichtbarModusEinfach;
				saveUserFeld(document);
			}
		}

		function saveUserFeld(document) {
			$db = $.couch.db("evab");
			$db.saveDoc(document, {
				success: function(data) {
					melde("Einstellungen gespeichert");
					UserFeldDocId = data.id;
				},
				error: function() {
					melde("Fehler: Einstellungen nicht gespeichert");
				}
			});
		}

		function speichereSichtbarModusHierarchisch(SichtbarModusHierarchischId) {
			$db = $.couch.db("evab");
			var Typ = "SichtbarModusHierarchisch";
			var FeldName = "{{FeldName}}";
			var SichtbarModusHierarchisch = $("select#SichtbarModusHierarchisch").val();
			if (SichtbarModusHierarchischId != 0) {
				$db.openDoc(SichtbarModusHierarchischId, {
					success: function(document) {
						document.Typ = Typ;
						document.User = User;
						var Felder = document.Felder;
						//Felder.push(document.Felder);
						if (SichtbarModusHierarchisch == "ja") {
							Felder.push(FeldName);
						} else {
							var idx = Felder.indexOf(FeldName);
							if(idx!=-1) Felder.splice(idx, 1);
						}
						document.Felder = Felder;
						saveSichtbarModusHierarchisch(document);
					},
					error: function() {
						melde("Fehler: Einstellung nicht gespeichert");
					}
				});
			} else {
				var document = {};
				document.Typ = Typ;
				document.User = User;
				//var Felder = '["' + FeldName + '"]';
				//Felder.push(FeldName);
				document.Felder = [];
				document.Felder.push(FeldName);
				saveSichtbarModusHierarchisch(document);
			}
		}

		function saveSichtbarModusHierarchisch(document) {
			$db = $.couch.db("evab");
			$db.saveDoc(document, {
				success: function(data) {
					melde("Einstellung gespeichert");
					SichtbarModusHierarchischId = data.id;
				},
				error: function() {
					melde("Fehler: Einstellung nicht gespeichert");
				}
			});
		}

		function prüfeAnmeldung(Pfad) {		
			//User Anmeldung überprüfen
			//Wenn angemeldet, globale Variable User aktualisieren
			//Wenn nicht angemeldet, Anmeldedialog öffnen
			$.ajax({
			    url: '/_session?callback=',
			    dataType: 'json',
			    async: false,
			    success: function(session) {
			    	if(User != undefined || null) {
			        	User = session.userCtx.name;
			        } else {
						window.open(Pfad + "index.html", target="_self");
					}
			    }
			});
		}
	</script>
  </head>
  <body>
  	<div data-role="page" id="FeldReadPage">
  		<div data-role="header" data-position="fixed">
  			<a href="#" id="BackButton" name="BackButton" data-role="button" data-icon="arrow-l" data-iconpos="notext">abbrechen</a>
  			<h2 class="FeldReadHeaderTitel">Datenfelder</h2>
  			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  		</div>
		<div id="FeldContent" data-role="content" style="padding:0em;">
			<form id="UserFeldForm" action="#" method="get" >
				<h2>meine Einstellungen</h2>
				<div data-role="fieldcontain">
					<label for="SichtbarModusEinfach">Sichtbar im einfachen Modus?</label>
					<select class="MeineEinstellungen" name="SichtbarModusEinfach" id="SichtbarModusEinfach" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="SichtbarModusHierarchisch">Sichtbar im hierarchischen Modus?</label>
					<select name="SichtbarModusHierarchisch" id="SichtbarModusHierarchisch" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
			</form>
			<p>Hier wird für Sie gebaut: Die ausgeblendeten Felder werden - voraussichtlich - später aktiviert.</p>
			<hr>
			<h2>Feldeigenschaften</h2>
			<table border="0" cellpadding="5" width="100%">
				<colgroup>
			    	<col width="120">
			    	<col>
			  	</colgroup>
				<tr>
				    <td valign="top">Hierarchiestufe:</td>
				    <td valign="top"><span class="Feld">{{Hierarchiestufe}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Feld-Name:</td>
				    <td valign="top"><span class="Feld">{{FeldName}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Beschriftung:</td>
				    <td valign="top"><span class="Feld">{{FeldBeschriftung}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Beschreibung:</td>
				    <td valign="top"><span class="Feld">{{FeldBeschreibung}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Reihenfolge:</td>
				    <td valign="top"><span class="Feld">{{Reihenfolge}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Feldname in EvAB:</td>
				    <td valign="top"><span class="Feld">{{FeldNameEvab}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Feldname beim ZDSF:</td>
				    <td valign="top"><span class="Feld">{{FeldNameZdsf}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Feldname beim CSCF:</td>
				    <td valign="top"><span class="Feld">{{FeldNameCscf}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Feldname beim NISM:</td>
				    <td valign="top"><span class="Feld">{{FeldNameNism}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Feldname bei WSL Pilze:</td>
				    <td valign="top"><span class="Feld">{{FeldNameWslPilze}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Feldname bei WSL Flechten:</td>
				    <td valign="top"><span class="Feld">{{FeldNameWslFlechten}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Formularelement:</td>
				    <td valign="top"><span class="Feld">{{Formularelement}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Typ des einfachen Felds (textinput):</td>
				    <td valign="top"><span class="Feld">{{InputTyp}}</span></td>
			  	</tr>
			  	<tr id="ArtGruppe">
				    <td valign="top">Artgruppen:</td>
				    <td valign="top"><span class="Feld">{{ArtGruppe}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Optionen in Auswahllisten:</td>
				    <td valign="top"><span class="Feld">{{Optionen}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Standardwert:</td>
				    <td valign="top"><span class="Feld">{{Standardwert}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Schieber mininaler Wert:</td>
				    <td valign="top"><span class="Feld">{{SliderMinimum}}</span></td>
			  	</tr>
			  	<tr>
				    <td valign="top">Schieber maximaler Wert:</td>
				    <td valign="top"><span class="Feld">{{SliderMaximum}}</span></td>
			  	</tr>
			</table>
		</div>
	</div>
  </body>
</html>
