<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function(){
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
		});
    </script>	
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$db = $.couch.db("evab");
			
			var Pfad = "../../";
			User = "";
			UserFeldDocId = 0;
			SichtbarModusHierarchischId = 0;
		
			prüfeAnmeldung(Pfad);
			
			setzeUserFeldEinstellungen("{{FeldName}}");
			setzeSichtbarModusHierarchisch("{{FeldName}}");

			//noch nicht aktive Felder deaktivieren
			$('#SichtbarModusEinfach').textinput();
			$('#SichtbarModusEinfach').textinput('disable');
			$('#Standardwert_ME').textinput();
			$('#Standardwert_ME').textinput('disable');

			//Checkboxen managen, Werte initiieren
			//Arrays müssen abgefragt werden, weil Mustashe sie verändert
			var viewname = 'evab/FeldListeFeldName?key="' + "{{FeldName}}" + '"';
			var ArtGruppenArray;
			$db.view(viewname, {
				success: function(data) {
					var i;
					var row;
					for(i in data.rows) {
						row = data.rows[i].value;
						ArtGruppenArray = row.ArtGruppe;
						ArtGruppeAufbauen(ArtGruppenArray);
					}
				}
			});
			
			//Radio Felder initiieren (ausser ArtGruppe, das wird dynamisch erzeugt)
			$("input[name='Tabelle']").checkboxradio();
			$("#{{Tabelle}}").prop("checked",true).checkboxradio("refresh");
			$("input[name='Formularelement']").checkboxradio();
			$("#{{Formularelement}}").prop("checked",true).checkboxradio("refresh");
			$("input[name='InputTyp']").checkboxradio();
			$("#{{InputTyp}}").prop("checked",true).checkboxradio("refresh");

			//Für jedes Feld aus Feldeigenschaften bei Änderung speichern
			$(".Feldeigenschaften").live("change", function() {
				speichereFeldeigenschaften();
			});
			
			//Für jedes Feld aus Meine Einstellungen bei Änderung speichern
			$(".MeineEinstellungen").change(function() {
				speichereMeineEinstellungen(UserFeldDocId);
			});

			//Sichtbarkeit Modus hierarchisch speichern
			$("#SichtbarModusHierarchisch").change(function() {
				speichereSichtbarModusHierarchisch(SichtbarModusHierarchischId);
			});

			//Code für den Feld-Löschen-Dialog
			$('#LöschenDialogLink').live('click', function() {
				$(this).simpledialog({
					'mode' : 'bool',
			    	'prompt' : 'Dieses Feld löschen?',
			    	'forceInput': 'false',
			    	'buttons' : {
					 	'ja': {
					      	click: function () {
					        	$('#dialogoutput').text('ja');
					        	löscheFeld(Pfad);
			        		},
			        		icon: "delete",
			        		theme: "c"
			      		},
			      		'nein': {
			        		click: function () {
			          			$('#dialogoutput').text('nein');
			        		}
			      		}
			    	}
			  	})
			});

			//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
			UserId = holeUserId(User);

			//Menu aufbauen
			$("[name='Menu']").live('click', function(){
				erstelleMenuFürFelder(this, "../../");
			});

			//BackButton steuern
			$("[name='BackButton']").live('click', function(){
				var zurueck = get_url_param("zurueck");
				var Status = get_url_param("Status");
				if (Status == "neu"){
					window.open("../../FeldListe.html?zurueck=" + zurueck, target="_self");
				} else {
					//$.mobile.changePage("../../FeldListe.html", {reloadPage: true});
					window.open("../../FeldListe.html?zurueck=" + zurueck, target="_self");
				}
			});
		});
	</script>
	<script type="text/javascript">

		function setzeUserFeldEinstellungen(FeldName){
			//setzt die FeldEinstellungen
			//Erwartet den FeldNamen
			$db = $.couch.db("evab");
			var viewname = 'evab/UserFeldEinstellung?key=["' + User + '","' + FeldName + '"]';
			$db.view(viewname, {
				success: function(data) {
					var i;
					var key;
					var row;
					for(i in data.rows) {
						key = data.rows[i].key;
						row = data.rows[i].value;
						$("select#SichtbarModusEinfach").val(row.SichtbarModusEinfach);
						$("input#Standardwert").val(row.Standardwert);
						UserFeldDocId = row.id;
					}
					$("select#SichtbarModusEinfach").slider();
					$("select#SichtbarModusEinfach").slider("refresh");
				}
			});
		}

		function setzeSichtbarModusHierarchisch(FeldName){
			//setzt die FeldEinstellungen
			//Erwartet den FeldNamen
			$db = $.couch.db("evab");
			var viewname = 'evab/UserSichtbarModusHierarchisch?key="' + User + '"';
			$db.view(viewname, {
				success: function(data) {
					var i;
					var key;
					var row;
					for(i in data.rows) {
						key = data.rows[i].key;
						row = data.rows[i].value;
						var Felder = row.Felder;
						var idx = Felder.indexOf(FeldName);
						if (idx != -1) {
							$("select#SichtbarModusHierarchisch").val("ja");
						} else {
							$("select#SichtbarModusHierarchisch").val("nein");
						}
						SichtbarModusHierarchischId = row._id;
					}
					$("select#SichtbarModusHierarchisch").slider();
					$("select#SichtbarModusHierarchisch").slider("refresh");
				}
			});
		}

		function speichereFeldeigenschaften() {
			$db = $.couch.db("evab");
			var Feld = $("#FeldEditForm").serializeObject();
			Feld.Typ = "Feld";
			Feld._id = "{{id}}";
				$db.openDoc("{{id}}", {
					success: function(doc) {
						Feld._rev = doc._rev;
						$db.saveDoc(Feld, {
							success: function() {
								melde("Feld gespeichert");
							},
							error: function() {
								melde("Fehler: Feld nicht gespeichert");
							}
						});
					},
					error: function() {
						melde("Fehler: Feld nicht gespeichert");
					}
				});
		}

		function speichereMeineEinstellungen() {
			$db = $.couch.db("evab");
			var Typ = "UserFeldEinstellung";
			var FeldName = "{{FeldName}}";
			var SichtbarModusEinfach = $("select#SichtbarModusEinfach").val();
			var Standardwert = $("input#Standardwert_ME").val();
			if (UserFeldDocId != 0) {
				$db.openDoc(UserFeldDocId, {
					success: function(document) {
						document.Typ = Typ;
						document.User = User;
						document.FeldName = FeldName;
						document.SichtbarModusEinfach = SichtbarModusEinfach;
						if (Standardwert != "") {
							document.Standardwert = Standardwert;
						} else {
							delete document.Standardwert;
						}
						saveUserFeld(document);
					},
					error: function() {
						melde("Fehler: Einstellungen nicht gespeichert");
					}
				});
			} else {
				var document = {};
				document.Typ = Typ;
				document.User = User;
				document.FeldName = FeldName;
				document.SichtbarModusEinfach = SichtbarModusEinfach;
				if (Standardwert != "") {
					document.Standardwert = Standardwert;
				}
				saveUserFeld(document);
			}
		}

		function saveUserFeld(document) {
			$db = $.couch.db("evab");
			$db.saveDoc(document, {
				success: function(data) {
					melde("Einstellungen gespeichert");
					UserFeldDocId = data.id;
				},
				error: function() {
					melde("Fehler: Einstellungen nicht gespeichert");
				}
			});
		}

		function speichereSichtbarModusHierarchisch(SichtbarModusHierarchischId) {
			$db = $.couch.db("evab");
			var Typ = "SichtbarModusHierarchisch";
			var FeldName = "{{FeldName}}";
			var SichtbarModusHierarchisch = $("select#SichtbarModusHierarchisch").val();
			if (SichtbarModusHierarchischId != 0) {
				$db.openDoc(SichtbarModusHierarchischId, {
					success: function(document) {
						document.Typ = Typ;
						document.User = User;
						var Felder = document.Felder;
						//Felder.push(document.Felder);
						if (SichtbarModusHierarchisch == "ja") {
							Felder.push(FeldName);
						} else {
							var idx = Felder.indexOf(FeldName);
							if(idx!=-1) Felder.splice(idx, 1);
						}
						document.Felder = Felder;
						saveSichtbarModusHierarchisch(document);
					},
					error: function() {
						melde("Fehler: Einstellung nicht gespeichert");
					}
				});
			} else {
				var document = {};
				document.Typ = Typ;
				document.User = User;
				//var Felder = '["' + FeldName + '"]';
				//Felder.push(FeldName);
				document.Felder = [];
				document.Felder.push(FeldName);
				saveSichtbarModusHierarchisch(document);
			}
		}

		function saveSichtbarModusHierarchisch(document) {
			$db = $.couch.db("evab");
			$db.saveDoc(document, {
				success: function(data) {
					melde("Einstellung gespeichert");
					SichtbarModusHierarchischId = data.id;
				},
				error: function() {
					melde("Fehler: Einstellung nicht gespeichert");
				}
			});
		}
		
		function ArtGruppeAufbauen(ArtGruppenArrayIn) {
			$db = $.couch.db("evab");
			$("select#ArtGruppe").empty();
			var viewname = "evab/Artgruppen";
			$db.view(viewname, {
				success: function(data) {
					var i;
					var ArtGruppe;
					var ListItemContainer = "<fieldset data-role='controlgroup'>\n\t<legend>Artgruppen:</legend>";
					var listItem;
					var ArtGruppenArray = ArtGruppenArrayIn || [];
					for(i in data.rows) {
						ArtGruppe = data.rows[i].key;
						listItem = "<input type='checkbox' class='custom Feldeigenschaften' name='ArtGruppe' id='";
						listItem += ArtGruppe;
						listItem += "' value='";
						listItem += ArtGruppe;
						if(ArtGruppenArray.indexOf(ArtGruppe)!=-1) {
							listItem += "' checked='checked";
						}
						listItem += "'/>\n<label for='";
						listItem += ArtGruppe;
						listItem += "'>";
						listItem += ArtGruppe;
						listItem += "</label>";
						ListItemContainer += listItem;
					}
					ListItemContainer += "\n</fieldset>"
					$("#Artgruppenliste").html(ListItemContainer).trigger("create").trigger("refresh");
				}
			});
		}

		function löscheFeld(Pfad) {
			var docId = "{{id}}";
			// First open doc based on ID in order to get full document
			$db.openDoc(docId, {
				success: function(document) {
					// Then use the opened doc as reference to remove
					$db.removeDoc(document, {
						success: function() {
							//var Pfad = Pfad || "../../";
							window.open(Pfad + "FeldListe.html", target = '_self');
						},
						error: function() {
							melde("Fehler: Löschen gescheitert");
						}
					});
				},
				error: function() {
					melde("Fehler: Löschen gescheitert");
				}
			});
			return false;
		}

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session?callback=',
		    dataType: 'json',
		    async: false,
		    success: function(session){
		    	if(User != undefined || null) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html", target="_self");
				}
		    }
		});
	}

	function neuesFeld() {
		$db = $.couch.db("evab");
		var Feld = {};
		Feld.Typ == "Feld";
		$db.saveDoc(Feld, {
			success: function(data) {
				var id = data.id;
				var zurueck = get_url_param("zurueck");
				window.open("../FeldEdit/" + id + "?Status=neu?zurueck=" + zurueck, target="_self");
			},
			error: function() {
				melde("Fehler: Feld nicht erzeugt");
			}
		});
	}
	</script>
  </head>
  <body>
  	<div data-role="page" id="FeldEditPage">
  		<div data-role="header" data-position="fixed">
  			<a href="#" id="BackButton" name="BackButton" data-role="button" data-icon="arrow-l" data-iconpos="notext">abbrechen</a>
  			<h2>Datenfelder</h2>
  			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  		</div>
		<div id="FeldContent" data-role="content" data-theme="c" style="padding:0em;">
			<form id="UserFeldForm" action="#" method="get" autocomplete="off">
				<h2>meine Einstellungen</h2>
				<div data-role="fieldcontain">
					<label for="SichtbarModusEinfach">Sichtbar im einfachen Modus?</label>
					<select class="MeineEinstellungen" name="SichtbarModusEinfach" id="SichtbarModusEinfach" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="SichtbarModusHierarchisch">Sichtbar im hierarchischen Modus?</label>
					<select name="SichtbarModusHierarchisch" id="SichtbarModusHierarchisch" data-role="slider">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="Standardwert_ME">Standardwert:</label>
					<input class="MeineEinstellungen" id="Standardwert_ME" name="Standardwert_ME" type="text" />
				</div>
			</form>
			<p>Hier wird für Sie gebaut: Die ausgeblendeten Felder werden später aktiviert.</p>
				<hr>
				<h2>Feldeigenschaften</h2>
			<form id="FeldEditForm" action="#" method="get" data-identity="{{document}}" >
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup">
						<legend>Tabelle:</legend>
							<input type="radio" name="Tabelle" class="Feldeigenschaften" id="Projekt" value="Projekt"/>
	         				<label for="Projekt">Projekt</label>
	         				<input type="radio" name="Tabelle" class="Feldeigenschaften" id="Raum" value="Raum"/>
	         				<label for="Raum">Raum</label>
	         				<input type="radio" name="Tabelle" class="Feldeigenschaften" id="Ort" value="Ort"/>
	         				<label for="Ort">Ort</label>
	         				<input type="radio" name="Tabelle" class="Feldeigenschaften" id="Zeit" value="Zeit"/>
	         				<label for="Zeit">Zeit</label>
							<input type="radio" name="Tabelle" class="Feldeigenschaften" id="Art" value="Art"/>
	         				<label for="Art">Art</label>
	         		</fieldset>
				</div>
				<div data-role="fieldcontain">
					<label for="FeldName">Feld-Name:</label>
					<input class="Feldeigenschaften" id="FeldName" name="FeldName" type="text" value="{{FeldName}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldBeschriftung">Beschriftung:</label>
					<input class="Feldeigenschaften" id="FeldBeschriftung" name="FeldBeschriftung" type="text" value="{{FeldBeschriftung}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldBeschreibung">Beschreibung:</label>
					<textarea class="Feldeigenschaften" id="FeldBeschreibung" name="FeldBeschreibung">{{FeldBeschreibung}}</textarea>
				</div>
				<div data-role="fieldcontain">
					<label for="Reihenfolge">Reihenfolge:</label>
					<input class="Feldeigenschaften" id="Reihenfolge" name="Reihenfolge" type="number" value={{Reihenfolge}} />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameEvab">Feldname in EvAB:</label>
					<input class="Feldeigenschaften" id="FeldNameEvab" name="FeldNameEvab" type="text" value="{{FeldNameEvab}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameZdsf">Feldname beim ZDSF:</label>
					<input class="Feldeigenschaften" id="FeldNameZdsf" name="FeldNameZdsf" type="text" value="{{FeldNameZdsf}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="FeldNameCscf">Feldname beim CSCF:</label>
					<input class="Feldeigenschaften" id="FeldNameCscf" name="FeldNameCscf" type="text" value="{{FeldNameCscf}}" />
				</div>
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup">
						<legend>Formularelement:</legend>
							<input type="radio" name="Formularelement" class="Feldeigenschaften" id="textinput" value="textinput"/>
	         				<label for="textinput">textinput</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="textarea" value="textarea"/>
	         				<label for="textarea">textarea</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="toggleswitch" value="toggleswitch"/>
	         				<label for="toggleswitch">toggleswitch</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="slider" value="slider"/>
	         				<label for="slider">slider</label>
							<input type="radio" name="Formularelement" class="Feldeigenschaften" id="selectmenu" value="selectmenu"/>
	         				<label for="selectmenu">selectmenu</label>
	         				<input type="radio" name="Formularelement" class="Feldeigenschaften" id="radio" value="radio"/>
	         				<label for="radio">radio</label>
							<input type="radio" name="Formularelement" class="Feldeigenschaften" id="checkbox" value="checkbox"/>
	         				<label for="checkbox">checkbox</label>
	         		</fieldset>
				</div>
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup">
						<legend>Input Typ für textinput:</legend>
							<input type="radio" name="InputTyp" class="Feldeigenschaften" id="text" value="text"/>
	         				<label for="text">text</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="number" value="number"/>
	         				<label for="number">number</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="date" value="date"/>
	         				<label for="date">date</label>
							<input type="radio" name="InputTyp" class="Feldeigenschaften" id="time" value="time"/>
	         				<label for="time">time</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="datetime" value="datetime"/>
	         				<label for="datetime">datetime</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="email" value="email"/>
	         				<label for="email">email</label>
	         				<input type="radio" name="InputTyp" class="Feldeigenschaften" id="url" value="url"/>
	         				<label for="url">url</label>
	         		</fieldset>
				</div>
				<div data-role="fieldcontain" id="Artgruppenliste">
				</div>
				<div data-role="fieldcontain">
					<label for="FeldBeschreibung">Optionen:</label>
					<textarea class="Feldeigenschaften" id="Optionen" name="Optionen">{{Optionen}}</textarea>
				</div>
				<div data-role="fieldcontain">
					<label for="Standardwert">Standardwert:</label>
					<input class="Feldeigenschaften" id="Standardwert" name="Standardwert" type="text" value="{{Standardwert}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="SliderMinimum">Slider Minimum:</label>
					<input class="Feldeigenschaften" id="SliderMinimum" name="SliderMinimum" type="text" value="{{SliderMinimum}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="SliderMaximum">Slider Maximum:</label>
					<input class="Feldeigenschaften" id="SliderMaximum" name="SliderMaximum" type="text" value="{{SliderMaximum}}" />
				</div>
				
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" onClick="Javascript:neuesFeld();" data-icon="plus">neu</a></li>			
					<li><a href="#" data-role="button" id="LöschenDialogLink" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
  </body>
</html>
