<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.actionsheet.css" type="text/css"/>
	<script src="../../vendor/couchapp/loaderTemplate.js"></script>
  	<script type="text/javascript">
		$( document ).bind("mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});	
	</script>
  </head>
  <body>
	<div data-role="page" id="hArtNeuPage">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" data-rel="back" rel="external" data-iconpos="notext" id="hArtListeLink" name="hArtListeLink">zur Art-Liste</a>
			<h1>neue Art</h1>
			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a name="UserEditLink" href="#" data-role="button" rel="external">meine Einstellungen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="EModus" href="../../BeobListe.html" data-role="button" rel="external">einfacher Modus</a>
  			</div>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink">Ort</a></li>
					<li><a href="#" rel="external" id="hZeitLink">Zeit</a></li>
					<li><a href="" rel="external" class="ui-btn-active" id="hArtListeLink" name=id="hArtListeLink">Arten</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form action="#" method="get" autocomplete="off">
				<div data-role="fieldcontain">
					<label for="aArtGruppe" class="select">Art-Gruppe:</label>
					<select id="aArtGruppe" name="aArtGruppe" data-icon="arrow-r" data-native-menu="true">
						<option>bitte w&auml;hlen</option>
					</select>
				</div>			
			</form>
			<p style="text-align: center">Die übrigen Felder erscheinen, nachdem die Art gewählt wurde.<br />Grund: Sie sind Artgruppen-spezifisch.</p>
		</div>
	</div>

  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady()
	{
  		$db = $.couch.db("evab-ch_barbalex_evab");
		userCtx = null;
		var Autor;
		
		$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
		});

		ZeitId = "{{id}}";

		$db.view("evab/User",
			{success: function(data) {
				var i;
				var beob;
				var key;
				for(i in data.rows)
				{
					beob = data.rows[i].value;
					key = data.rows[i].key;
					if (User == key) {
						aAutor = beob.Autor;
					}
				}
			}
		});

		$("select#aArtGruppe").tap(function(event){
			event.preventDefault();
			$.mobile.changePage("../../Artgruppenliste.html", "slide", true, false);
			ArtgruppenlisteAufbauen();
		});

		$("[name='ArtgruppenListItem']").live("click", function(event) {        
			event.preventDefault();
			aArtGruppe = $(this).attr("id");
			$.mobile.changePage("Artenliste.html", "slide", true, false);
			ArtlisteAufbauen(aArtGruppe);
			$("#ArtgruppenListe").empty();
		});
		
		$("[name='ArtListItem']").live("click", function(event) {
			event.preventDefault();
			aArtName = $(this).attr("id");
			aArtId = $(this).attr("artid");
			$("#ArtenListe").empty();
			speichern();
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{RaumId}}";

		//Link zum Ort in Navbar setzen
		document.getElementById("hOrtLink").href = "../hOrtEdit/" + "{{OrtId}}";

		//Link zur Zeit in Navbar setzen
		document.getElementById("hZeitLink").href = "../hZeitEdit/" + "{{id}}";

		//Link zur ArtListe in Navbar setzen
		var url = "../hArtListe/" + "{{id}}";
		$("[name='hArtListeLink']").attr('href', url);

		//Link zum UserEdit in Menu setzen
		MenuUserEditLinkSetzenTemplate();
	}
	
	$(document).ready(handleDocumentReady);
  </script>

  <script type="text/javascript" charset="utf-8">	

	function speichern(){
		var doc = {};
		doc.Typ = "hArt";
		doc.User = User;
		doc.ProjektId = "{{ProjektId}}"
		doc.RaumId = "{{RaumId}}";
		doc.OrtId = "{{OrtId}}";
		doc.ZeitId = ZeitId;
		doc.aArtGruppe = aArtGruppe;
		doc.aArtName = aArtName;
		doc.aArtId = aArtId;
		doc.aAutor = aAutor;
		$db.saveDoc(doc, {
			success: function(data) {
				window.open("_show/hArtArtgruppeEdit/" + data.id, target="_self");
				//MeldungEinzeilig("Art gespeichert");
			},
			error: function() {
				MeldungEinzeilig("Die Art konnte nicht gespeichert werden.");
			 }
		});
	}
	
  </script>
</html>
