<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.actionsheet.css" type="text/css"/>
  	<style type="text/css">.ui-icon-evab-location {background-image:url('../../Bilder/evab-location.png');}</style>
	<script src="../../vendor/couchapp/loaderTemplate.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  	<script type="text/javascript">
		$( document ).bind( "mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});	
	</script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </head>
  <body>
	<div data-role="page" id="hArtEditPage">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hArtListeLink" name="hArtListeLink">zur Art-Liste</a>
			<h1>Art</h1>
			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a name="UserEditLink" href="#" data-role="button" rel="external">Meine Einstellungen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="EModus" href="../../BeobListe.html" data-role="button" rel="external">Einfacher Modus</a>
  			</div>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink">Ort</a></li>
					<li><a href="#" rel="external" id="hZeitLink">Zeit</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hArtListeLink" name="hArtListeLink">Arten</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form action="#" method="get" autocomplete="off">
				<div data-role="fieldcontain">
					<label for="aArtGruppe" class="select">Art-Gruppe:</label>
					<select id="aArtGruppe" name="aArtGruppe" data-native-menu="false" value="{{aArtGruppe}}">
					</select>
				</div>
				<hr />				
				<div data-role="fieldcontain">
					<label for="aArtName" class="select">Art-Name:</label>
					<select id="aArtName" name="aArtName" data-icon="arrow-r"  data-native-menu="true" value="{{aArtName}}">
					</select>
					</div>
				<div data-role="fieldcontain">
					<label for="aArtId">Art-ID:</label>
					<input id="aArtId" name="aArtId" type="text" value="{{aArtId}}" placeholder="(wird automatisch gesetzt)"/>
					</div>
				<div data-role="fieldcontain">
					<label for="aArtNameUnsicher">Bestimmung unsicher?</label>
					<select name="aArtNameUnsicher" id="aArtNameUnsicher" data-role="slider" value="{{aArtNameUnsicher}}">
						<option value="nein">nein</option>
						<option value="ja">ja</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="aArtNameVerifiziertDurch">verifiziert durch:</label>
					<input id="aArtNameVerifiziertDurch" name="aArtNameVerifiziertDurch" type="text" value="{{aArtNameVerifiziertDurch}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="aArtNameBemerkungen">Bemerkungen zur Art:</label>
					<textarea cols="40" rows="8" name="aArtNameBemerkungen" id="aArtNameBemerkungen" value="{{aArtNameBemerkungen}}">{{aArtNameBemerkungen}}</textarea>
				</div>
				<div data-role="fieldcontain">
					<label for="aMeldungTyp" class="select">Typ der Meldung:</label>
					<select id="aMeldungTyp" name="aMeldungTyp"  data-native-menu="false" value="{{aMeldungTyp}}">
						<option value="Feldbeobachtung">Feldbeobachtung</option>
						<option value="Herbarbeleg">Herbarbeleg</option>
						<option value="Literaturangabe">Literaturangabe</option>
					</select>
				</div>								
				<div data-role="fieldcontain">
					<label for="aAutor">Autor:</label>
					<input id="aAutor" name="aAutor" type="text" value="{{aAutor}}" required/>
				</div>
				<div data-role="fieldcontain">
					<label for="aVorhandensein">Ist Art vorhanden? (nein = Absenzmeldung!)</label>
					<select name="aVorhandensein" id="aVorhandensein" data-role="slider" value="{{aVorhandensein}}">
						<option value="ja">ja</option>
						<option value="nein">nein</option>
					</select> 
				</div>
				<div data-role="fieldcontain">
					<label for="aPopGrösseKlassiert" class="select">Populationsgrösse:</label>
					<select id="aPopGrösseKlassiert" name="aPopGrösseKlassiert" data-native-menu="false" value="{{aPopGrösseKlassiert}}">
						<option>(nur f&uuml;r Flora)</option>
						<option value="<10 Ex.">&lt;10 Ex.</option>
						<option value="11-25 Ex.">11-25 Ex.</option>
						<option value="26-50 Ex.">26-50 Ex.</option>
						<option value="51-100 Ex.">51-100 Ex.</option>
						<option value="101-200 Ex.">101-200 Ex.</option>
						<option value="200-500 Ex.">200-500 Ex.</option>
						<option value="500-1'000 Ex.">500-1'000 Ex.</option>
						<option value="1'000-2'500 Ex.">1'000-2'500 Ex.</option>
						<option value="2'500-5'000 Ex.">2'500-5'000 Ex.</option>
						<option value="5'000-10'000 Ex.">5'000-10'000 Ex.</option>
						<option value=">10'000 Ex.">&gt;10'000 Ex.</option>
					</select>
				</div>
				<div data-role="fieldcontain">
					<label for="aMenge">Menge:</label>
					<input id="aMenge" name="aMenge" type="text" value="{{aMenge}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="aBemerkungen">Bemerkungen zur Beobachtung:</label>
					<textarea cols="40" rows="8" name="aBemerkungen" id="aBemerkungen" value="{{aBemerkungen}}">{{aBemerkungen}}</textarea>
				</div>
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" id="SpeichernButton" data-icon="check" data-iconpos="left" class="ui-btn-active">speichern</a></li>
					<li><a data-role="actionsheet" data-icon="minus" data-iconpos="left">löschen</a>
						<div>
							<p class="PopupText">Diese Art löschen?</p>
							<a id="jaLöschenButton" href="#" data-role="button" rel="external">ja</a>
							<a id="neinNichtLöschenButton" href="#" data-role="button">nein</a>
						</div></li>
					<li><a href="#" data-transition="slideup" data-icon="plus" data-iconpos="left" rel="external" id="hArtNeuLink">neu</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>

	<div data-role="page" id="hArtEditArtauswahl">
		<div data-role="header" data-position="fixed">
			<a href="#BeobEditPage" data-role="button" data-icon="arrow-l" data-rel="dialog" data-iconpos="notext">abbrechen</a>
			<h1>Art wählen</h1>
			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a name="UserEditLink" href="#" data-role="button" rel="external">Meine Einstellungen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="hModus" href="../../hProjektListe.html" data-role="button" rel="external">Hierarchischer<br />Modus</a>
  			</div>
		</div>
		<div data-role="content">
			<ul id="Artliste" data-role="listview" data-theme="c" data-filter="true" data-filter-placeholder="Filter setzen..." />
		</div>
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady()
	{
  		$db = $.couch.db("evab-ch_barbalex_evab");
		userCtx = null;
		
		$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
		});

		//select-Felder aktualisieren
		$("select#aMeldungTyp").selectmenu();
		$("select#aMeldungTyp").val("{{aMeldungTyp}}");
		$("select#aMeldungTyp").selectmenu("refresh");
		refreshArtGruppen("{{aArtGruppe}}");
		refreshArtName("{{aArtName}}");
		$("select#aArtNameUnsicher").slider();
		$("select#aArtNameUnsicher").val("{{aArtNameUnsicher}}");
		$("select#aArtNameUnsicher").slider("refresh");
		$("select#aVorhandensein").slider();
		$("select#aVorhandensein").val("{{aVorhandensein}}");
		$("select#aVorhandensein").slider("refresh");
		$("select#aPopGrösseKlassiert").selectmenu();
		$("select#aPopGrösseKlassiert").val("{{aPopGrösseKlassiert}}");
		$("select#aPopGrösseKlassiert").selectmenu("refresh");

		$("#SpeichernButton").tap(function(event) {
			var docId = "{{id}}";
			$db.openDoc(docId, {
				success: function(doc) {
					doc.Typ = "hArt";
					doc.User = User;
					doc.ProjektId = "{{ProjektId}}";
					doc.RaumId = "{{RaumId}}";
					doc.OrtId = "{{OrtId}}";
					doc.ZeitId = "{{ZeitId}}";
					if ($("select#aMeldungTyp").val()!=""){
						doc.aMeldungTyp = $("select#aMeldungTyp").val();
					} else if (doc.aMeldungTyp!=null){
						delete doc.aMeldungTyp;
					}
					if ($("select#aArtGruppe").val()!=""){
						doc.aArtGruppe = $("select#aArtGruppe").val();
					} else if (doc.aArtGruppe!=null){
						delete doc.aArtGruppe;
					}
					if ($("select#aArtName").val()!=""){
						doc.aArtName = $("select#aArtName").val();
					} else if (doc.aArtName!=null){
						delete doc.aArtName;
					}
					if ($("input#aArtId").val()!=""){
						doc.aArtId = $("input#aArtId").val();
					} else if (doc.aArtId!=null){
						delete doc.aArtId;
					}
					if ($("select#aArtNameUnsicher").val()!=""){
						doc.aArtNameUnsicher = $("select#aArtNameUnsicher").val();
					} else if (doc.aArtNameUnsicher!=null){
						delete doc.aArtNameUnsicher;
					}
					if ($("input#aArtNameVerifiziertDurch").val()!=""){
						doc.aArtNameVerifiziertDurch = $("input#aArtNameVerifiziertDurch").val();
					} else if (doc.aArtNameVerifiziertDurch!=null){
						delete doc.aArtNameVerifiziertDurch;
					}
					if ($("[id='aArtNameBemerkungen']").val()!=""){
						doc.aArtNameBemerkungen = $("[id='aArtNameBemerkungen']").val();
					} else if (doc.aArtNameBemerkungen!=null){
						delete doc.aArtNameBemerkungen;
					}
					if ($("input#aAutor").val()!=""){
						doc.aAutor = $("input#aAutor").val();
					} else if (doc.aAutor!=null){
						delete doc.aAutor;
					}
					if ($("select#aVorhandensein").val()!=""){
						doc.aVorhandensein = $("select#aVorhandensein").val();
					} else if (doc.aVorhandensein!=null){
						delete doc.aVorhandensein;
					}
					if ($("select#aPopGrösseKlassiert").val()!=""){
						doc.aPopGrösseKlassiert = $("select#aPopGrösseKlassiert").val();
					} else if (doc.aPopGrösseKlassiert!=null){
						delete doc.aPopGrösseKlassiert;
					}
					if ($("input#aMenge").val()!=""){
						doc.aMenge = $("input#aMenge").val();
					} else if (doc.aMenge!=null){
						delete doc.aMenge;
					}
					if ($("[id='aBemerkungen']").val()!=""){
						doc.aBemerkungen = $("[id='aBemerkungen']").val();
					} else if (doc.aBemerkungen!=null){
						delete doc.aBemerkungen;
					}
					$db.saveDoc(doc, {
						success: function(data) {
							MeldungEinzeilig("Art gespeichert");
						},
						error: function() {
							MeldungEinzeilig("Die Art konnte nicht gespeichert werden.");
						 }
					});
				}
			});
		});

		$("select#aArtGruppe").change(function(){
			var ArtGruppe = $("select#aArtGruppe").val();
			if (ArtGruppe != "") {
				$("select#aArtName").empty();
				$("select#aArtName").append("<option>jetzt die Art w&auml;hlen</option>");
				$("select#aArtName").val("jetzt die Art w&auml;hlen");
				$("select#aArtName").selectmenu("refresh");
			}
		});
		
		$("select#aArtName").tap(function(event){
			event.preventDefault();
			var ArtGruppe = $("select#aArtGruppe").val();
			if (ArtGruppe != "") {
				$.mobile.changePage("#hArtEditArtauswahl", "slide", false, false);
				ArtlisteAufbauen(ArtGruppe);
			} else {
				$("select#aArtName").empty();
				$("select#aArtName").append("<option>bitte Art-Gruppe w&auml;hlen!</option>");
				$("select#aArtName").val("bitte Art-Gruppe w&auml;hlen!");
				$("select#aArtName").selectmenu("refresh");
			}
		});

		$('[name="ArtListItem"]').live("vclick", function(event) {
			event.preventDefault();
			var ArtName = $(this).attr("id");
			var ArtId = $(this).attr("artid");
			var option = "<option value='" + ArtName + "'>" + ArtName + "</option>";
			$("select#aArtName").empty();
			$("select#aArtName").append(option);
			$("input#aArtName").val(ArtName);
			$("select#aArtName").selectmenu("refresh");
			$("input#aArtId").val(ArtId);
			$.mobile.changePage("#hArtEditPage", "slide", true, false);
			$("#Artliste").empty();
		});

		//Code für das Löschen-Popup
		document.getElementById("neinNichtLöschenButton").href = "../hArtArtgruppeEdit/" + "{{id}}";
		document.getElementById("jaLöschenButton").href = "../hArtListe/" + "{{ZeitId}}";
		$('[id="jaLöschenButton"]').live("click", function() {
			handleDelete();
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{RaumId}}";

		//Link zum Ort in Navbar setzen
		document.getElementById("hOrtLink").href = "../hOrtEdit/" + "{{OrtId}}";

		//Link zur Zeit in Navbar setzen
		document.getElementById("hZeitLink").href = "../hZeitEdit/" + "{{ZeitId}}";

		//Link zur ArtListe in Navbar setzen
		var url = "../hArtListe/" + "{{ZeitId}}";
		$("[name='hArtListeLink']").attr('href', url);

		//Link zu ArtNeu setzen
		document.getElementById("hArtNeuLink").href = "../hArtNeu/" + "{{ZeitId}}";

		//Link zum UserEdit in Menu setzen
		var UserId;
		$db.view("evab/User",
			{success: function(data) {
				var i;
				var doc;
				for(i in data.rows) {
					key = data.rows[i].key;
					doc = data.rows[i].value;
					if (key == User) {
						UserId = doc._id;
					}
				}
				var url = "../UserEdit/" + UserId;
				$("[name='UserEditLink']").attr('href', url);
			}
		});
	}
	
	$(document).ready(handleDocumentReady);
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	function refreshArtGruppen(aArtGruppe)
	{
		$("select#aArtGruppe").empty();
		var viewname = "evab/Artgruppen";
		$db.view(viewname, {
			success: function(data) {
				var i;
				var ListItem;
				var ListItemContainer = "<option value=''></option>";
				var ArtGruppe;
				for(i in data.rows)
				{
					ArtGruppe = data.rows[i].key;
					ListItem = "<option value='" + ArtGruppe + "'>" + ArtGruppe + "</option>";
					ListItemContainer = ListItemContainer + ListItem;
				}
				$("select#aArtGruppe").selectmenu();
				$("select#aArtGruppe").append(ListItemContainer);
				$("select#aArtGruppe").val(aArtGruppe);
				$("select#aArtGruppe").selectmenu("refresh");
			}
		});
	}
	
	function refreshArtName(aArtName)
	{
		$("select#aArtName").selectmenu();
		$("select#aArtName").empty();
		var startoption = "<option value='" + aArtName + "'>" + aArtName + "</option>";
		$("select#aArtName").append(startoption);
		$("select#aArtName").val(aArtName);
		$("select#aArtName").selectmenu("refresh");
	}

	function ArtlisteAufbauen(ArtGruppe)
	{ 
		var viewname = "evab/Artliste" + ArtGruppe;
		$db.view(viewname, {
			success: function(data) {
				var i;
				var ListItem;
				var ListItemContainer = "";
				var ArtName;
				var ArtValue;
				var ArtId;
				var HinweisVerwandschaft;
				for(i in data.rows)
				{
					ArtName = data.rows[i].key;
					ArtValue = data.rows[i].value;
					ArtId = ArtValue.id;
					if(ArtValue.HinweisVerwandschaft){
						ListItem = "<li name=\"ArtListItem\" id=\"" + ArtName + "\" ArtId=\"" + ArtId + "\">" +
						"<a href=\"#\">" +
						"<h3>" + ArtName + "<\/h3>" +
						"<p>" + ArtValue.HinweisVerwandschaft + "<\/p>" +
						"<\/a> <\/li>";
					}else{
						ListItem = "<li name=\"ArtListItem\" id=\"" + ArtName + "\" ArtId=\"" + ArtId + "\">" +
						"<a href=\"#\">" +
						"<h3>" + ArtName + "<\/h3>" +
						"<\/a> <\/li>";
					}
					ListItemContainer = ListItemContainer + ListItem;
				}
				ListItemContainer = ListItemContainer + "<\/ul>";
				$("#Artliste").append(ListItemContainer);
				$("#Artliste").listview();
				$("#Artliste").listview("refresh");
			}
		});
	}

	function handleDelete(event)
	{
		var docId = "{{id}}";
		var ZeitId = "{{ZeitId}}";
		// First open doc based on ID in order to get full document
		$db.openDoc(docId, {
			success: function(document) {
				// Then use the opened doc as reference to remove
				$db.removeDoc(document, {
					success: function() {
						MeldungEinzeilig("Art gelöscht");
						window.open("../hArtListe/" + ZeitId, target="_self");
					},
					error: function() {
						MeldungEinzeilig("Die Art konnte nicht gelöscht werden");
					}
				});
			},
			error: function() {
				MeldungEinzeilig("Eine Art mit der ID: " + docId + " wurde nicht gefunden");
			}
		});
		return false;
	}
  </script>
</html>
