<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<style type="text/css">.ui-icon-evab-location {background-image:url('../../Bilder/evab-location.png');}</style>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).on("mobileinit", function() {
			$.mobile.selectmenu.prototype.options.nativeMenu = true; 
			$.event.special.swipe.horizontalDistanceThreshold = 250;
		});
    </script>	
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.form.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  </head>
  <body>
	<div data-role="page" id="hArtEditPage">
		<div data-role="header" id="hArtEditPageHeader" data-position="fixed" data-tap-toggle="false">
			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hArtListeLink" name="hArtListeLink">zur Art-Liste</a>
			<h1>Art</h1>
			<a href='#' id='Menu' data-role='button' data-icon="wrench" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink">Ort</a></li>
					<li><a href="#" rel="external" id="hZeitLink">Zeit</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hArtListeLink" name="hArtListeLink">Arten</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content" id="hArtEditContent">
			<form id="hArtEditForm" action="#" method="get" autocomplete="off">
				<div data-role='fieldcontain'>
					<label for='aArtGruppe' class='select'>Artgruppe:</label>
					<select name='aArtGruppe' id='aArtGruppe' class='speichern' data-icon='arrow-r' data-native-menu='true' value="{{aArtGruppe}}">
						<option value="{{aArtGruppe}}">{{aArtGruppe}}</option>
					</select>
				</div>
				<div data-role='fieldcontain'>
					<label for='aArtName' class='select'>Artname:</label>
					<select name='aArtName' id='aArtName' class='speichern' data-icon='arrow-r' data-native-menu='true' value="{{aArtName}}">
						<option value="{{aArtName}}">{{aArtName}}</option>
					</select>
				</div>
				<div id="hArtEditFormHtml">

				</div>
			</form>
			<p id="Hinweistext" class="HinweisDynamischerFeldaufbau">Die Felder werden aufgebaut...</p>
			<form id="FormAnhänge" action="" method="post" >
				<hr />
				<div style="display: inline"><big><b>Anhänge</b></big> (z.B. Bilder, Tonaufnahmen)</div>
				<div id="Anhänge"></div>			
				<div data-role="fieldcontain">
				    <label for="_attachments" class="ui-input-text">Dateien anfügen:</label>
				    <input type="file" id="_attachments" name="_attachments" multiple class="speichernAnhang ui-body-c"/>
				    <p>Tipp: Auf modernen Desktop-Browsern können Sie die Dateien auch mit Drag & Drop im Feld neben der Schaltfläche "droppen".</p>
				</div>
				<input type="hidden" id="_rev" name="_rev">
			</form>
		</div>
		<div data-role="footer" id="hArtEditPageFooter" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" id="hArtNeuLink" class="ui-btn-active">neu</a></li>				
					<li><a href="#" id="LöschenDialogLink" data-role="button" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
					<li><a href="#" id="wähleFelder" data-icon="info">Felder</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">

	function handleDocumentReady() {
		
		var Pfad = "../../";
		User = "";
		aArtId = "{{aArtId}}";
		aArtGruppe = "{{aArtGruppe}}";
		aArtName = "{{aArtName}}";
		ID = "{{id}}";

		prüfeAnmeldung(Pfad);
		$("#aArtGruppe").selectmenu();
		$("#aArtGruppe").selectmenu("refresh");
		$("#aArtName").selectmenu();
		$("#aArtName").selectmenu("refresh");

		erstelle_hArtEdit(ID, aArtGruppe, User);

		speichereLetzteUrl(User);

		//Für jedes Feld bei Änderung speichern
		$("#hArtEditForm").on("change", ".speichern", function(event) {
			var Feldname = this.name;
			//nötig, damit Arrays richtig kommen
			var Feldjson = $("[name='" + Feldname + "']").serializeObject();
			var Feldwert = Feldjson[Feldname];
			speichern(Feldname, Feldwert);
		});

		//Slider-Felder erst bei mouseup speichern
		//change wird für jeden geswipten Wert ausgelöst!
		//ungelöstes Problem: swipe reagiert!
		$("#hArtEditForm").on("mouseup", ".ui-slider", function(event) {
			var Feldname = this.name;
			//nötig, damit Arrays richtig kommen
			var Feldjson = $("#" + this.name).serializeObject();
			var Feldwert = Feldjson[Feldname];
			speichern(Feldname, Feldwert);
		});

		//Änderungen im Formular für Anhänge speichern
		$("#FormAnhänge").on("change", ".speichernAnhang", function() {
			var _attachments = $("#_attachments").val();
			if (_attachments && _attachments.length != 0) {
				speichereAnhänge("{{id}}");
			}
		});

		var Status = get_url_param("Status");

		//Neue Beobachtung managen
		$("#hArtEditPageFooter").on("click", "#hArtNeuLink", function(event) {
			event.preventDefault();
			zuArtgruppenliste("neu");
		});

		//Editieren von Beobachtungen managen, ausgehend von Artgruppe
		$("#hArtEditForm").on("click", "#aArtGruppe", function(event) {
			event.preventDefault();
			zuArtgruppenliste("edit");
		});

		//Editieren von Beobachtungen managen, ausgehend von ArtName
		$("#hArtEditForm").on("click", "#aArtName", function(event) {
			event.preventDefault();
			zuArtliste(aArtGruppe, "edit");
		});

		//sichtbare Felder wählen
		$("#hArtEditPageFooter").on("click", "#wähleFelder", function(event){
			event.preventDefault();
			window.open("../../Felder_hArt.html?ArtGruppe=" + aArtGruppe + "&zurueck=_show/hArtEdit/" + "{{id}}", target="_self");
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{hProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{hRaumId}}";

		//Link zum Ort in Navbar setzen
		document.getElementById("hOrtLink").href = "../hOrtEdit/" + "{{hOrtId}}";

		//Link zur Zeit in Navbar setzen
		document.getElementById("hZeitLink").href = "../hZeitEdit/" + "{{hZeitId}}";

		//Link zur ArtListe in Navbar setzen
		var url = "../hArtListe/" + "{{hZeitId}}";
		$("[name='hArtListeLink']").attr('href', url);

		//Link zu ArtNeu setzen
		document.getElementById("hArtNeuLink").href = "../hArtNeu/" + "{{hZeitId}}";

		//Code für den Art-Löschen-Dialog
		$("#hArtEditPageFooter").on('click', '#LöschenDialogLink', function() {
			$(this).simpledialog({
				'mode' : 'bool',
		    	'prompt' : 'Diese Art löschen?',
		    	'forceInput': 'false',
		    	'buttons' : {
				 	'ja': {
				      	click: function() {
				        	$('#dialogoutput').text('ja');
				        	löscheBeobachtung();
		        		},
		        		icon: "delete",
		        		theme: "c"
		      		},
		      		'nein': {
		        		click: function() {
		          			$('#dialogoutput').text('nein');
		        		}
		      		}
		    	}
		  	})
		});

		//Menu aufbauen
		$('#hArtEditPageHeader').on('click', "#Menu", function() {
			erstelleMenu(this, User, aArtGruppe);
		});

		$(document).on("swipeleft", function() {
			nächsteVorigeArt("{{id}}", "nächste");
		});

		$(document).on("swiperight", function() {
			nächsteVorigeArt("{{id}}", "vorige");
		});

		$("#FormAnhänge").on("click", "[name='LöscheAnhang']", function(event) {
			event.preventDefault();
			var Dateiname = this.id;
			$db = $.couch.db("evab");
			$db.openDoc("{{id}}", {
				success: function(Beob) {
					delete Beob._attachments[Dateiname];
					$db.saveDoc(Beob, {
						success: function() {
							erstelleAttachments("{{id}}");
						}
					});
				}
			});
		});
	}
	
	$(document).ready(handleDocumentReady);

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(session.userCtx.name != (undefined || null)) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html?Status=neu", target="_self");
				}
		    }
		});
	}

	function zuArtgruppenliste(Status) {
		window.open("../../Artgruppenliste.html?User=" + User + "&Status=" + Status + "&Von=hArtEdit&BeobId=" + "{{id}}" + "&hProjektId=" + "{{hProjektId}}" + "&hRaumId=" + "{{hRaumId}}" + "&hOrtId=" + "{{hOrtId}}" + "&hZeitId=" + "{{hZeitId}}", target="_self");
	}

	function zuArtliste(aArtGruppe, Status) {
		//prüfen, ob die Artgruppe ihre Arten in einer nested List anbietet
		//wenn ja: Artgruppenliste aufrufen und Artgruppe übergeben, damit direkt die nested list angezeigt wird
		//wenn nein: direkt die Artenliste aufrufen
		var viewname = 'evab/Artgruppen?key="' + "{{aArtGruppe}}" + '"';
		$db = $.couch.db("evab");
		$db.view(viewname, {
			success: function(data) {
				var ArtGruppen_2_L = data.rows[0].value.ArtGruppen_2_L;
				if (ArtGruppen_2_L) {
					window.open("../../Artgruppenliste.html?User=" + User + "&aArtGruppe=" + aArtGruppe + "&Status=" + Status + "&Von=hArtEdit&BeobId=" + "{{id}}" + "&hProjektId=" + "{{hProjektId}}" + "&hRaumId=" + "{{hRaumId}}" + "&hOrtId=" + "{{hOrtId}}" + "&hZeitId=" + "{{hZeitId}}", target="_self");
				} else {
					window.open("../../Artenliste.html?User=" + User + "&aArtGruppe=" + aArtGruppe + "&Status=" + Status + "&Von=hArtEdit&BeobId=" + "{{id}}" + "&hProjektId=" + "{{hProjektId}}" + "&hRaumId=" + "{{hRaumId}}" + "&hOrtId=" + "{{hOrtId}}" + "&hZeitId=" + "{{hZeitId}}", target="_self");
				}
			}
		});
	}

	//Menü aufbauen
	function erstelleMenu(thiz, User, ArtGruppe){
		//Code um Menü aufzubauen
		$(thiz).simpledialog({
			'mode' : 'bool',
			'prompt' : 'Menü',
			'fullHTML': 'true',
	    	'buttons' : {
			 	'einfacher Modus': {
			      	click: function() {
			        	window.open("../../BeobListe.html", target="_self");
	        		},
	        		theme: "a",
	        		icon: "check"
	      		},
	      		'Arteigenschaften': {
			      	click: function() {
			        	window.open("../ArtEdit/" + "{{aArtId}}" + "?zurueck=hArtEdit/" + "{{id}}", target="_self");
	        		},
	        		theme: "a",
	        		icon: "question"
	      		},
	      		'Felder verwalten': {
			      	click: function() {
			        	window.open("../../FeldListe.html?zurueck=hArtEdit/" + "{{id}}", target="_self");
	        		},
	        		theme: "a",
	        		icon: "edit"
	      		},
	      		'Beobachtungen<br>exportieren': {
			      	click: function() {
			        	window.open('../../_list/ExportBeob/ExportBeob?startkey=["' + User + '",{},{},{},{},{}]&endkey=["' + User + '"]&descending=true');
	        		},
	        		theme: "a",
	        		icon: "arrow-r"
	      		},
	      		'Einstellungen': {
			      	click: function() {
			        	öffneMeineEinstellungen(User, "../../");
	        		},
	        		theme: "a",
	        		icon: "wrench"
	      		},
	      		'lokal installieren': {
			      	click: function() {
			        	window.open("../../Installieren.html", target="_self");
	        		},
	        		theme: "a",
	        		icon: "lightning"
	      		},
	      		'neu anmelden': {
			      	click: function() {
			        	window.open("../../index.html?Status=neu", target="_self");
	        		},
	        		theme: "a",
	        		icon: "person"
	      		},
	      		'schliessen': {
	                click: function() { return true; },
	                icon: "back",
	                theme: "c"
	            }
	    	}
	  	})
	}
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	function löscheBeobachtung(event) {
		var docId = "{{id}}";
		var hZeitId = "{{hZeitId}}";
		// First open doc based on ID in order to get full document
		$db = $.couch.db("evab");
		$db.openDoc(docId, {
			success: function(document) {
				// Then use the opened doc as reference to remove
				$db.removeDoc(document, {
					success: function() {
						melde("Art gelöscht");
						window.open("../hArtListe/" + hZeitId, target="_self");
					},
					error: function() {
						melde("Fehler: Art nicht gelöscht");
					}
				});
			},
			error: function() {
				melde("Fehler: Art nicht gelöscht");
			}
		});
		return false;
	}

	//Speichert alle Daten
	function speichern(Feldname, Feldwert) {
		$db = $.couch.db("evab");
		//Bestehendes Dokument öffnen
		$db.openDoc("{{id}}", {
			success: function(hArt) {
				//Werte aus dem Formular aktualisieren
				if (Feldwert) {
					hArt[Feldname] = Feldwert;
				} else if (hArt[Feldname]) {
					delete hArt[Feldname]
				}
				hArt.aArtId = aArtId;
				hArt.aArtName = aArtName;
				hArt.aArtGruppe = aArtGruppe;
				$db.saveDoc(hArt, {
					success: function() {
						/*if (NeuÖffnenIn) {
							window.open("_show/hArtEdit/" + "{{id}}", target="_self");
						}*/
					},
					error: function() {
						melde("Fehler: Art nicht gespeichert");
					 }
				});
			}
		});
	}

	//Speichert alle Daten
	//wird aufgerufen von evab.js, function erstelle_hArtEdit
	//und stellt sicher, dass die dynamisch erstellten Standardwerte gespeichert werden
	function speichereAlles() {
		$db = $.couch.db("evab");
		$db.openDoc("{{id}}", {
			success: function(hArt) {
				var Formularwerte = {};
				Formularwerte = $("#hArtEditForm").serializeObject();
				//Werte aus dem Formular aktualisieren
				for (i in Formularwerte) {
					if (Formularwerte[i] && Formularwerte[i] !== "Position ermitteln...") {
						hArt[i] = Formularwerte[i];
					} else if (hArt[i]) {
						delete hArt[i]
					}
				}
				$db.saveDoc(hArt);
			}
		});
	}

	//Öffnet die vorige oder nächste Art
	//vorige der ersten => ArtListe
	//nächste der letzten => melden
	//erwartet die ID des aktuellen Datensatzes und ob nächster oder voriger gesucht wird
	function nächsteVorigeArt(IdAktuell, NächsteOderVorige) {
		$db = $.couch.db("evab");
		$db.view('evab/hArtListe?startkey=["' + User + '", "' + "{{hZeitId}}" + '"]&endkey=["' + User + '", "' + "{{hZeitId}}" + '" ,{}]', {
			success: function(data) {
				var i;
				var ArtIdAktuell;
				var ArtIdNächste;
				var ArtIdVorige;
				var AnzArt;
				for(i in data.rows) {
					ArtIdAktuell = data.rows[i].value._id;
					var AnzArt = data.rows.length -1;  //vorsicht: Objekte zählen Elemente ab 1, Arrays ab 0!
					if (ArtIdAktuell == IdAktuell) {
						switch (NächsteOderVorige) {
						case "nächste":
							if (i < AnzArt) {
								ArtIdNächste = data.rows[parseInt(i)+1].value._id;
								window.open(ArtIdNächste, target="_self");
							} else {
								melde("Das ist die letzte Art");
							}
							break;
						case "vorige":
							if (i > 0) {
								ArtIdVorige = data.rows[i-1].value._id;
								window.open(ArtIdVorige, target="_self");
							} else {
								window.open("../hArtListe/" + "{{hZeitId}}", target="_self");
							}
							break;
						}
					}
				}
			}
		});
	}
  </script>
</html>
