<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function(){
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
		});
    </script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>  	
  </head>
  <body>
  	<div data-role="page">
  		<div data-role="header" id="hArtListePageHeader" data-position="fixed" data-backbtn="false">
  			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hZeitLink" name="hZeitLink">zum Zeitpunkt</a>
  			<h2 class="hArtListePageTitel">Art</h2>
  			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink" name="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink" name="hOrtLink">Ort</a></li>
					<li><a href="#" rel="external" id="hZeitLink" name="hZeitLink">Zeit</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hArtListeLink">Arten</a></li>
				</ul>
			</div><!-- /navbar -->
  		</div>
		<div data-role="content">
			<ul id="Arten" data-role="listview" data-theme="c" data-filter="true" data-filter-placeholder="Filter setzen..." />
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" class="ui-btn-active" id="hArtNeuLink">neue Art</a></li>
				</ul>
			</div>
		</div>
	</div>

  </body>
  <script type="text/javascript" charset="utf-8">
	function handleDocumentReady() {
		$db = $.couch.db("evab");
		
		var Pfad = "../../";
		User = "";
		
		prüfeAnmeldung(Pfad);
		
		refreshArtListe();

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{RaumId}}";

		//Link zum Ort in Navbar setzen
		document.getElementById("hOrtLink").href = "../hOrtEdit/" + "{{OrtId}}";

		//Link zur Zeit in Navbar und Titelleiste setzen
		var url = "../hZeitEdit/" + "{{id}}";
		$("[name='hZeitLink']").attr('href', url);

		//Link zur ArtListe in Navbar setzen
		document.getElementById("hArtListeLink").href = "../hArtListe/" + "{{id}}";

		//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
		UserId = holeUserId(User);

		//Menu aufbauen
		$("[name='Menu']").live('click', function() {
			var zurueck = "hArtListe/" + "{{id}}";
			erstelleMenuHierarchisch(zurueck, this, User, UserId, "../../");
		});

		//Neue Beobachtung managen
		$("#hArtNeuLink").live("click", function(event) {
			event.preventDefault();
			erstelleNeueBeob_1_Artgruppenliste();
		});

		$("[name='ArtgruppenListItemNeu']").live("click", function(event) {        
			event.preventDefault();
			var aArtGruppe = $(this).attr("id");
			$.mobile.changePage("Artenliste.html", {transition: "slide", reverse: "false", showLoadMsg: "true", reloadPage: "true"});
			erstelleArtliste(aArtGruppe, "Neu", "");
			$("#ArtgruppenlistePage").empty().remove();
		});
		
		$("[name='ArtListItemNeu']").live("click", function(event) {
			event.preventDefault();
			var aArtGruppe = $(this).attr("aArtGruppe");
			var aArtName = $(this).attr("ArtBezeichnung");
			var aArtId = $(this).attr("artid");
			$("#ArtenlistePage").empty().remove();
			speichereNeueBeobachtungHierarchisch("{{ProjektId}}", "{{RaumId}}", "{{OrtId}}", "{{id}}", User, aArtGruppe, aArtName, aArtId);
		});	
	}
	
	$(document).ready(handleDocumentReady);

	function erstelleNeueBeob_1_Artgruppenliste() {
		$.mobile.changePage("../../Artgruppenliste.html", {transition: "slide", reverse: "false", showLoadMsg: "true", reloadPage: "true"});
		erstelleArtgruppenliste("Neu");
	}

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session?callback=',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(User != undefined || null) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html", target="_self");
				}
		    }
		});
	}
  </script>
  <script type="text/javascript" charset="utf-8">	
  	function refreshArtListe() {
		$("#Arten").empty();
		var ZeitId = "{{id}}";
		$db.view('evab/hArtListe?startkey=["' + User + '", "' + ZeitId + '"]&endkey=["' + User + '", "' + ZeitId + '" ,{}]', {
			success: function(data) {
				var i;
				var anzArt = 0;
				var Art;
				var externalPage;
				var listItem;
				var ListItemContainer = "";
				for(i in data.rows) {                    //Arten zählen. Wenn noch keine: darauf hinweisen
					anzArt += 1;
				}

				var Titel2 = " Arten";                   //Im Titel der Seite die Anzahl Arten anzeigen
				if (anzArt==1){
					Titel2 = " Art";
				}
				$("#hArtListePageHeader .hArtListePageTitel").text(anzArt + Titel2);

				if (anzArt == 0) {
					ListItemContainer = '<li><a href="javascript:erstelleNeueBeob_1_Artgruppenliste()" data-transition="slideup" rel="external">Erste Art erfassen</a></li>';
				} else {
					for(i in data.rows) {                //Liste aufbauen
						Art = data.rows[i].value;
						key = data.rows[i].key;
						aArtGruppe = Art.aArtGruppe;
						ImageLink = "../../Artgruppenbilder/" + aArtGruppe + ".png";
						var bArtName = key[2];
						externalPage = "../../_show/hArtEdit/" + Art._id;
						listItem = "<li class=\"beob ui-li-has-thumb\" id=\"" + Art._id + "\" aArtGruppe=\"" + aArtGruppe + "\">" +
							"<a href=\"" + externalPage + "\" rel=\"external\">" +
							"<img class=\"ui-li-thumb\" src=\"" + ImageLink + "\" />" +
							"<h3>" + bArtName + "<\/h3>" +
							"<\/a> <\/li>";
						ListItemContainer += listItem;
					}
				}
				ListItemContainer += "<\/ul>";
				$("#Arten").html(ListItemContainer);
				$("#Arten").listview();
				$("#Arten").listview("refresh");
			}
		});
	}
  </script>
</html>
