<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
  	<script type="text/javascript">			
		$(document).bind("mobileinit", function(){
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
		});
    </script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/markerclusterer.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/markerwithlabel.js"></script>
  </head>

  <body>
  	<div data-role="page" id="hOrtListePage">
  		<div data-role="header" id="hOrtListePageHeader" data-position="fixed" data-backbtn="false">
  			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hRaumLink" name="hRaumLink">zum Raum</a>
  			<h2 class="hOrtListePageTitel">Orte</h2>
  			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink" name="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hOrtListeLink">Orte</a></li>
				</ul>
			</div><!-- /navbar -->
  		</div>
		<div data-role="content">
			<ul id="Orte" data-role="listview" data-theme="c" data-filter="true" data-filter-placeholder="Filter setzen..." />
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" class="ui-btn-active" id="hOrtNeuLink" name="hOrtNeuLink">neuer Ort</a></li>
					<li><a href="#" id="GeButton" data-icon="star">Karte</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div data-role="page" id="hOrtListeMapPage" style="width:100%; height:100%;">
		<div data-role="header" data-position="fixed">
			<a href="#hOrtListePage" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse">zurück zur Ortliste</a>
			<h1>Karte</h1>
			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
		</div>
		<div data-role="content" style="width:100%; height:100%; padding:0;"> 
			<div id="map_canvas" style="width:100%; height:100%;"></div>
		</div>
	</div>

  </body>

  <script type="text/javascript" charset="utf-8">
	function handleDocumentReady()
	{
		$db = $.couch.db("evab");
		
		var Pfad = "../../";
		User = "";
		
		prüfeAnmeldung(Pfad);
		
		refreshOrtListe();

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar und Titelleiste setzen
		var url = "../hRaumEdit/" + "{{id}}";
		$("[name='hRaumLink']").attr('href', url);

		//neuen Ort erstellen
		$("[name='hOrtNeuLink']").live('click', function(){
			erstelleNeuenOrt(User, "{{ProjektId}}", "{{id}}");
		});

		//Link zur OrtListe in Navbar setzen
		document.getElementById("hOrtListeLink").href = "../hOrtListe/" + "{{id}}";

		//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
		UserId = holeUserId(User);

		//Menu aufbauen
		$("[name='Menu']").live('click', function(){
			var zurueck = "hOrtListe/" + "{{id}}";
			erstelleMenuHierarchisch(zurueck, this, User, UserId, "../../");
		});

		$("#GeButton").tap(function(event) {                        //ToDo: Prüfen, ob Beobachtungen mit LatLng vorliegen
			$.mobile.changePage("#hOrtListeMapPage", "slide", false, true);
		});

		$('#hOrtListeMapPage').live("pagecreate", function() {
			/*
			zuerst Koordinaten holen, Karte darum zentrieren
			dann in schleife alle marker setzen
			listener schaffen
			*/
			var lat = 47.383333;
			var lng = 8.533333;
			if ( navigator.geolocation ) { 
	        	navigator.geolocation.getCurrentPosition ( 
	            function(position) {
	            	lat = position.coords.latitude;
	            	lng = position.coords.longitude;     
	            }); 
	        }
			var latlng = new google.maps.LatLng(lat, lng);
			var options = {
			    zoom: 15,
			    center: latlng,
			    streetViewControl: false,
			    mapTypeId: google.maps.MapTypeId.HYBRID
			};
			var map = new google.maps.Map(document.getElementById("map_canvas"),options);
			google.maps.event.trigger(map,'resize');
			
			//jetzt für alle Orte dieses Users in diesem Raum marker erstellen
			var RaumId = "{{id}}";
			$db.view('evab/hOrtListeLatLng?startkey=["' + User + '", "' + RaumId + '"]&endkey=["' + User + '", "' + RaumId + '" ,{}]',
				{success: function(data) {
					var i;
					var anzOrt = 0;
					var Ort;
					var infowindow = new google.maps.InfoWindow();
					for(i in data.rows) {                    //Orte zählen. Wenn noch keine: darauf hinweisen
						anzOrt += 1;
					}
					if (anzOrt == 0) {
						melde("Es wurden noch keine Orte mit Koordinaten erfasst");
					} else {
						var markers = [];
						for(i in data.rows) {               //Liste aufbauen
							Ort = data.rows[i].value;
							key = data.rows[i].key;
							var OrtId = Ort._id;
							var oName = Ort.oName;
							var oXKoord = Ort.oXKoord;
							var oYKoord = Ort.oYKoord;
							var lat2 = Ort.oLatitudeDecDeg;
							var lng2 = Ort.oLongitudeDecDeg;
							var externalPage = "../../_show/hOrtEdit/" + OrtId;
							var latlng2 = new google.maps.LatLng(lat2, lng2);
							var marker = new MarkerWithLabel({ 
								map: map,
								position: latlng2,  
							    title: oName,
							    labelContent: oName,
							    labelAnchor: new google.maps.Point(22, 0),
							    labelClass: "MapLabel", // the CSS class for the label
								labelStyle: {opacity: 0.75}
							});
							markers.push(marker);
							var contentString = '<div id="content">'+
							    '<div id="siteNotice">'+
							    '</div>'+
							    '<h4 id="firstHeading" class="GmInfowindow">' + oName + '</h4>'+
							    '<div id="bodyContent" class="GmInfowindow">'+
							    "<p><a href=\"" + externalPage + "\" rel=\"external\">bearbeiten<\/a></p>"+
							    '<p>X-Koordinate: ' + oXKoord + '</p>'+
							    '<p>Y-Koordinate: ' + oYKoord + '</p>'+
							    '</div>'+
							    '</div>';
							makeListener(map, marker, contentString);
						}
						var mcOptions = {maxZoom: 17};
						var markerCluster = new MarkerClusterer(map, markers, mcOptions);
					}
					function makeListener(map, marker, contentString) {
						google.maps.event.addListener(marker, 'click', function() {
							infowindow.setContent(contentString);
							infowindow.open(map,marker);
						});
					}
				}
			});
		});

		//Seitenhöhe korrigieren, weil sonst GoogleMap weiss bleibt
		contentHeight = $(window).height() - 43;
		$("#map_canvas").css("height", contentHeight + "px");
	}
	
	$(document).ready(handleDocumentReady);

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session?callback=',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(User != undefined || null) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html", target="_self");
				}
		    }
		});
	}
  </script>
  <script type="text/javascript" charset="utf-8">	
  	function refreshOrtListe() {
		$("#Orte").empty();
		var RaumId = "{{id}}";
		$db.view('evab/hOrtListe?startkey=["' + User + '", "' + RaumId + '"]&endkey=["' + User + '", "' + RaumId + '" ,{}]', {
			success: function(data) {
				var i;
				var anzOrt = 0;
				var Ort;
				var externalPage;
				var listItem;
				var ListItemContainer = "";
				for(i in data.rows) {                    //Orte zählen. Wenn noch keine: darauf hinweisen
					anzOrt += 1;
				}
				var Titel2 = " Orte";                    //Im Titel der Seite die Anzahl Orte anzeigen
				if (anzOrt == 1){
					Titel2 = " Ort";
				}
				$("#hOrtListePageHeader .hOrtListePageTitel").text(anzOrt + Titel2);

				if (anzOrt == 0) {
					ListItemContainer = '<li><a href="#" data-transition="slideup" rel="external" name="hOrtNeuLink">Ersten Ort erfassen</a></li>';
				} else {
					for(i in data.rows) {                //Liste aufbauen
						Ort = data.rows[i].value;
						key = data.rows[i].key;
						oName = Ort.oName;
						externalPage = "../../_show/hOrtEdit/" + Ort._id;
						listItem = "<li id=\"" + Ort._id + "\">" +
							"<a href=\"" + externalPage + "\" rel=\"external\">" +
							"<h3>" + oName + "<\/h3>" +
							"<\/a> <\/li>";
						ListItemContainer += listItem;
					}
				}
				ListItemContainer += "<\/ul>";
				$("#Orte").html(ListItemContainer);
				$("#Orte").listview();
				$("#Orte").listview("refresh");
			}
		});
	}
  </script>
</html>
