<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
   	<link rel="stylesheet" href="../../style/evab_theme.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<style type="text/css">.ui-icon-evab-location {background-image:url('../../Bilder/evab-location.png');}</style>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">
		$(document).bind("mobileinit", function() {
			$.mobile.loadingMessage = 'chrampfe!';
			$.mobile.defaultPageTransition  = 'none';
			$.mobile.touchOverflowEnabled = 'true';
			$.event.special.swipe.horizontalDistanceThreshold = 250;
			$.mobile.fixedToolbars.setTouchToggleEnabled(false);
		});
	</script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.form.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js" defer="defer"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </head>
  <body>
	<div data-role="page" id="OrtEditPage">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hOrtListeLink" name="hOrtListeLink">zur Ort-Liste</a>
			<h1>Ort</h1>
			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" name="hOrtListeLink" id="hOrtListeLink">Orte</a></li>
					<li><a href="#" rel="external" id="hZeitListeLink">Zeiten</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content" id="hOrtEditContent">
			<form action="#" method="get" autocomplete="off" id="hOrtEditForm">
				<div data-role="fieldcontain">
					<label for="oName">Name:</label>
					<input id="oName" name="oName" class="speichern" type="text" value="{{oName}}" placeholder="(Eingabe erforderlich)" required autofocus/>
				</div>
				<div data-role="fieldcontain">
					<label for="oXKoord">X-Koordinate:</label>
					<input id="oXKoord" name="oXKoord" class="speichern" type="text" value="{{oXKoord}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oYKoord">Y-Koordinate:</label>
					<input id="oYKoord" name="oYKoord" class="speichern" type="text" value="{{oYKoord}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oLagegenauigkeit">Lage Genauigkeit (Text):</label>
					<input id="oLagegenauigkeit" name="oLagegenauigkeit" class="speichern" type="text" value="{{oLagegenauigkeit}}" />
				</div>
				<div id="hOrtEditFormHtml">

				</div>
			</form>
			<p id="Hinweistext" class="HinweisDynamischerFeldaufbau">Die Felder werden aufgebaut...</p>
			<form id="FormAnhänge" action="" method="post" >
				<hr />
				<div style="display: inline"><big><b>Anhänge</b></big> (z.B. Skizzen, Bilder)</div>
				<div id="Anhänge"></div>			
				<div data-role="fieldcontain">
				    <label for="_attachments" class="ui-input-text">Dateien anfügen:</label>
				    <input type="file" id="_attachments" name="_attachments" multiple class="speichernAnhang ui-body-c"/>
				    <p>Tipp: Auf modernen Desktop-Browsern können Sie die Dateien auch mit Drag & Drop im Feld neben der Schaltfläche "droppen".</p>
				</div>
				<input type="hidden" id="_rev" name="_rev">
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" id="hOrtNeuLink" name="hOrtNeuLink" class="ui-btn-active">neu</a></li>				
					<li><a href="#" id="LöschenDialogLink" data-role="button" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
					<li><a href="#" id="GetGeolocationButton" data-icon="evab-location">verorten</a></li>					
					<li><a href="#" id="GeButton" data-icon="star">Karte</a></li>
					<li><a href="#" id="wähleFelder" data-icon="info">Felder</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>

	<div data-role="page" id="OrtEditMap" style="width:100%; height:100%;">
		<div data-role="header" data-position="fixed">
			<a href="#OrtEditPage" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse">abbrechen</a>
			<h1>Karte</h1>
			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
		</div>
		<div data-role="content" style="width:100%; height:100%; padding:0;"> 
			<div id="map_canvas" style="width:100%; height:100%;"></div>
		</div>
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">
	function handleDocumentReady() {
  		$db = $.couch.db("evab");

		var Pfad = "../../";
		User = "";
		
		prüfeAnmeldung(Pfad);
		erstelle_hOrtEdit("{{id}}", User);

		speichereLetzteUrl(User);

		//Lat Lng werden geholt. Existieren sie nicht, erhalten Sie den Wert ""
		oLongitudeDecDeg = "{{oLongitudeDecDeg}}";
		oLatitudeDecDeg = "{{oLatitudeDecDeg}}";

		//Für jedes Feld bei Änderung speichern
		$("#hOrtEditForm").on("change", ".speichern", function(event) {
			var Feldname = this.name;
			//nötig, damit Arrays richtig kommen
			var Feldjson = $("[name='" + Feldname + "']").serializeObject();
			var Feldwert = Feldjson[Feldname];
			speichern(Feldname, Feldwert);
		});

		//Slider-Felder erst bei mouseup speichern
		//change wird für jeden geswipten Wert ausgelöst!
		//ungelöstes Problem: swipe reagiert!
		$("#hOrtEditForm").on("mouseup", ".ui-slider", function(event) {
			var Feldname = this.name;
			//nötig, damit Arrays richtig kommen
			var Feldjson = $("[name='" + Feldname + "']").serializeObject();
			var Feldwert = Feldjson[Feldname];
			speichern(Feldname, Feldwert);
		});

		//Änderungen im Formular für Anhänge speichern
		$("#FormAnhänge").on("change", ".speichernAnhang", function() {
			var _attachments = $("#_attachments").val();
			if (_attachments && _attachments.length != 0) {
				speichereAnhänge("{{id}}");
			}
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{hProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{hRaumId}}";

		//Link zur OrtListe in Navbar setzen
		var url = "../hOrtListe/" + "{{hRaumId}}";
		$("[name='hOrtListeLink']").attr('href', url);

		//neuen Ort erstellen
		$("[name='hOrtNeuLink']").bind('click', function(event){
			event.preventDefault();
			erstelleNeuenOrt(User, "{{hProjektId}}", "{{hRaumId}}");
		});

		//sichtbare Felder wählen
		$("#wähleFelder").bind("click", function(event){
			event.preventDefault();
			window.open("../../Felder_hOrt.html?zurueck=_show/hOrtEdit/" + "{{id}}", target="_self");
		});

		//Link zur Zeit in Navbar setzen
		document.getElementById("hZeitListeLink").href = "../hZeitListe/" + "{{id}}";

		//Code für den Ort-Löschen-Dialog
		$('#LöschenDialogLink').bind('click', function() {
			var AnzZeiten;
			$(this).simpledialog({
				'mode' : 'bool',
		    	'prompt' : 'Ort sammt<br>Zeiten und Arten<br>löschen?',
		    	'forceInput': 'false',
		    	'buttons' : {
				 	'ja': {
				      	click: function() {
				        	$('#dialogoutput').text('ja');
				        	löscheOrt();
		        		},
		        		icon: "delete",
		        		theme: "c"
		      		},
		      		'nein': {
		        		click: function() {
		          			$('#dialogoutput').text('nein');
		        		}
		      		}
		    	}
		  	})
		});

		//Menu aufbauen
		$("[name='Menu']").bind('click', function() {
			erstelleMenu(this, User);
		});

		//Karte managen
		$("#GeButton").tap(function(event) {
			$.mobile.changePage("#OrtEditMap", "slide", false, false);
		});

		$("#GetGeolocationButton").tap(function() {
			GetGeolocation();
		});

		//In diesem Array werden alle Marker gespeichert, damit sie gelöscht werden können
		var markersArray = [];
		var InfoWindowArray = [];

		$('#OrtEditMap').bind("pagecreate", function() {
			var map;
			var verorted;
			if (oLatitudeDecDeg != "" && oLongitudeDecDeg != "") {
				var lat = oLatitudeDecDeg;
				var lng = oLongitudeDecDeg;
				verorted = true;
			} else {
				var lat = 47.360566;
				var lng = 8.542829;
				verorted = false;
			}
			var ZoomLevel;
			if (verorted == true) {
				ZoomLevel = 15;
			} else {
				ZoomLevel = 12;
			}
			var latlng = new google.maps.LatLng(lat, lng);
			var options = {
			    zoom: ZoomLevel,
			    center: latlng,
			    streetViewControl: false,
			    mapTypeId: google.maps.MapTypeId.HYBRID
			};
			var map = new google.maps.Map(document.getElementById("map_canvas"),options);
			google.maps.event.trigger(map,'resize');
			var oName = $("input#oName").val();
			if (verorted == true){
				var marker = new google.maps.Marker({
					position: latlng, 
				    map: map, 
				    title: oName,
					draggable: true
				});
				//Marker in Array speichern, damit er gelöscht werden kann
				markersArray.push(marker);
				var contentString = '<div id="content"><div id="bodyContent">'+
								'<p>' + oName + '</p>' +
								'</div></div>';;
				var infowindow = new google.maps.InfoWindow({
				    content: contentString
				});
				InfoWindowArray.push(infowindow);
				google.maps.event.addListener(marker, 'click', function() {
				  infowindow.open(map,marker);
				});
				google.maps.event.addListener(marker, "dragend", function(event) {
					SetLocation(event.latLng, map, marker);
				});
			}
			google.maps.event.addListener(map, 'click', function(event) {
				placeMarker(event.latLng, map, marker, oName);
			});
		});

		function placeMarker(location, map, marker, oName) {
			//zuerst bisherigen Marker löschen
			clearMarkers();
			var marker = new google.maps.Marker({
		    	position: location, 
		    	map: map,
		    	title: oName,
				draggable: true
			});
			//Marker in Array speichern, damit er gelöscht werden kann
			markersArray.push(marker);
			google.maps.event.addListener(marker, "dragend", function(event) {
				SetLocation(event.latLng, map, marker);
			});
			SetLocation(location, map, marker);
		}

		function SetLocation(LatLng, map, marker) {
			var lat = LatLng.lat();
			var lng = LatLng.lng();
			oLatitudeDecDeg = lat;
			oLongitudeDecDeg = lng;
			var x = DdInChX(lat, lng);
			var y = DdInChY(lat, lng);
			$("input#oXKoord").val(x);
			$("input#oYKoord").val(y);
			$("input#oLagegenauigkeit").val("Auf Luftbild markiert");
			clearInfoWindows();
			var contentString = '<div id="content"><div id="bodyContent">'+
							'<p>' + $("input#oXKoord").val() + "/" + $("input#oYKoord").val() + '</p>' +
							'</div></div>';
			var infowindow = new google.maps.InfoWindow({
			    content: contentString
			});
			InfoWindowArray.push(infowindow);
			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(map,marker);
			});
			speichereKoordinaten(oLatitudeDecDeg, oLongitudeDecDeg, x, y, "Auf Luftbild markiert");
		}

		//alle Marker löschen
		function clearMarkers() {
			if (markersArray) {
				for (i in markersArray) {
			    	markersArray[i].setMap(null);
			    }
			}
		}

		//alle InfoWindows löschen
		function clearInfoWindows() {
			if (InfoWindowArray) {
				for (i in InfoWindowArray) {
			    	InfoWindowArray[i].setMap(null);
			    }
			}
		}

		//Seitenhöhe korrigieren, weil sonst GoogleMap weiss bleibt
		contentHeight = $(window).height() - 43;
		$("#map_canvas").css("height", contentHeight + "px");

		$("body").bind("swipeleft", function() {
			nächsterVorigerOrt("{{id}}", "nächster");
		});

		$("body").bind("swiperight", function() {
			nächsterVorigerOrt("{{id}}", "voriger");
		});

		$("#FormAnhänge").on("click", "[name='LöscheAnhang']", function(event) {
			event.preventDefault();
			var Dateiname = this.id;
			$db.openDoc("{{id}}", {
				success: function(Beob) {
					delete Beob._attachments[Dateiname];
					$db.saveDoc(Beob, {
						success: function() {
							erstelleAttachments("{{id}}");
						}
					});
				}
			});
		});
	}
	
	$(document).ready(handleDocumentReady);

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session',
		    dataType: 'json',
		    async: false,
		    success: function(session){
		    	if(session.userCtx.name != (undefined || null)) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html?Status=neu", target="_self");
				}
		    }
		});
	}
  </script>

  <script type="text/javascript" charset="utf-8">	
	/*
	function löscheOrt() {
		var hOrtId = "{{id}}";
		var hRaumId = "{{hRaumId}}";
		// First open doc based on ID in order to get full document
		$db.openDoc(hOrtId, {
			success: function(document) {
				$db.removeDoc(document, {
					success: function() {
						melde('Ort gelöscht');
						setTimeout("löscheArtenVonOrt('" + hOrtId + "')", 1400);
						setTimeout("löscheZeitenVonOrt('" + hOrtId + "')", 2800);
						setTimeout("window.open('../hOrtListe/" + hRaumId + "', target='_self')", 4200);
					},
					error: function() {
						melde("Fehler: Der Ort konnte nicht gelöscht werden");
					}
				});
			},
			error: function() {
				melde("Fehler: Der Ort konnte nicht gelöscht werden");
			}
		});
	}*/
	
	function löscheOrt() {
		var hOrtId = "{{id}}";
		var hRaumId = "{{hRaumId}}";
		var ArtenGelöscht, ZeitenGelöscht;
		var Rückmeldung;
		ArtenGelöscht = löscheArtenVonOrt(hOrtId);
		if (ArtenGelöscht != 0 && ArtenGelöscht == false) {
			melde("Fehler: Zugehörige Arten nicht gelöscht");
			return false;
		} else {
			if (ArtenGelöscht >= 0) {
				Rückmeldung = ArtenGelöscht + " zugehörige Arten gelöscht";
			} else {
				Rückmeldung = "zugehörige Arten gelöscht";
			}
			ZeitenGelöscht = löscheZeitenVonOrt(hOrtId);
			if (ZeitenGelöscht != 0 && ZeitenGelöscht == false) {
				Rückmeldung += "\rFehler: Zugehörige Zeiten nicht gelöscht";
				melde(Rückmeldung);
				return false;
			} else {
				if (ZeitenGelöscht >= 0) {
					Rückmeldung += "\r" + ZeitenGelöscht + " zugehörige Zeiten gelöscht";
				} else {
					Rückmeldung += "\rzugehörige Zeiten gelöscht";
				}
				// First open doc based on ID in order to get full document
				return $db.openDoc(hOrtId, {
					success: function(document) {
						// lösche Ort
						return $db.removeDoc(document, {
							success: function() {
								Rückmeldung += "\rOrt gelöscht";
								melde(Rückmeldung);
								setTimeout("window.open('../hOrtListe/" + hRaumId + "', target='_self')", 1400);
								return true;
							},
							error: function() {
								Rückmeldung += "\rFehler: Ort nicht gelöscht";
								melde(Rückmeldung);
								return false;
							}
						});
					},
					error: function() {
						Rückmeldung += "\rFehler: Ort nicht gelöscht";
						melde(Rückmeldung);
						return false;
					}
				});
			}
		}
	}
	
	//lösche alle einem Ort zugeordnete Arten
	function löscheArtenVonOrt(hOrtId) { 
		var AnzArtenGelöscht = 0; 
		var DokumentGelöscht;
		var viewname = 'evab/hArtIdVonOrt?startkey=["' + hOrtId + '"]&endkey=["' + hOrtId + '",{}]';
		return $db.view(viewname, {
			success: function(data) {
				var i;
				var ArtId;
				for(i in data.rows) {
					ArtId = data.rows[i].key[1];
					DokumentGelöscht = löscheDokument(ArtId);
					if (DokumentGelöscht == false) {
						return false;
					}
					AnzArtenGelöscht += 1;
				}
				return AnzArtenGelöscht;          //WIESE KLAPPT DAS NICHT?
			},
			error: function() {
				return false;
			}
		});
	}

	//lösche alle einem Ort zugeordnete Zeiten
	function löscheZeitenVonOrt(hOrtId) { 
		var AnzZeitenGelöscht = 0;
		var DokumentGelöscht;
		var viewname = 'evab/hZeitIdVonOrt?startkey=["' + hOrtId + '"]&endkey=["' + hOrtId + '",{}]';
		return $db.view(viewname, {
			success: function(data) {
				var i;
				var ZeitId;
				for(i in data.rows) {
					ZeitId = data.rows[i].key[1];
					DokumentGelöscht = löscheDokument(ZeitId);
					if (DokumentGelöscht == false) {
						return false;
					}
					AnzZeitenGelöscht += 1;
				}
				return AnzZeitenGelöscht;            //WIESE KLAPPT DAS NICHT?
			},
			error: function() {
				return false;
			}
		});
	}

	//zähle Anzahl Zeiten, die einem Ort zugewiesen sind
	//und gib diesen Wert zurück
	function AnzZeitenVonOrt() {                             //momentan nicht im Gebrauch, da callbacks nicht im Griff
		var hOrtId = "{{id}}";
		var viewname = 'evab/hZeitIdVonOrtAnzahl?key="' + hOrtId + '"';
		var AnzahlZeiten = 0;
		return $db.view(viewname, {
			success: function(data) {
				var i;
				for(i in data.rows) {
					AnzahlZeiten = data.rows[i].value;
				}
				return AnzahlZeiten;
			},
			error: function() {
				return AnzahlZeiten;
			}
		});
		return AnzahlZeiten;
	}

	function speichern(Feldname, Feldwert) {
		$db = $.couch.db("evab");
		//Bestehendes Dokument öffnen
		$db.openDoc("{{id}}", {
			success: function(hOrt) {
				//Werte aus dem Formular aktualisieren
				if (Feldwert) {
					hOrt[Feldname] = Feldwert;
				} else if (hOrt[Feldname]) {
					delete hOrt[Feldname]
				}
				//alles speichern
				$db.saveDoc(hOrt, {
					success: function() {
						speichereOrtfeldInArten(Feldname, Feldwert);
						speichereOrtfeldInZeiten(Feldname, Feldwert);
					},
					error: function() {
						melde("Fehler: Ort nicht gespeichert");
					}
				});
			}
		});
	}

	function speichereOrtfeldInZeiten(Feldname, Feldwert) {
		//geändertes Ort-Feld in hZeit anpassen
		var viewname = 'evab/hZeitIdVonOrt?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '",{}]';
		$db.view(viewname, {
			success: function(data) {
				var hArtId;
				for(i in data.rows) {
					hArtId = data.rows[i].key[1];
					$db.openDoc(hArtId, {
						success: function(hArt) {
							if (Feldwert) {
								hArt[Feldname] = Feldwert;
							} else if (hArt[Feldname]) {
								delete hArt[Feldname];
							}
							$db.saveDoc(hArt);
						}
					});
				}
			}
		});
	}

	function speichereOrtfeldInArten(Feldname, Feldwert) {
		//geändertes Ort-Feld in hArt anpassen
		var viewname = 'evab/hArtIdVonOrt?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '",{}]';
		$db.view(viewname, {
			success: function(data) {
				var hArtId;
				for(i in data.rows) {
					hArtId = data.rows[i].key[1];
					$db.openDoc(hArtId, {
						success: function(hArt) {
							if (Feldwert) {
								hArt[Feldname] = Feldwert;
							} else if (hArt[Feldname]) {
								delete hArt[Feldname];
							}
							$db.saveDoc(hArt);
						}
					});
				}
			}
		});
	}

	function speichereKoordinaten(oLatitudeDecDeg, oLongitudeDecDeg, oXKoord, oYKoord, oLagegenauigkeit) {
		$db = $.couch.db("evab");
		//Bestehendes Dokument öffnen
		$db.openDoc("{{id}}", {
			success: function(hOrt) {
				//Längen- und Breitengrad sind in keinem Feld dargestellt
				//sie müssen aus ihren Variabeln gespeichert werden
				hOrt.oLongitudeDecDeg = oLongitudeDecDeg;
				hOrt.oLatitudeDecDeg = oLatitudeDecDeg;
				hOrt.oXKoord = oXKoord;
				hOrt.oYKoord = oYKoord;
				hOrt.oLagegenauigkeit = oLagegenauigkeit;
				//alles speichern
				$db.saveDoc(hOrt, {
					success: function() {
						melde("Koordinaten gespeichert");
					},
					error: function() {
						melde("Fehler: Koordinaten nicht gespeichert");
					}
				});
			}
		});
	}

	/*function speichern(Meldung, Feldname, Feldwert) {
		$db = $.couch.db("evab");
		//Bestehendes Dokument öffnen
		$db.openDoc("{{id}}", {
			success: function(hOrt) {
				var Formularwerte = {};
				var docId = "{{id}}";
				Formularwerte = $("#hOrtEditForm").serializeObject();
				//Werte aus dem Formular aktualisieren
				for (i in Formularwerte) {
					hOrt[i] = Formularwerte[i];
				}
				//Längen- und Breitengrad sind in keinem Feld dargestellt
				//sie müssen aus ihren Variabeln gespeichert werden
				if (oLatitudeDecDeg && oLatitudeDecDeg != "" && oLongitudeDecDeg && oLongitudeDecDeg != "") {
					hOrt.oLongitudeDecDeg = oLongitudeDecDeg;
					hOrt.oLatitudeDecDeg = oLatitudeDecDeg;
				}
				//Verhindern, dass Infotext gespeichert wird, wenn User den Ort 
				//vor Bendigung von GetGeolocation verlässt und während der Verortung
				//gespeichert hat
				if ($("input#oXKoord").val() == "Position ermitteln...") {
					delete hOrt.oXKoord;
					delete hOrt.oYKoord;
					delete hOrt.oLagegenauigkeit;
					delete hOrt.oObergrenzeHöhe;
				}
				//alles speichern
				$db.saveDoc(hOrt, {
					success: function() {
						if (Meldung && Meldung != "KeineMeldung") {
							melde(Meldung);
						}
					},
					error: function() {
						melde("Fehler: Ort nicht gespeichert");
					}
				});
			}
		});
	}*/

	//Menü aufbauen
	function erstelleMenu(thiz, User){
		//Code um Menü aufzubauen
		$(thiz).simpledialog({
			'mode' : 'bool',
			'prompt' : 'Menü',
			'fullHTML': 'true',
	    	'buttons' : {
			 	'einfacher Modus': {
			      	click: function() {
			        	window.open("../../BeobListe.html", target="_self");
	        		},
	        		theme: "a",
	        		icon: "check"
	      		},
	      		'neu anmelden': {
			      	click: function() {
			        	window.open("../../index.html?Status=neu", target="_self");
	        		},
	        		theme: "a",
	        		icon: "home"
	      		},
	      		'meine Einstellungen': {
			      	click: function() {
			        	öffneMeineEinstellungen(User, "../../");
	        		},
	        		theme: "a",
	        		icon: "gear"
	      		},
	      		'lokal installieren': {
			      	click: function() {
			        	window.open("../../Installieren.html", target="_self");
	        		},
	        		theme: "a",
	        		icon: "gear"
	      		},
	      		'Orte exportieren': {
			      	click: function() {
			        	window.open('../../_list/ExportOrt/ExportOrt?startkey=["' + User + '",{},{},{},{},{}]&endkey=["' + User + '"]&descending=true');
	        		},
	        		theme: "a",
	        		icon: "arrow-r"
	      		},
	      		'Felder verwalten': {
			      	click: function() {
			        	window.open("../../FeldListe.html?zurueck=hOrtEdit/" + "{{id}}", target="_self");
	        		},
	        		theme: "a",
	        		icon: "grid"
	      		},
	      		'schliessen': {
	                click: function() { return true; },
	                icon: "back",
	                theme: "c"
	            }
	    	}
	  	})
	}

	//Öffnet den vorigen oder nächsten Ort
	//voriger des ersten => OrtListe
	//nächster des letzten => melden
	//erwartet die ID des aktuellen Datensatzes und ob nächster oder voriger gesucht wird
	function nächsterVorigerOrt(IdAktuell, NächsterOderVoriger) {
		$db.view('evab/hOrtListe?startkey=["' + User + '", "' + "{{hRaumId}}" + '"]&endkey=["' + User + '", "' + "{{hRaumId}}" + '" ,{}]', {
			success: function(data) {
				var i;
				var OrtIdAktuell;
				var OrtIdNächster;
				var OrtIdVoriger;
				var AnzOrt;
				for(i in data.rows) {
					OrtIdAktuell = data.rows[i].value._id;
					var AnzOrt = data.rows.length -1;  //vorsicht: Objekte zählen Elemente ab 1, Arrays ab 0!
					if (OrtIdAktuell == IdAktuell) {
						switch (NächsterOderVoriger) {
						case "nächster":
							if (i < AnzOrt) {
								OrtIdNächster = data.rows[parseInt(i)+1].value._id;
								window.open(OrtIdNächster, target="_self");
							} else {
								melde("Das ist der letzte Ort");
							}
							break;
						case "voriger":
							if (i > 0) {
								OrtIdVoriger = data.rows[i-1].value._id;
								window.open(OrtIdVoriger, target="_self");
							} else {
								window.open("../hOrtListe/" + "{{hRaumId}}", target="_self");
							}
							break;
						}
					}
				}
			}
		});
	}
  </script>
</html>
