<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.actionsheet.css" type="text/css"/>
  	<style type="text/css">.ui-icon-evab-location {background-image:url('../../Bilder/evab-location.png');}</style>
	<script src="../../vendor/couchapp/loaderTemplate.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  	<script type="text/javascript">
		$( document ).bind( "mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});	
	</script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </head>
  <body>
	<div data-role="page" id="OrtEditPage">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hOrtListeLink" name="hOrtListeLink">zur Ort-Liste</a>
			<h1>Ort</h1>
			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a id="NeuesKontoErstellen" href="../../Signup.html" data-role="button" rel="external">neues Konto<br />erstellen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="EModus" href="../../BeobListe.html" data-role="button" rel="external">Einfacher Modus</a>
  			</div>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" name="hOrtListeLink" id="hOrtListeLink">Orte</a></li>
					<li><a href="#" rel="external" id="hZeitListeLink">Zeit</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form action="#" method="get">
				<div data-role="fieldcontain">
					<label for="oName">Name:</label>
					<input id="oName" name="oName" type="text" value="{{oName}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oXKoord">X-Koordinate:</label>
					<input id="oXKoord" name="oXKoord" type="text" value="{{oXKoord}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oYKoord">Y-Koordinate:</label>
					<input id="oYKoord" name="oYKoord" type="text" value="{{oYKoord}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oLongitudeDecDeg">Längengrad:</label>
					<input id="oLongitudeDecDeg" name="oLongitudeDecDeg" type="text" value="{{oLongitudeDecDeg}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oLatitudeDecDeg">Breitengrad:</label>
					<input id="oLatitudeDecDeg" name="oLatitudeDecDeg" type="text" value="{{oLatitudeDecDeg}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oLagegenauigkeit">Lagegenauigkeit:</label>
					<input id="oLagegenauigkeit" name="oLagegenauigkeit" type="text" value="{{oLagegenauigkeit}}" />
				</div>
				<div data-role="fieldcontain">
					<label for="oBemerkungen">Bemerkungen:</label>
					<textarea cols="40" rows="8" name="oBemerkungen" id="oBemerkungen">{{oBemerkungen}}</textarea>
				</div>
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" id="SpeichernButton" data-icon="check" data-iconpos="left" class="ui-btn-active">speichern</a></li>
							<li><a href="#" id="deleteButton" data-icon="minus" data-iconpos="left" rel="external" data-role="actionsheet">löschen</a><div><p class="PopupText">Diesen Ort löschen?</p>
				<a id="jaButton" name="hOrtListeLink" href="#" data-role="button" rel="external">ja</a>
				<a id="neinButton" href="#" data-role="button" class="ui-btn-active" rel="external">nein</a></div></li>
							<li><a href="#" id="GeButton" data-icon="star" data-iconpos="left">Karte</a></li>
							<li><a href="#" id="GetGeolocationButton" data-icon="evab-location" data-iconpos="left">verorten</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>

	<div data-role="page" id="OrtEditMap" style="width:100%; height:100%;">
		<div data-role="header" data-position="fixed">
			<a href="#OrtEditPage" data-role="button" data-icon="arrow-l" data-iconpos="notext" >abbrechen</a>
			<h1>Karte</h1>
			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a id="NeuesKontoErstellen" href="../../Signup.html" data-role="button" rel="external">neues Konto<br />erstellen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="EModus" href="../../BeobListe.html" data-role="button" rel="external">Einfacher Modus</a>
  			</div>
		</div>
		<div data-role="content" style="width:100%; height:100%; padding:0;"> 
			<div id="map_canvas" style="width:100%; height:100%;"></div>
		</div>
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady()
	{
  		$db = $.couch.db("evab-ch_barbalex_evab");
		userCtx = null;
		var Autor;
		
		$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
		});

		$("#SpeichernButton").tap(function(event) {
			var docId = "{{id}}";
			$db.openDoc(docId, {
				success: function(doc) {
					doc.Typ = "hOrt";
					doc.User = User;
					doc.ProjektId = "{{ProjektId}}";
					doc.RaumId = "{{RaumId}}";
					doc.oName = $("input#oName").val();     //MELDUNG, WENN KEIN NAME!
					if ($("input#oName").val() != ""){
						doc.oName = $("input#oName").val();
					} else if (doc.oName!=null){
						delete doc.oName;
					}
					if ($("input#oXKoord").val()!=""){
						doc.oXKoord = $("input#oXKoord").val();
					} else if (doc.oXKoord!=null){
						delete doc.oXKoord;
					}
					if ($("input#oYKoord").val()!=""){
						doc.oYKoord = $("input#oYKoord").val();
					} else if (doc.oYKoord!=null){
						delete doc.oYKoord;
					}
					if ($("input#oLongitudeDecDeg").val()!=""){
						doc.oLongitudeDecDeg = $("input#oLongitudeDecDeg").val();
					} else if (doc.oLongitudeDecDeg!=null){
						delete doc.oLongitudeDecDeg;
					}
					if ($("input#oLatitudeDecDeg").val()!=""){
						doc.oLatitudeDecDeg = $("input#oLatitudeDecDeg").val();
					} else if (doc.oLatitudeDecDeg!=null){
						delete doc.oLatitudeDecDeg;
					}
					if ($("input#oLagegenauigkeit").val()!=""){
						doc.oLagegenauigkeit = $("input#oLagegenauigkeit").val();
					} else if (doc.oLagegenauigkeit!=null){
						delete doc.oLagegenauigkeit;
					}
					if ($("[id$='oBemerkungen']").val()!=""){
						doc.oBemerkungen = $("[id$='oBemerkungen']").val();
					} else if (doc.oBemerkungen!=null){
						delete doc.oBemerkungen;
					}
					$db.saveDoc(doc, {
						success: function(data) {
							MeldungEinzeilig("Ort gespeichert");
						},
						error: function() {
							MeldungEinzeilig("Der Ort konnte nicht gespeichert werden.");
						 }
					});
				}
			});
		});

		//Code für das Löschen-Popup
		document.getElementById("neinButton").href = "../../../../../evab-ch_barbalex_evab/_design/evab/_show/hOrtEdit/" + "{{id}}";
		$("#jaButton").tap(handleDelete);
		document.getElementById("jaButton").href = "../hOrtListe/" + "{{RaumId}}";

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{RaumId}}";

		//Link zur OrtListe in Navbar setzen
		var url = "../hOrtListe/" + "{{RaumId}}";
		$("[name='hOrtListeLink']").attr('href', url);

		//Link zur Zeit in Navbar setzen
		document.getElementById("hZeitListeLink").href = "../hZeitListe/" + "{{id}}";

		$("#GeButton").tap(function(event) {
			if ($("input#oLatitudeDecDeg").val() != "" && $("input#oLongitudeDecDeg").val() != ""){
				$.mobile.changePage("#OrtEditMap", "slide", false, false);
			} else {
				MeldungEinzeilig("Breiten- und Längengrad müssen erfasst sein");
			}
		});

		$("#GetGeolocationButton").tap(function(){
			GetGeolocation();
		});

		var InfoWindowArray = [];

		$('#OrtEditMap').live("pagecreate", function() {
			var lat = $("input#oLatitudeDecDeg").val();
			var lng = $("input#oLongitudeDecDeg").val();
			var latlng = new google.maps.LatLng(lat, lng);
			var options = {
			    zoom: 15,
			    center: latlng,
			    streetViewControl: false,
			    mapTypeId: google.maps.MapTypeId.HYBRID
			};
			var map = new google.maps.Map(document.getElementById("map_canvas"),options);
			google.maps.event.trigger(map,'resize');
			var oName = $("input#oName").val();
			//var image = "../../Artgruppenbilder/" + bArtGruppe + ".png";
			var marker = new google.maps.Marker({
				position: latlng, 
			    map: map, 
			    title: oName,
			    //icon: image,
				draggable: true
			});
			var contentString = '<div id="content"><div id="bodyContent">'+
							'<p>' + oName + '</p>' +
							'</div></div>';;
			var infowindow = new google.maps.InfoWindow({
			    content: contentString
			});
			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(map,marker);
			});
			google.maps.event.addListener(marker, "dragend", function(event) {
				SetLocation(event.latLng, map, marker);
			});
		});

		function SetLocation(LatLng, map, marker) {
			var lat = LatLng.lat();
			var lng = LatLng.lng();
			$("input#oLatitudeDecDeg").val(lat);
			$("input#oLongitudeDecDeg").val(lng);
			var x = DdInChX(lat, lng);
			var y = DdInChY(lat, lng);
			$("input#oXKoord").val(x);
			$("input#oYKoord").val(y);
			$("input#oLagegenauigkeit").val("Auf Luftbild markiert");
			clearInfoWindows();
			var contentString = '<div id="content"><div id="bodyContent">'+
							'<p>' + $("input#oXKoord").val() + "/" + $("input#oYKoord").val() + '</p>' +
							'</div></div>';
			var infowindow = new google.maps.InfoWindow({
			    content: contentString
			});
			InfoWindowArray.push(infowindow);
			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(map,marker);
			});
			$("#SpeichernButton").trigger('tap');
			//MeldungEinzeilig("Die Koordinaten wurden übernommen");
		}

		//alle InfoWindows löschen. SCHEINT NICHT ZU FUNKTIONIEREN
		function clearInfoWindows() {
			if (InfoWindowArray) {
				for (i in InfoWindowArray) {
			    	InfoWindowArray[i].setMap(null);
			    }
			}
		}
	}
	
	$(document).ready(handleDocumentReady);
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	function handleDelete(event)
	{
		var docId = "{{id}}";
		var RaumId = "{{RaumId}}";
		// First open doc based on ID in order to get full document
		$db.openDoc(docId, {
			success: function(document) {
				// Then use the opened doc as reference to remove
				$db.removeDoc(document, {
					success: function() {
						MeldungEinzeilig("Ort gelöscht");
						window.open("../hOrtListe/" + RaumId, target="_self");
					},
					error: function() {
						MeldungEinzeilig("Der Ort mit der ID: " + docId + " konnte nicht gelöscht werden");
					}
				});
			},
			error: function() {
				MeldungEinzeilig("Ein Ort mit der ID: " + docId + " wurde nicht gefunden");
			}
		});
		return false;
	}

	function GetGeolocation(){
		if (navigator.geolocation) { 
	    navigator.geolocation.getCurrentPosition ( 
	        function(position) {
	            var oLongitudeDecDeg = position.coords.longitude;
				var oLatitudeDecDeg = position.coords.latitude;
				var oLagegenauigkeit = position.coords.accuracy;
				$("input#oLongitudeDecDeg").val(oLongitudeDecDeg);
				$("input#oLatitudeDecDeg").val(oLatitudeDecDeg);
				$("input#oLagegenauigkeit").val(oLagegenauigkeit);
				var x = DdInChX(oLatitudeDecDeg, oLongitudeDecDeg);
				var y = DdInChY(oLatitudeDecDeg, oLongitudeDecDeg);
				$("input#oXKoord").val(x);
				$("input#oYKoord").val(y);  
				MeldungEinzeilig('Positionsdaten wurden gesetzt');       
	        }, 
	        function(){ 
	            MeldungEinzeilig('Keine Positionsdaten verfügbar');
	        }); 
	    }
	}
  </script>
</html>
