<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.actionsheet.css" type="text/css"/>
	<script src="../../vendor/couchapp/loaderTemplate.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  	<script type="text/javascript">
		$( document ).bind( "mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});	
	</script>
  </head>
  <body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<a href="../../hProjektListe.html" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext">zur Projekt-Liste</a>
			<h1>Projekt</h1>
			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a name="UserEditLink" href="#" data-role="button" rel="external">meine Einstellungen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="EModus" href="../../BeobListe.html" data-role="button" rel="external">einfacher Modus</a>
  			</div>
  			<div data-role="navbar">
				<ul>
					<li><a href="../../hProjektListe.html" class="ui-btn-active" rel="external">Projekte</a></li>
					<li><a href="#" rel="external" id="hRaumListeLink">&rArr; Räume</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form id="BeobNeuForm" action="#" method="get" autocomplete="off">
				<div data-role="fieldcontain">
					<label for="pName">Name:</label>
					<input id="pName" name="pName" type="text" value="{{pName}}" required/>
				</div>
				<div data-role="fieldcontain">
					<label for="pBemerkungen">Bemerkungen:</label>
					<textarea cols="40" rows="8" name="pBemerkungen" id="pBemerkungen">{{pBemerkungen}}</textarea>
				</div>
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" id="SpeichernButton" class="ui-btn-active" data-icon="check" data-iconpos="left">speichern</a></li>
					<li><a data-role="actionsheet" data-icon="minus" data-iconpos="left">löschen</a>
						<div>
							<p class="PopupText">Dieses Projekt löschen?</p>
							<a id="jaLöschenButton" href="../../../../../evab-ch_barbalex_evab/_design/evab/hProjektListe.html" data-role="button" rel="external">ja</a>
							<a id="neinLöschenButton" href="#" data-role="button">nein</a>
						</div></li>
				<li><a href="../../hProjektNeu.html" data-transition="slideup" data-icon="plus" data-iconpos="left" rel="external" >neu</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady()
	{
  		$db = $.couch.db("evab-ch_barbalex_evab");
		
		userCtx = null;
		var Autor;
		
		$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
		});

		$("#SpeichernButton").tap(function(event) {
			var docId = "{{id}}";
			$db.openDoc(docId, {
				success: function(doc) {
					doc.Typ = "hProjekt";
					doc.User = User;
					var pName = $("input#pName").val();
					if (pName == "") {
						MeldungEinzeilig("Bitte Projektnamen eingeben");
						document.getElementById("pName").focus();
						return;
					}
					doc.pName = pName;
					if ($("[id$='pBemerkungen']").val()!=""){
						doc.pBemerkungen = $("[id$='pBemerkungen']").val();
					} else if (doc.pBemerkungen!=null){
						delete doc.pBemerkungen;
					}
					$db.saveDoc(doc, {
						success: function(data) {
							MeldungEinzeilig("Projekt gespeichert");
						},
						error: function() {
							MeldungEinzeilig("Das Projekt konnte nicht gespeichert werden.");
						 }
					});
				}
			});
		});

		//Code für das Löschen-Popup
		document.getElementById("neinLöschenButton").href = "../hProjektEdit/" + "{{id}}";
		document.getElementById("jaLöschenButton").href = "../../hProjektListe.html";
		$('[id="jaLöschenButton"]').live("click", function() {
			handleDelete();
		});

		//Link zur Raumliste in Navbar setzen
		document.getElementById("hRaumListeLink").href = "../hRaumListe/" + "{{id}}";

		//Link zum UserEdit in Menu setzen
		var UserId;
		$db.view("evab/User",
				{success: function(data) {
					var i;
					var doc;
					for(i in data.rows) {
						key = data.rows[i].key;
						doc = data.rows[i].value;
						if (key == User) {
							UserId = doc._id;
						}
					}
					var url = "../UserEdit/" + UserId;
					$("[name='UserEditLink']").attr('href', url);
				}
		});
	}
	
	$(document).ready(handleDocumentReady);
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	function handleDelete(event)
		{
			var docId = "{{id}}";
			// First open doc based on ID in order to get full document
			$db.openDoc(docId, {
				success: function(document) {
					// Then use the opened doc as reference to remove
					$db.removeDoc(document, {
						success: function() {
							window.open("../../../../../evab-ch_barbalex_evab/_design/evab/hProjektListe.html", target = '_self');
						},
						error: function() {
							MeldungEinzeilig("Das Projekt mit der ID: " + docId + " konnte nicht gelöscht werden");
						}
					});
				},
				error: function() {
					MeldungEinzeilig("Ein Projekt mit der ID: " + docId + " wurde nicht gefunden");
				}
			});
			return false;
		}
  </script>
</html>
