<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
   	<link rel="stylesheet" href="../../style/evab_theme.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function() {
			//$.mobile.defaultPageTransition  = 'none';
			$.event.special.swipe.horizontalDistanceThreshold = 250;
		});
    </script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.form.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js" defer="defer"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="../../vendor/couchapp/markerclusterer.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/markerwithlabel.js"></script>
  </head>
  <body>
	<div data-role="page" id="ProjektEditPage">
		<script type="text/javascript" charset="utf-8">
			$(document).delegate("#ProjektEditPage", "pageinit", function() {
				var Pfad = "../../";
				User = "";
				
				prüfeAnmeldung(Pfad);

				erstelle_hProjektEdit("{{id}}", User);
				speichereLetzteUrl(User);

				//Für jedes Feld bei Änderung speichern
				$("#hProjektEditForm").on("change", ".speichern", function() {
					var Feldname = this.name;
					//nötig, damit Arrays richtig kommen
					var Feldjson = $("[name='" + Feldname + "']").serializeObject();
					var Feldwert = Feldjson[Feldname];
					speichern(Feldname, Feldwert);
				});

				//Slider-Felder erst bei mouseup speichern
				//change wird für jeden geswipten Wert ausgelöst!
				//ungelöstes Problem: swipe reagiert!
				$("#hProjektEditForm").on("mouseup", ".ui-slider", function(event) {
					var Feldname = this.name;
					//nötig, damit Arrays richtig kommen
					var Feldjson = $("[name='" + Feldname + "']").serializeObject();
					var Feldwert = Feldjson[Feldname];
					speichern(Feldname, Feldwert);
				});

				//Änderungen im Formular für Anhänge speichern
				$("#FormAnhänge").on("change", ".speichernAnhang", function() {
					var _attachments = $("#_attachments").val();
					if (_attachments && _attachments.length != 0) {
						speichereAnhänge("{{id}}");
					}
				});

				//Link zur Raumliste in Navbar setzen
				document.getElementById("hRaumListeLink").href = "../hRaumListe/" + "{{id}}";

				//Code für den Projekt-Löschen-Dialog
				$('#LöschenDialogLink').bind('click', function() {
					$(this).simpledialog({
						'mode' : 'bool',
				    	'prompt' : 'Dieses Projekt löschen?',
				    	'forceInput': 'false',
				    	'buttons' : {
						 	'ja': {
						      	click: function() {
						        	$('#dialogoutput').text('ja');
						        	löscheProjekt();
				        		},
				        		icon: "delete",
				        		theme: "c"
				      		},
				      		'nein': {
				        		click: function() {
				          			$('#dialogoutput').text('nein');
				        		}
				      		}
				    	}
				  	})
				});

				//Menu aufbauen
				$('#Menu').bind('click', function() {
					erstelleMenu(this, User);
				});

				//neues Projekt erstellen
				$("[name='hProjektNeuLink']").bind("click", function() {
					erstelleNeuesProjekt("../");
				});

				//sichtbare Felder wählen
				$("#wähleFelder").bind("click", function(event){
					event.preventDefault();
					window.open("../../Felder_hProjekt.html?zurueck=_show/hProjektEdit/" + "{{id}}", target="_self");
				});

				$("body").bind("swipeleft", function() {
					nächstesVorigesProjekt("{{id}}", "nächstes");
				});

				$("body").bind("swiperight", function() {
					nächstesVorigesProjekt("{{id}}", "voriges");
				});

				$("#ProjektEditMapÖffnen").tap(function(event) {
					$.mobile.changePage("#ProjektEditMap", "slide", false, true);
				});

				$('#ProjektEditMap').bind("pagecreate", function() {
					//Karte aufbauen
					erstelleKarteFürProjekt(User, "{{id}}");
				});

				//Seitenhöhe korrigieren, weil sonst GoogleMap weiss bleibt
				contentHeight = $(window).height() - 43;
				$("#map_canvas").css("height", contentHeight + "px");

				$("#FormAnhänge").on("click", "[name='LöscheAnhang']", function(event) {
					event.preventDefault();
					var Dateiname = this.id;
					$db = $.couch.db("evab");
					$db.openDoc("{{id}}", {
						success: function(Beob) {
							delete Beob._attachments[Dateiname];
							$db.saveDoc(Beob, {
								success: function() {
									erstelleAttachments("{{id}}");
								}
							});
						}
					});
				});
			});

			$(document).delegate("#ProjektEditPage", "pageshow", function() {
				
			});

			function löscheProjekt() {
				var ProjektId = "{{id}}";
				var ArtenGelöscht, ZeitenGelöscht, OrteGelöscht, RäumeGelöscht;
				var Rückmeldung;
				ArtenGelöscht = löscheArtenVonProjekt(ProjektId);
				if (ArtenGelöscht == false) {
					melde("Fehler: Zugehörige Arten nicht gelöscht");
					return false;
				} else {
					Rückmeldung = "zugehörige Arten gelöscht";
					ZeitenGelöscht = löscheZeitenVonProjekt(ProjektId);
					if (ZeitenGelöscht == false) {
						Rückmeldung += "\rFehler: Zugehörige Zeiten nicht gelöscht";
						melde(Rückmeldung);
						return false;
					} else {
						Rückmeldung += "\rzugehörige Zeiten gelöscht";
						OrteGelöscht = löscheOrteVonProjekt(ProjektId);
						if (OrteGelöscht == false) {
							Rückmeldung += "\rFehler: Zugehörige Orte nicht gelöscht";
							melde(Rückmeldung);
							return false;
						} else {
							Rückmeldung += "\rzugehörige Orte gelöscht";
							RäumeGelöscht = löscheRäumeVonProjekt(ProjektId);
							if (RäumeGelöscht == false) {
								Rückmeldung += "\rFehler: Zugehörige Räume nicht gelöscht";
								melde(Rückmeldung);
								return false;
							} else {
								Rückmeldung += "\rzugehörige Räume gelöscht";
								$db = $.couch.db("evab");
								return $db.openDoc(ProjektId, {
									success: function(document) {
										// lösche Projekt
										return $db.removeDoc(document, {
											success: function() {
												Rückmeldung += "\rProjekt gelöscht";
												melde(Rückmeldung);
												setTimeout("window.open('../../hProjektListe.html', target = '_self')", 1400);
												return true;
											},
											error: function() {
												Rückmeldung += "\rFehler: Projekt nicht gelöscht";
												melde(Rückmeldung);
												return false;
											}
										});
									},
									error: function() {
										Rückmeldung += "\rFehler: Projekt nicht gelöscht";
										melde(Rückmeldung);
										return false;
									}
								});
							}

						}

					}
				}
			}

			//lösche alle einem Projekt zugeordneten Räume
			function löscheRäumeVonProjekt(ProjektId) { 
				var DokumentGelöscht;
				var viewname = 'evab/hRaumIdVonProjekt?startkey=["' + ProjektId + '"]&endkey=["' + ProjektId + '",{}]';
				$db = $.couch.db("evab");
				return $db.view(viewname, {
					success: function(data) {
						var i;
						var RaumId;
						for(i in data.rows) {
							RaumId = data.rows[i].key[1];
							DokumentGelöscht = löscheDokument(RaumId);
							if (DokumentGelöscht == false) {
								return false;
							}
						}
						return true;
					},
					error: function() {
						return false;
					}
				});
			}

			//lösche alle einem Projekt zugeordneten Orte
			function löscheOrteVonProjekt(ProjektId) { 
				var DokumentGelöscht;
				var viewname = 'evab/hOrtIdVonProjekt?startkey=["' + ProjektId + '"]&endkey=["' + ProjektId + '",{}]';
				$db = $.couch.db("evab");
				return $db.view(viewname, {
					success: function(data) {
						var i;
						var OrtId;
						for(i in data.rows) {
							OrtId = data.rows[i].key[1];
							DokumentGelöscht = löscheDokument(OrtId);
							if (DokumentGelöscht == false) {
								return false;
							}
						}
						return true;
					},
					error: function() {
						return false;
					}
				});
			}	

			//lösche alle einem Projekt zugeordneten Zeiten
			function löscheZeitenVonProjekt(ProjektId) { 
				var DokumentGelöscht;
				var viewname = 'evab/hZeitIdVonProjekt?startkey=["' + ProjektId + '"]&endkey=["' + ProjektId + '",{}]';
				$db = $.couch.db("evab");
				return $db.view(viewname, {
					success: function(data) {
						var i;
						var ZeitId;
						for(i in data.rows) {
							ZeitId = data.rows[i].key[1];
							DokumentGelöscht = löscheDokument(ZeitId);
							if (DokumentGelöscht == false) {
								return false;
							}
						}
						return true;
					},
					error: function() {
						return false;
					}
				});
			}

			//lösche alle einem Projekt zugeordneten Arten
			function löscheArtenVonProjekt(ProjektId) { 
				var DokumentGelöscht;
				var viewname = 'evab/hArtIdVonProjekt?startkey=["' + ProjektId + '"]&endkey=["' + ProjektId + '",{}]';
				$db = $.couch.db("evab");
				return $db.view(viewname, {
					success: function(data) {
						var i;
						var ArtId;
						for(i in data.rows) {
							ArtId = data.rows[i].key[1];
							DokumentGelöscht = löscheDokument(ArtId);
							if (DokumentGelöscht == false) {
								return false;
							}
						}
						return true;
					},
					error: function() {
						return false;
					}
				});
			}

			function speichern(Feldname, Feldwert) {
				$db = $.couch.db("evab");
				//Bestehendes Dokument öffnen
				$db.openDoc("{{id}}", {
					success: function(hProjekt) {
						if (Feldwert) {
							hProjekt[Feldname] = Feldwert;
						} else if (hProjekt[Feldname]) {
							delete hProjekt[Feldname]
						}
						//alles speichern
						$db.saveDoc(hProjekt, {
							success: function() {
								speichereProjektfeldInArten(Feldname, Feldwert);
								speichereProjektfeldInZeiten(Feldname, Feldwert);
								speichereProjektfeldInOrten(Feldname, Feldwert);
								speichereProjektfeldInRäumen(Feldname, Feldwert);
							},
							error: function() {
								melde("Fehler: Projekt nicht gespeichert");
							}
						});
					}
				});
			}

			//Speichert alle Daten
			//wird aufgerufen von evab.js, function erstelle_hProjektEdit
			//und stellt sicher, dass die dynamisch erstellten Standardwerte gespeichert werden
			function speichereAlles() {
				$db = $.couch.db("evab");
				$db.openDoc("{{id}}", {
					success: function(hProjekt) {
						var Formularwerte = {};
						Formularwerte = $("#hProjektEditForm").serializeObject();
						//Werte aus dem Formular aktualisieren
						for (i in Formularwerte) {
							if (Formularwerte[i]) {
								hProjekt[i] = Formularwerte[i];
							} else if (hProjekt[i]) {
								delete hProjekt[i]
							}
						}
						$db.saveDoc(hProjekt);
					}
				});
			}


			function speichereProjektfeldInArten(Feldname, Feldwert) {
				//geändertes Ort-Feld in hArt anpassen
				var viewname = 'evab/hArtIdVonProjekt?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '",{}]';
				$db = $.couch.db("evab");
				$db.view(viewname, {
					success: function(data) {
						var hArtId;
						for(i in data.rows) {
							hArtId = data.rows[i].key[1];
							$db.openDoc(hArtId, {
								success: function(hArt) {
									if (Feldwert) {
										hArt[Feldname] = Feldwert;
									} else if (hArt[Feldname]) {
										delete hArt[Feldname];
									}
									$db.saveDoc(hArt);
								}
							});
						}
					}
				});
			}

			function speichereProjektfeldInZeiten(Feldname, Feldwert) {
				//geändertes Ort-Feld in hArt anpassen
				var viewname = 'evab/hZeitIdVonProjekt?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '",{}]';
				$db = $.couch.db("evab");
				$db.view(viewname, {
					success: function(data) {
						var hArtId;
						for(i in data.rows) {
							hArtId = data.rows[i].key[1];
							$db.openDoc(hArtId, {
								success: function(hArt) {
									if (Feldwert) {
										hArt[Feldname] = Feldwert;
									} else if (hArt[Feldname]) {
										delete hArt[Feldname];
									}
									$db.saveDoc(hArt);
								}
							});
						}
					}
				});
			}

			function speichereProjektfeldInOrten(Feldname, Feldwert) {
				//geändertes Ort-Feld in hArt anpassen
				var viewname = 'evab/hOrtIdVonProjekt?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '",{}]';
				$db = $.couch.db("evab");
				$db.view(viewname, {
					success: function(data) {
						var hArtId;
						for(i in data.rows) {
							hArtId = data.rows[i].key[1];
							$db.openDoc(hArtId, {
								success: function(hArt) {
									if (Feldwert) {
										hArt[Feldname] = Feldwert;
									} else if (hArt[Feldname]) {
										delete hArt[Feldname];
									}
									$db.saveDoc(hArt);
								}
							});
						}
					}
				});
			}

			function speichereProjektfeldInRäumen(Feldname, Feldwert) {
				//geändertes Ort-Feld in hArt anpassen
				var viewname = 'evab/hRaumIdVonProjekt?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '",{}]';
				$db = $.couch.db("evab");
				$db.view(viewname, {
					success: function(data) {
						var hArtId;
						for(i in data.rows) {
							hArtId = data.rows[i].key[1];
							$db.openDoc(hArtId, {
								success: function(hArt) {
									if (Feldwert) {
										hArt[Feldname] = Feldwert;
									} else if (hArt[Feldname]) {
										delete hArt[Feldname];
									}
									$db.saveDoc(hArt);
								}
							});
						}
					}
				});
			}

			//Menü aufbauen
			function erstelleMenu(thiz, User){
				$(thiz).simpledialog({
					'mode' : 'bool',
					'prompt' : 'Menü',
					'fullHTML': 'true',
			    	'buttons' : {
					 	'einfacher Modus': {
					      	click: function() {
					        	window.open("../../BeobListe.html", target="_self");
			        		},
			        		theme: "a",
			        		icon: "check"
			      		},
			      		'Felder verwalten': {
					      	click: function() {
					        	window.open("../../FeldListe.html?zurueck=hProjektEdit/" + "{{id}}", target="_self");
			        		},
			        		theme: "a",
			        		icon: "grid"
			      		},
			      		'Projekte exportieren': {
					      	click: function() {
					        	window.open('../../_list/ExportProjekt/ExportProjekt?startkey=["' + User + '",{},{},{},{},{}]&endkey=["' + User + '"]&descending=true');
			        		},
			        		theme: "a",
			        		icon: "arrow-r"
			      		},
			      		'meine Einstellungen': {
					      	click: function() {
					      		öffneMeineEinstellungen(User, "../../");
			        		},
			        		theme: "a",
			        		icon: "gear"
			      		},
			      		'lokal installieren': {
					      	click: function() {
					        	window.open("../../Installieren.html", target="_self");
			        		},
			        		theme: "a",
			        		icon: "gear"
			      		},
			      		'neu anmelden': {
					      	click: function() {
					        	window.open("../../index.html?Status=neu", target="_self");
			        		},
			        		theme: "a",
			        		icon: "home"
			      		},
			      		'schliessen': {
			                click: function() { return true; },
			                icon: "back",
			                theme: "c"
			            }
			    	}
			  	})
			}

			//Öffnet das vorige oder nächste Projekt
			//voriges des ersten => ProjektListe
			//nächstes des letzten => melden
			//erwartet die ID des aktuellen Datensatzes und ob nächster oder voriger gesucht wird
			function nächstesVorigesProjekt(IdAktuell, NächstesOderVoriges) {
				$db = $.couch.db("evab");
				$db.view('evab/hProjListe?startkey=["' + User + '"]&endkey=["' + User + '",{}]', {
					success: function(data) {
						var i;
						var ProjIdAktuell;
						var ProjIdNächstes;
						var ProjIdVoriges;
						var AnzProj;
						for(i in data.rows) {
							ProjIdAktuell = data.rows[i].value._id;
							var AnzProj = data.rows.length -1;  //vorsicht: Objekte zählen Elemente ab 1, Arrays ab 0!
							if (ProjIdAktuell == IdAktuell) {
								switch (NächstesOderVoriges) {
								case "nächstes":
									if (i < AnzProj) {
										ProjIdNächstes = data.rows[parseInt(i)+1].value._id;
										window.open(ProjIdNächstes, target="_self");
										//$.mobile.changePage(ProjIdNächstes);
									} else {
										melde("Das ist das letzte Projekt");
									}
									break;
								case "voriges":
									if (i > 0) {
										ProjIdVoriges = data.rows[i-1].value._id;
										window.open(ProjIdVoriges, target="_self");
										//$.mobile.changePage(ProjIdVoriges);
									} else {
										window.open("../../hProjektListe.html", target="_self");
									}
									break;
								}
							}
						}
					}
				});
			}

			function prüfeAnmeldung(Pfad) {		
				//User Anmeldung überprüfen
				//Wenn angemeldet, globale Variable User aktualisieren
				//Wenn nicht angemeldet, Anmeldedialog öffnen
				$.ajax({
				    url: '/_session',
				    dataType: 'json',
				    async: false,
				    success: function(session) {
				    	if(session.userCtx.name != (undefined || null)) {
				        	User = session.userCtx.name;
				        } else {
							window.open(Pfad + "index.html?Status=neu", target="_self");
						}
				    }
				});
			}
		</script>
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a href="../../hProjektListe.html" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext">zur Projekt-Liste</a>
			<h1>Projekt</h1>
			<a href='#' id='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="../../hProjektListe.html" class="ui-btn-active" rel="external">Projekte</a></li>
					<li><a href="#" rel="external" id="hRaumListeLink">Räume</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content" id="hProjektEditContent">
			<form id="hProjektEditForm" action="#" method="get" autocomplete="off" onsubmit="return false;">
				<div data-role="fieldcontain">
					<label for="pName">Name:</label>
					<input id="pName" class="speichern" name="pName" type="text" value="{{pName}}" placeholder="(Eingabe erforderlich)" required autofocus/>
				</div>
				<div id="hProjektEditFormHtml"></div>
			</form>
			<p id="Hinweistext" class="HinweisDynamischerFeldaufbau">Die Felder werden aufgebaut...</p>
			<form id="FormAnhänge" action="" method="post" >
				<hr />
				<div style="display: inline"><big><b>Anhänge</b></big> (z.B. Projektberichte)</div>
				<div id="Anhänge"></div>			
				<div data-role="fieldcontain">
				    <label for="_attachments" class="ui-input-text">Dateien anfügen:</label>
				    <input type="file" id="_attachments" name="_attachments" multiple class="speichernAnhang ui-body-c"/>
				    <p>Tipp: Auf modernen Desktop-Browsern können Sie die Dateien auch mit Drag & Drop im Feld neben der Schaltfläche "droppen".</p>
				</div>
				<input type="hidden" id="_rev" name="_rev">
			</form>
		</div>
		<div data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" name="hProjektNeuLink" class="ui-btn-active">neu</a></li>
					<li><a href="#" id="LöschenDialogLink" data-role="button" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
					<li><a href="#" id="ProjektEditMapÖffnen" data-icon="star">Karte</a></li>
					<li><a href="#" id="wähleFelder" data-icon="info">Felder</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>

	<div data-role="page" id="ProjektEditMap" style="width:100%; height:100%;">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a href="#ProjektEditPage" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse">abbrechen</a>
			<h1>Karte</h1>
			<a href='#' id='Menu2' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
		</div>
		<div data-role="content" style="width:100%; height:100%; padding:0;"> 
			<div id="map_canvas" style="width:100%; height:100%;"></div>
		</div>
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">

	
  </script>

  <script type="text/javascript" charset="utf-8">	
	
	
  </script>
</html>
