<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function() {
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
		});
    </script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
  </head>
  <body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" data-rel="back" rel="external" data-iconpos="notext" id="hRaumListeLink">zur Raum-Liste</a>
			<h1>neuer Raum</h1>
			<a href='#' id='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="" rel="external" class="ui-btn-active" id="hRaumListeLink">Räume</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form action="#" method="get" autocomplete="off" id="hRaumNeuForm">
				<div data-role="fieldcontain">
					<label for="rName">Name:</label>
					<input id="rName" name="rName" type="text" placeholder="(Eingabe erforderlich)" required autofocus/>
				</div>
				<div data-role="fieldcontain">
					<label for="rBemerkungen">Bemerkungen:</label>
					<textarea name="rBemerkungen" id="rBemerkungen"></textarea>
				</div>
			</form>
		</div>
	</div>
  </body>
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady() {
  		$db = $.couch.db("evab");

		var Pfad = "../../";
		User = "";
		
		prüfeAnmeldung(Pfad);

		//Für obligatorisches Feld bei Änderung speichern
		$("#rName").change(function() {
			speichern();
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{id}}";

		//Link zur RaumListe in Navbar setzen
		document.getElementById("hRaumListeLink").href = "../hRaumListe/" + "{{id}}";

		//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
		UserId = holeUserId(User);

		//Menu aufbauen
		$('#Menu').live('click', function() {
			erstelleMenuHierarchisch(this, User, UserId, "../../");
		});
	}
	
	$(document).ready(handleDocumentReady);

	function speichern() {
		if ($("input#rName") && $("input#rName").val() == "") {
			melde("Bitte Raumnamen eingeben");
			document.getElementById("rName").focus();
			return;
		}
		var hRaum = {};
		hRaum = $("#hRaumNeuForm").serializeObject();
		hRaum.Typ = "hRaum";
		hRaum.User = User;
		hRaum.ProjektId = "{{id}}";
		$db.saveDoc(hRaum, {
			success: function(data) {
				window.open("../hRaumEdit/" + data.id, target="_self");
			},
			error: function() {
				melde("Fehler: Raum nicht gespeichert");
			 }
		});
	}

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session?callback=',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(User != undefined || null) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html", target="_self");
				}
		    }
		});
	}
  </script>
</html>
