<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script src="../../vendor/couchapp/loaderTemplate.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  	<script type="text/javascript">
		$( document ).bind( "mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});	
	</script>
  </head>
  <body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hRaumListeLink" name="hRaumListeLink">zur Raum-Liste</a>
			<h1>Raum</h1>
			<a href='#' id='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" name="hRaumListeLink" id="hRaumListeLink">Räume</a></li>
					<li><a href="#" rel="external" id="hOrtListeLink">&rArr; Orte</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form action="#" method="get" autocomplete="off">
				<div data-role="fieldcontain">
					<label for="rName">Name:</label>
					<input id="rName" name="rName" type="text" value="{{rName}}" required/>
				</div>
				<div data-role="fieldcontain">
					<label for="rBemerkungen">Bemerkungen:</label>
					<textarea cols="40" rows="8" name="rBemerkungen" id="rBemerkungen">{{rBemerkungen}}</textarea>
				</div>
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" id="SpeichernButton" class="ui-btn-active" data-icon="check">speichern</a></li>
					<li><a href="#" id="LöschenDialogLink" data-role="button" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" id="hRaumNeuLink" name="hRaumNeuLink">neu</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady()
	{
  		$db = $.couch.db("evab-ch_barbalex_evab");
		userCtx = null;
		var Autor;
		
		$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
		});

		$("#SpeichernButton").tap(function(event) {
			var docId = "{{id}}";
			$db.openDoc(docId, {
				success: function(doc) {
					doc.Typ = "hRaum";
					doc.User = User;
					doc.ProjektId = "{{ProjektId}}";
					var rName = $("input#rName").val();
					if (rName == "") {
						MeldungEinzeilig("Bitte Raumnamen eingeben");
						document.getElementById("rName").focus();
						return;
					}
					doc.rName = rName;
					if ($("[id$='rBemerkungen']").val()!=""){
						doc.rBemerkungen = $("[id$='rBemerkungen']").val();
					} else if (doc.rBemerkungen!=null){
						delete doc.rBemerkungen;
					}
					$db.saveDoc(doc, {
						success: function(data) {
							MeldungEinzeilig("Raum gespeichert");
						},
						error: function() {
							MeldungEinzeilig("Der Raum konnte nicht gespeichert werden.");
						 }
					});
				}
			});
		});

		//Code für den Raum-Löschen-Dialog
		$('#LöschenDialogLink').live('click', function() {
			$(this).simpledialog({
				'mode' : 'bool',
		    	'prompt' : 'Diesen Raum löschen?',
		    	'forceInput': 'false',
		    	'buttons' : {
				 	'ja': {
				      	click: function () {
				        	$('#dialogoutput').text('ja');
				        	handleDelete();
		        		},
		        		icon: "delete",
		        		theme: "c"
		      		},
		      		'nein': {
		        		click: function () {
		          			$('#dialogoutput').text('nein');
		        		}
		      		}
		    	}
		  	})
		});

		//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
		var UserId;
		$db.view("evab/User",
			{success: function(data) {
				var i;
				var doc;
				for(i in data.rows) {
					key = data.rows[i].key;
					doc = data.rows[i].value;
					if (key == User) {
						UserId = doc._id;
					}
				}
			}
		});

		//Menu aufbauen
		$('#Menu').live('click', function(){
			MenuAufbauenHierarchisch(this, User, UserId, "../../");
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zur RaumListe in Navbar setzen
		var url = "../hRaumListe/" + "{{ProjektId}}";
		$("[name='hRaumListeLink']").attr('href', url);

		//Link zum RaumNeu setzen
		var url = "../hRaumNeu/" + "{{ProjektId}}";
		$("[name='hRaumNeuLink']").attr('href', url);

		//Link zur Ortliste in Navbar setzen
		document.getElementById("hOrtListeLink").href = "../hOrtListe/" + "{{id}}";

		//transitions ausschalten, weil das auf Android nativ miserabel funktioniert
		$(document).bind("mobileinit", function(){
			defaultDialogTransition = none;
		});
	}
	
	$(document).ready(handleDocumentReady);
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	function handleDelete(event)
		{
			var docId = "{{id}}";
			var ProjektId = "{{ProjektId}}";
			// First open doc based on ID in order to get full document
			$db.openDoc(docId, {
				success: function(document) {
					// Then use the opened doc as reference to remove
					$db.removeDoc(document, {
						success: function() {
							MeldungEinzeilig("Raum gelöscht");
							window.open("../hRaumListe/" + ProjektId, target="_self");
						},
						error: function() {
							MeldungEinzeilig("Der Raum mit der ID: " + docId + " konnte nicht gelöscht werden");
						}
					});
				},
				error: function() {
					MeldungEinzeilig("Ein Raum mit der ID: " + docId + " wurde nicht gefunden");
				}
			});
			return false;
		}
  </script>
</html>
