<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
  	<script type="text/javascript">			
		$(document).bind("mobileinit", function() {
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
			$.mobile.touchOverflowEnabled = 'true';
		});
    </script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
  </head>
  <body>
  	<div data-role="page">
  		<div data-role="header" id="hRaumListePageHeader" data-position="fixed" data-backbtn="false">
  			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hProjektLink" name="hProjektLink">zum Projekt</a>
  			<h2 class="hRaumListePageTitel">R&auml;ume</h2>
  			<a href='#' id='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink" name="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hRaumListeLink">Räume</a></li>
				</ul>
			</div><!-- /navbar -->
  		</div>
		<div data-role="content">
			<ul id="Räume" data-role="listview" data-theme="c" data-filter="true" data-filter-placeholder="Filter setzen..." />
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" class="ui-btn-active" id="hRaumNeuLink" name="hRaumNeuLink">neuer Raum</a></li>
				</ul>
			</div>
		</div>
	</div>

  </body>
  <script type="text/javascript" charset="utf-8">
	function handleDocumentReady() {
		$db = $.couch.db("evab");
		
		var Pfad = "../../";
		User = "";
		
		prüfeAnmeldung(Pfad);
		
		refreshRaumListe();

		//Link zum Projekt in Navbar und Titelleiste setzen
		var url = "../hProjektEdit/" + "{{id}}";
		$("[name='hProjektLink']").attr('href', url);

		//neuen Raum erstellen
		$("[name='hRaumNeuLink']").live("click", function() {
			erstelleNeuenRaum("{{id}}");
		});

		//Link zur RaumListe in Navbar setzen
		document.getElementById("hRaumListeLink").href = "../hRaumListe/" + "{{id}}";

		//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
		UserId = holeUserId(User);

		//Menu aufbauen
		$('#Menu').live('click', function() {
			var zurueck = "hRaumListe/" + "{{id}}";
			erstelleMenuHierarchisch(zurueck, this, User, UserId, "../../");
		});
	}
	
	$(document).ready(handleDocumentReady);

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session?callback=',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(User != undefined || null) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html", target="_self");
				}
		    }
		});
	}
  </script>
  <script type="text/javascript" charset="utf-8">	
  	function refreshRaumListe() {
		$("#Räume").empty();
		var ProjektId = "{{id}}";
		$db.view('evab/hRaumListe?startkey=["' + User + '", "' + ProjektId + '"]&endkey=["' + User + '", "' + ProjektId + '" ,{}]', {
			success: function(data) {
				var i;
				var anzRaum = 0;
				var Raum;
				var externalPage;
				var listItem;
				var ListItemContainer = "";
				for(i in data.rows) {                    //Räume zählen
					anzRaum += 1;
				}
				var Titel2 = " Räume";                   //Im Titel der Seite die Anzahl Räume anzeigen
				if (anzRaum == 1) {
					Titel2 = " Raum";
				}
				$("#hRaumListePageHeader .hRaumListePageTitel").text(anzRaum + Titel2);
				if (anzRaum == 0) {
					ListItemContainer = '<li><a href="#"" data-transition="slideup" rel="external" name="hRaumNeuLink">Ersten Raum erfassen</a></li>';
				} else {
					for(i in data.rows) {                //Liste aufbauen
						Raum = data.rows[i].value;
						key = data.rows[i].key;
						rName = Raum.rName;
						externalPage = "../../_show/hRaumEdit/" + Raum._id;
						listItem = "<li id=\"" + Raum._id + "\">" +
							"<a href=\"" + externalPage + "\" rel=\"external\">" +
							"<h3>" + rName + "<\/h3>" +
							"<\/a> <\/li>";
						ListItemContainer += listItem;
					}
				}
				ListItemContainer += "<\/ul>";
				$("#Räume").html(ListItemContainer);
				$("#Räume").listview();
				//$("#Räume").listview("create");
				$("#Räume").listview("refresh");
			}
		});
	}
  </script>
</html>
