<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript">
	//customize jQuery Mobile to let IE7+ in (Mobile IE)
	//run this script after jQuery loads, but before jQuery Mobile loads				
		$(document).bind("mobileinit", function(){
			$.extend(  $.mobile , {	
			//extend gradeA qualifier to include IE7+
				gradeA: function(){    	
			    	//IE version check by James Padolsey, modified by jdalton - from http://gist.github.com/527683
					var ie = (function() {
					    var v = 3, div = document.createElement('div'), a = div.all || [];
					    while (div.innerHTML = '<!--[if gt IE '+(++v)+']><br><![endif]-->', a[0]); 
					    return v > 4 ? v : !v;
					}());
			    	
			    	//must either support media queries or be IE7+
			    	return $.support.mediaquery || (ie && ie >= 7);
			    }
			});
		});
	</script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  	<script type="text/javascript">
		$( document ).bind( "mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});	
	</script>
  </head>
  <body>
	<div data-role="page" id="ZeitEditPage">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hZeitListeLink" name="hZeitListeLink">zur Zeit-Liste</a>
			<h1>Zeit</h1>
			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink">Ort</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hZeitListeLink" name="hZeitListeLink">Zeiten</a></li>
					<li><a href="#" rel="external" id="hArtListeLink">&rArr; Art</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form action="#" method="get" autocomplete="off">
				<div data-role="fieldcontain">
					<label for="zDatum">Datum:</label>
					<input id="zDatum" name="zDatum" type="date" data-role="datebox" data-options='{"mode": "calbox"}' value="{{zDatum}}" required/>
				</div>
				<div data-role="fieldcontain">
					<label for="zZeit">Zeit:</label>
					<input id="zZeit" name="zZeit" type="date" data-role="datebox" data-options='{"mode": "timebox"}' value="{{zZeit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zGenauigkeit">Zeit Genauigkeit:</label>
					<input id="zGenauigkeit" name="zGenauigkeit" type="text" value="{{zGenauigkeit}}"/>
				</div>	
				<div data-role="fieldcontain">
					<label for="zDeckungDefinition">Deckung Definition:</label>
					<textarea cols="40" rows="8" name="zDeckungDefinition" id="zDeckungDefinition">{{zDeckungDefinition}}</textarea>
				</div>		
				<div data-role="fieldcontain">
					<label for="zDeckungAlgen">Deckung Algen:</label>
					<input id="zDeckungAlgen" name="zDeckungAlgen" type="text" value="{{zDeckungAlgen}}"/>
					</div>
				<div data-role="fieldcontain">
					<label for="zDeckungBäume">Deckung Bäume:</label>
					<input id="zDeckungBäume" name="zDeckungBäume" type="text" value="{{zDeckungBäume}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungSträucher">Deckung Sträucher:</label>
					<input id="zDeckungSträucher" name="zDeckungSträucher" type="text" value="{{zDeckungSträucher}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungKryptogamen">Deckung Kryptogamen:</label>
					<input id="zDeckungKryptogamen" name="zDeckungKryptogamen" type="text" value="{{zDeckungKryptogamen}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungWasser">Deckung Wasser:</label>
					<input id="zDeckungWasser" name="zDeckungWasser" type="text" value="{{zDeckungWasser}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungKräuter">Deckung Kräuter:</label>
					<input id="zDeckungKräuter" name="zDeckungKräuter" type="text" value="{{zDeckungKräuter}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungFlechten">Deckung Flechten:</label>
					<input id="zDeckungFlechten" name="zDeckungFlechten" type="text" value="{{zDeckungFlechten}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungStreu">Deckung Streu:</label>
					<input id="zDeckungStreu" name="zDeckungStreu" type="text" value="{{zDeckungStreu}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungMoos">Deckung Moos:</label>
					<input id="zDeckungMoos" name="zDeckungMoos" type="text" value="{{zDeckungMoos}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungGestein">Deckung Gestein:</label>
					<input id="zDeckungGestein" name="zDeckungGestein" type="text" value="{{zDeckungGestein}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungBoden">Deckung Boden:</label>
					<input id="zDeckungBoden" name="zDeckungBoden" type="text" value="{{zDeckungBoden}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungVegetation">Deckung Vegetation:</label>
					<input id="zDeckungVegetation" name="zDeckungVegetation" type="text" value="{{zDeckungVegetation}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zBaumschichtHöheMax">Baumschicht max. Höhe cm:</label>
					<input id="zBaumschichtHöheMax" name="zBaumschichtHöheMax" type="number" value="{{zBaumschichtHöheMax}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zBaumschichtHöheMin">Baumschicht min. Höhe cm:</label>
					<input id="zBaumschichtHöheMin" name="zBaumschichtHöheMin" type="number" value="{{zBaumschichtHöheMin}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zBaumschichtHöheMit">Baumschicht mittlere Höhe cm:</label>
					<input id="zBaumschichtHöheMit" name="zBaumschichtHöheMit" type="number" value="{{zBaumschichtHöheMit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zStrauchschichtHöheMax">Strauchschicht max. Höhe cm:</label>
					<input id="zStrauchschichtHöheMax" name="zStrauchschichtHöheMax" type="number" value="{{zStrauchschichtHöheMax}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zStrauchschichtHöheMin">Strauchschicht min. Höhe cm:</label>
					<input id="zStrauchschichtHöheMin" name="zStrauchschichtHöheMin" type="number" value="{{zStrauchschichtHöheMin}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zStrauchschichtHöheMit">Strauchschicht mittlere Höhe cm:</label>
					<input id="zStrauchschichtHöheMit" name="zStrauchschichtHöheMit" type="number" value="{{zStrauchschichtHöheMit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zKrautschichtHöheMax">Krautschicht max. Höhe cm:</label>
					<input id="zKrautschichtHöheMax" name="zKrautschichtHöheMax" type="number" value="{{zKrautschichtHöheMax}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zKrautschichtHöheMin">Krautschicht min. Höhe cm:</label>
					<input id="zKrautschichtHöheMin" name="zKrautschichtHöheMin" type="number" value="{{zKrautschichtHöheMin}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zKrautschichtHöheMit">Krautschicht mittlere Höhe cm:</label>
					<input id="zKrautschichtHöheMit" name="zKrautschichtHöheMit" type="number" value="{{zKrautschichtHöheMit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zVegHöheMax">Vegetation max. Höhe cm:</label>
					<input id="zVegHöheMax" name="zVegHöheMax" type="number" value="{{zVegHöheMax}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zVegHöheMin">Vegetation min. Höhe cm:</label>
					<input id="zVegHöheMin" name="zVegHöheMin" type="number" value="{{zVegHöheMin}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zVegHöheMit">Vegetation mittlere Höhe cm:</label>
					<input id="zVegHöheMit" name="zVegHöheMit" type="number" value="{{zVegHöheMit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zMoosschichtHöheMit">Moosschicht mittlere Höhe cm:</label>
					<input id="zMoosschichtHöheMit" name="zMoosschichtHöheMit" type="number" value="{{zMoosschichtHöheMit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zFlechtenschichtHöheMit">Flechtenschicht mittlere Höhe cm:</label>
					<input id="zFlechtenschichtHöheMit" name="zFlechtenschichtHöheMit" type="number" value="{{zFlechtenschichtHöheMit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zKryptogamenschichtHöheMit">Kryptogamenschicht mittlere Höhe cm:</label>
					<input id="zKryptogamenschichtHöheMit" name="zKryptogamenschichtHöheMit" type="number" value="{{zKryptogamenschichtHöheMit}}"/>
				</div>
				<div data-role="fieldcontain">
					<label for="zBemerkungen">Bemerkungen:</label>
					<textarea cols="40" rows="8" name="zBemerkungen" id="zBemerkungen">{{zBemerkungen}}</textarea>
				</div>
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" id="hZeitNeuLink">neu</a></li>
					<li><a href="#" id="LöschenDialogLink" data-role="button" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady()
	{
  		$db = $.couch.db("evab-ch_barbalex_evab");
		
		userCtx = null;
		var Autor;
		
		$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
		});

		//Für jedes Feld bei Änderung speichern
		$("#zDatum").change(function(){
			speichern();
		});
		$("#zZeit").change(function(){
			speichern();
		});
		$("#zGenauigkeit").change(function(){
			speichern();
		});
		$("#zDeckungDefinition").change(function(){
			speichern();
		});
		$("#zDeckungAlgen").change(function(){
			speichern();
		});
		$("#zDeckungBäume").change(function(){
			speichern();
		});
		$("#zDeckungSträucher").change(function(){
			speichern();
		});
		$("#zDeckungKryptogamen").change(function(){
			speichern();
		});
		$("#zDeckungWasser").change(function(){
			speichern();
		});
		$("#zDeckungKräuter").change(function(){
			speichern();
		});
		$("#zDeckungFlechten").change(function(){
			speichern();
		});
		$("#zDeckungStreu").change(function(){
			speichern();
		});
		$("#zDeckungMoos").change(function(){
			speichern();
		});
		$("#zDeckungGestein").change(function(){
			speichern();
		});
		$("#zDeckungBoden").change(function(){
			speichern();
		});
		$("#zDeckungVegetation").change(function(){
			speichern();
		});
		$("#zBaumschichtHöheMax").change(function(){
			speichern();
		});
		$("#zBaumschichtHöheMin").change(function(){
			speichern();
		});
		$("#zBaumschichtHöheMit").change(function(){
			speichern();
		});
		$("#zStrauchschichtHöheMax").change(function(){
			speichern();
		});
		$("#zStrauchschichtHöheMin").change(function(){
			speichern();
		});
		$("#zStrauchschichtHöheMit").change(function(){
			speichern();
		});
		$("#zKrautschichtHöheMax").change(function(){
			speichern();
		});
		$("#zKrautschichtHöheMin").change(function(){
			speichern();
		});
		$("#zKrautschichtHöheMit").change(function(){
			speichern();
		});
		$("#zVegHöheMax").change(function(){
			speichern();
		});
		$("#zVegHöheMin").change(function(){
			speichern();
		});
		$("#zVegHöheMit").change(function(){
			speichern();
		});
		$("#zMoosschichtHöheMit").change(function(){
			speichern();
		});
		$("#zFlechtenschichtHöheMit").change(function(){
			speichern();
		});
		$("#zKryptogamenschichtHöheMit").change(function(){
			speichern();
		});
		$("#zBemerkungen").change(function(){
			speichern();
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{RaumId}}";

		//Link zum Ort in Navbar setzen
		document.getElementById("hOrtLink").href = "../hOrtEdit/" + "{{OrtId}}";

		//Link zur ZeitListe in Navbar setzen
		var url = "../hZeitListe/" + "{{OrtId}}";
		$("[name='hZeitListeLink']").attr('href', url);

		//Neue Zeit erstellen
		$('#hZeitNeuLink').live('click', function(event){
			event.preventDefault();
			var doc = {};
			doc.Typ = "hZeit";
			doc.User = User;
			doc.ProjektId = "{{ProjektId}}"
			doc.RaumId = "{{RaumId}}";
			doc.OrtId = "{{id}}";
			doc.zDatum = DatumNeu();
			doc.zZeit = ZeitNeu();
			$db.saveDoc(doc, {
				success: function(data) {
					window.open("../hZeitEdit/" + data.id, target="_self");
				},
				error: function() {
					MeldungEinzeilig("Die neue Zeit konnte nicht gespeichert werden.");
				 }
			});
		});

		//Link zur Art in Navbar setzen
		document.getElementById("hArtListeLink").href = "../hArtListe/" + "{{id}}";

		//Code für den Zeit-Löschen-Dialog
		$('#LöschenDialogLink').live('click', function() {
			$(this).simpledialog({
				'mode' : 'bool',
		    	'prompt' : 'Diese Zeit löschen?',
		    	'forceInput': 'false',
		    	'buttons' : {
				 	'ja': {
				      	click: function () {
				        	$('#dialogoutput').text('ja');
				        	handleDelete();
		        		},
		        		icon: "delete",
		        		theme: "c"
		      		},
		      		'nein': {
		        		click: function () {
		          			$('#dialogoutput').text('nein');
		        		}
		      		}
		    	}
		  	})
		});

		//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
		var UserId;
		$db.view("evab/User",
			{success: function(data) {
				var i;
				var doc;
				for(i in data.rows) {
					key = data.rows[i].key;
					doc = data.rows[i].value;
					if (key == User) {
						UserId = doc._id;
					}
				}
			}
		});

		//Menu aufbauen
		$("[name='Menu']").live('click', function(){
			MenuAufbauenHierarchisch(this, User, UserId, "../../");
		});

		//transitions ausschalten, weil das auf Android nativ miserabel funktioniert
		$(document).bind("mobileinit", function(){
			defaultDialogTransition = none;
		});
	}
	
	$(document).ready(handleDocumentReady);
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	function handleDelete(event){
		var docId = "{{id}}";
		var OrtId = "{{OrtId}}";
		// First open doc based on ID in order to get full document
		$db.openDoc(docId, {
			success: function(document) {
				// Then use the opened doc as reference to remove
				$db.removeDoc(document, {
					success: function() {
						MeldungEinzeilig("Zeit gelöscht");
						window.open("../hZeitListe/" + OrtId, target="_self");
					},
					error: function() {
						MeldungEinzeilig("Die Zeit konnte nicht gelöscht werden");
					}
				});
			},
			error: function() {
				MeldungEinzeilig("Eine Zeit mit der ID: " + docId + " wurde nicht gefunden");
			}
		});
		return false;
	}

	function speichern(){
		var docId = "{{id}}";
		$db.openDoc(docId, {
			success: function(doc) {
				doc.Typ = "hZeit";
				doc.User = User;
				doc.ProjektId = "{{ProjektId}}";
				doc.RaumId = "{{RaumId}}";
				doc.OrtId = "{{OrtId}}";
				if ($("input#zDatum").val()!=""){
					doc.zDatum = $("input#zDatum").val();
				} else {
					MeldungEinzeilig("Sie müssen ein Datum erfassen");
					document.getElementById("zDatum").focus();
					return;
				}
				if ($("input#zZeit").val()!=""){
					doc.zZeit = $("input#zZeit").val();
				} else {
					MeldungEinzeilig("Bitte Zeit erfassen");
					document.getElementById("zZeit").focus();
					return;
				}
				if ($("input#zGenauigkeit").val()!=""){
					doc.zGenauigkeit = $("input#zGenauigkeit").val();
				} else if (doc.zGenauigkeit!=null){
					delete doc.zGenauigkeit;
				}
				if ($("input#zDeckungAlgen").val()!=""){
					doc.zDeckungAlgen = $("input#zDeckungAlgen").val();
				} else if (doc.zDeckungAlgen!=null){
					delete doc.zDeckungAlgen;
				}
				if ($("input#zDeckungBäume").val()!=""){
					doc.zDeckungBäume = $("input#zDeckungBäume").val();
				} else if (doc.zDeckungBäume!=null){
					delete doc.zDeckungBäume;
				}
				if ($("input#zDeckungSträucher").val()!=""){
					doc.zDeckungSträucher = $("input#zDeckungSträucher").val();
				} else if (doc.zDeckungSträucher!=null){
					delete doc.zDeckungSträucher;
				}
				if ($("input#zDeckungKryptogamen").val()!=""){
					doc.zDeckungKryptogamen = $("input#zDeckungKryptogamen").val();
				} else if (doc.zDeckungKryptogamen!=null){
					delete doc.zDeckungKryptogamen;
				}
				if ($("input#zDeckungWasser").val()!=""){
					doc.zDeckungWasser = $("input#zDeckungWasser").val();
				} else if (doc.zDeckungWasser!=null){
					delete doc.zDeckungWasser;
				}
				if ($("input#zDeckungKräuter").val()!=""){
					doc.zDeckungKräuter = $("input#zDeckungKräuter").val();
				} else if (doc.zDeckungKräuter!=null){
					delete doc.zDeckungKräuter;
				}
				if ($("input#zDeckungFlechten").val()!=""){
					doc.zDeckungFlechten = $("input#zDeckungFlechten").val();
				} else if (doc.zDeckungFlechten!=null){
					delete doc.zDeckungFlechten;
				}
				if ($("input#zDeckungStreu").val()!=""){
					doc.zDeckungStreu = $("input#zDeckungStreu").val();
				} else if (doc.zDeckungStreu!=null){
					delete doc.zDeckungStreu;
				}
				if ($("input#zDeckungMoos").val()!=""){
					doc.zDeckungMoos = $("input#zDeckungMoos").val();
				} else if (doc.zDeckungMoos!=null){
					delete doc.zDeckungMoos;
				}
				if ($("input#zDeckungGestein").val()!=""){
					doc.zDeckungGestein = $("input#zDeckungGestein").val();
				} else if (doc.zDeckungGestein!=null){
					delete doc.zDeckungGestein;
				}
				if ($("input#zDeckungBoden").val()!=""){
					doc.zDeckungBoden = $("input#zDeckungBoden").val();
				} else if (doc.zDeckungBoden!=null){
					delete doc.zDeckungBoden;
				}
				if ($("input#zDeckungVegetation").val()!=""){
					doc.zDeckungVegetation = $("input#zDeckungVegetation").val();
				} else if (doc.zDeckungVegetation!=null){
					delete doc.zDeckungVegetation;
				}
				if ($("[id$='zDeckungDefinition']").val()!=""){
					doc.zDeckungDefinition = $("[id$='zDeckungDefinition']").val();
				} else if (doc.zDeckungDefinition!=null){
					delete doc.zDeckungDefinition;
				}
				if ($("input#zBaumschichtHöheMax").val()!=""){
					doc.zBaumschichtHöheMax = $("input#zBaumschichtHöheMax").val();
				} else if (doc.zBaumschichtHöheMax!=null){
					delete doc.zBaumschichtHöheMax;
				}
				if ($("input#zBaumschichtHöheMin").val()!=""){
					doc.zBaumschichtHöheMin = $("input#zBaumschichtHöheMin").val();
				} else if (doc.zBaumschichtHöheMin!=null){
					delete doc.zBaumschichtHöheMin;
				}
				if ($("input#zBaumschichtHöheMit").val()!=""){
					doc.zBaumschichtHöheMit = $("input#zBaumschichtHöheMit").val();
				} else if (doc.zBaumschichtHöheMit!=null){
					delete doc.zBaumschichtHöheMit;
				}
				if ($("input#zStrauchschichtHöheMax").val()!=""){
					doc.zStrauchschichtHöheMax = $("input#zStrauchschichtHöheMax").val();
				} else if (doc.zStrauchschichtHöheMax!=null){
					delete doc.zStrauchschichtHöheMax;
				}
				if ($("input#zStrauchschichtHöheMin").val()!=""){
					doc.zStrauchschichtHöheMin = $("input#zStrauchschichtHöheMin").val();
				} else if (doc.zStrauchschichtHöheMin!=null){
					delete doc.zStrauchschichtHöheMin;
				}
				if ($("input#zStrauchschichtHöheMit").val()!=""){
					doc.zStrauchschichtHöheMit = $("input#zStrauchschichtHöheMit").val();
				} else if (doc.zStrauchschichtHöheMit!=null){
					delete doc.zStrauchschichtHöheMit;
				}
				if ($("input#zKrautschichtHöheMax").val()!=""){
					doc.zKrautschichtHöheMax = $("input#zKrautschichtHöheMax").val();
				} else if (doc.zKrautschichtHöheMax!=null){
					delete doc.zKrautschichtHöheMax;
				}
				if ($("input#zKrautschichtHöheMin").val()!=""){
					doc.zKrautschichtHöheMin = $("input#zKrautschichtHöheMin").val();
				} else if (doc.zKrautschichtHöheMin!=null){
					delete doc.zKrautschichtHöheMin;
				}
				if ($("input#zKrautschichtHöheMit").val()!=""){
					doc.zKrautschichtHöheMit = $("input#zKrautschichtHöheMit").val();
				} else if (doc.zKrautschichtHöheMit!=null){
					delete doc.zKrautschichtHöheMit;
				}
				if ($("input#zVegHöheMax").val()!=""){
					doc.zVegHöheMax = $("input#zVegHöheMax").val();
				} else if (doc.zVegHöheMax!=null){
					delete doc.zVegHöheMax;
				}
				if ($("input#zVegHöheMin").val()!=""){
					doc.zVegHöheMin = $("input#zVegHöheMin").val();
				} else if (doc.zVegHöheMin!=null){
					delete doc.zVegHöheMin;
				}
				if ($("input#zVegHöheMit").val()!=""){
					doc.zVegHöheMit = $("input#zVegHöheMit").val();
				} else if (doc.zVegHöheMit!=null){
					delete doc.zVegHöheMit;
				}
				if ($("input#zMoosschichtHöheMit").val()!=""){
					doc.zMoosschichtHöheMit = $("input#zMoosschichtHöheMit").val();
				} else if (doc.zMoosschichtHöheMit!=null){
					delete doc.zMoosschichtHöheMit;
				}
				if ($("input#zFlechtenschichtHöheMit").val()!=""){
					doc.zFlechtenschichtHöheMit = $("input#zFlechtenschichtHöheMit").val();
				} else if (doc.zFlechtenschichtHöheMit!=null){
					delete doc.zFlechtenschichtHöheMit;
				}
				if ($("input#zKryptogamenschichtHöheMit").val()!=""){
					doc.zKryptogamenschichtHöheMit = $("input#zKryptogamenschichtHöheMit").val();
				} else if (doc.zKryptogamenschichtHöheMit!=null){
					delete doc.zKryptogamenschichtHöheMit;
				}
				if ($("[id$='zBemerkungen']").val()!=""){
					doc.zBemerkungen = $("[id$='zBemerkungen']").val();
				} else if (doc.zBemerkungen!=null){
					delete doc.zBemerkungen;
				}
				$db.saveDoc(doc, {
					success: function(data) {
						MeldungEinzeilig("Zeit gespeichert");
					},
					error: function() {
						MeldungEinzeilig("Die Zeit konnte nicht gespeichert werden.");
					 }
				});
			}
		});
	}
  </script>
</html>
