<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
   	<link rel="stylesheet" href="../../style/evab_theme.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function() {
			$.mobile.loadingMessage = 'chrampfe!'; 
			$.mobile.defaultPageTransition  = 'none';
			$.mobile.touchOverflowEnabled = 'true';
		});
    </script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>	
  </head>
  <body>
  	<div data-role="page">
  		<div data-role="header" id="hZeitListePageHeader" data-position="fixed" data-backbtn="false">
  			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hOrtLink" name="hOrtLink">zum Ort</a>
  			<h2 class="hZeitListePageTitel">Zeit</h2>
  			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink" name="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink" name="hOrtLink">Ort</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hZeitListeLink">Zeiten</a></li>
				</ul>
			</div><!-- /navbar -->
  		</div>
		<div data-role="content">
			<ul id="Zeiten" data-role="listview" data-filter="true" data-filter-placeholder="Filter setzen..." />
			</ul>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" class="ui-btn-active" id="hZeitNeuLink">neue Zeit</a></li>
				</ul>
			</div>
		</div>
	</div>

  </body>
  <script type="text/javascript" charset="utf-8">
	function handleDocumentReady() {
		$db = $.couch.db("evab");
		
		var Pfad = "../../";
		User = "";
		
		prüfeAnmeldung(Pfad);
		
		refreshZeitListe();

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{RaumId}}";

		//Link zum Ort in Navbar und Titelleiste setzen
		var url = "../hOrtEdit/" + "{{id}}";
		$("[name='hOrtLink']").attr('href', url);

		//Neue Zeit erstellen
		$('#hZeitNeuLink').live('click', function(event) {
			event.preventDefault();
			erstelleNeueZeit(User, "{{ProjektId}}", "{{RaumId}}", "{{id}}"); 
		});

		$(".Zeit").live("swipeleft", function() {
			var ZeitId = $(this).attr('id');
			window.open("../hArtListe/" + ZeitId, target="_self");
		});

		$(".erste").live("swipeleft", function() {
			erstelleNeueZeit(User, "{{ProjektId}}", "{{RaumId}}", "{{id}}");
		});

		$(".Zeit").live("swiperight", function() {
			window.open("../hOrtListe/" + "{{RaumId}}", target="_self");
		});

		$(".erste").live("swiperight", function() {
			window.open("../hOrtListe/" + "{{RaumId}}", target="_self");
		});

		//Link zur OrtListe in Navbar setzen
		document.getElementById("hZeitListeLink").href = "../hZeitListe/" + "{{id}}";

		//UserId ermitteln, um Link zum UserEdit im Menü zu setzen
		UserId = holeUserId(User);

		//Menu aufbauen
		$("[name='Menu']").live('click', function() {
			var zurueck = "hZeitListe/" + "{{id}}";
			erstelleMenuHierarchisch(zurueck, this, User, UserId, "../../");
		});

		//$.mobile.fixedToolbars.show();
	}
	
	$(document).ready(handleDocumentReady);

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session?callback=',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(User != undefined || null) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html", target="_self");
				}
		    }
		});
	}
  </script>
  <script type="text/javascript" charset="utf-8">	
  	function refreshZeitListe() {
		$("#Zeiten").empty();
		var OrtId = "{{id}}";
		$db.view('evab/hZeitListe?startkey=["' + User + '", "' + OrtId + '"]&endkey=["' + User + '", "' + OrtId + '" ,{}]', {
			success: function(data) {
				var i;
				var anzZeit = 0;
				var Zeit;
				var externalPage;
				var listItem;
				var ListItemContainer = "";
				for(i in data.rows) {                    //Zeiten zählen. Wenn noch keine: darauf hinweisen
					anzZeit += 1;
				}

				var Titel2 = " Zeiten";                  //Im Titel der Seite die Anzahl Zeiten anzeigen
				if (anzZeit == 1){
					Titel2 = " Zeit";
				}
				$("#hZeitListePageHeader .hZeitListePageTitel").text(anzZeit + Titel2);

				if (anzZeit == 0) {
					ListItemContainer = '<li><a href="javascript:erstelleNeueZeit_mitAllenParametern()" data-transition="slideup" rel="external" class="erste">Erste Zeit erfassen</a></li>';
				} else {
					for(i in data.rows) {
						Zeit = data.rows[i].value;
						key = data.rows[i].key;
						var zZeitDatum = key[2] + "&nbsp; &nbsp;" + key[3];
						externalPage = "../../_show/hZeitEdit/" + Zeit._id;
						listItem = "<li id=\"" + Zeit._id + "\" class=\"Zeit\"><a href=\"" + externalPage + "\" rel=\"external\"><h3>" + zZeitDatum + "<\/h3><\/a> <\/li>";
						ListItemContainer += listItem;
					}
				}
				$("#Zeiten").html(ListItemContainer);
				//$("#Zeiten").listview();
				$("#Zeiten").listview("refresh");
				//$.mobile.fixedToolbars.show();
			}
		});
	}

	function erstelleNeueZeit_mitAllenParametern() {
		erstelleNeueZeit(User, "{{ProjektId}}", "{{RaumId}}", "{{id}}");
	}
  </script>
</html>
