<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
   	<link rel="stylesheet" href="../../style/evab_theme.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).bind("mobileinit", function() {
			$.mobile.loadingMessage = 'chrampfe!';
			$.mobile.defaultPageTransition  = 'none';
			$.mobile.touchOverflowEnabled = 'true';
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.page.prototype.options.degradeInputs.time = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
			$.event.special.swipe.horizontalDistanceThreshold = 250;
			$.mobile.fixedToolbars.setTouchToggleEnabled(false);
		});
    </script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.form.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  </head>
  <body>
	<div data-role="page" id="ZeitEditPage">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext" id="hZeitListeLink" name="hZeitListeLink">zur Zeit-Liste</a>
			<h1>Zeit</h1>
			<a href='#' id='Menu' name='Menu' data-role='button' data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink">Ort</a></li>
					<li><a href="#" rel="external" class="ui-btn-active" id="hZeitListeLink" name="hZeitListeLink">Zeiten</a></li>
					<li><a href="#" rel="external" id="hArtListeLink">Arten</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content" id="hZeitEditContent">
			<form action="#" method="get" autocomplete="off" id="hZeitEditForm">
				<div data-role="fieldcontain">
					<label for="zDatum">Datum:</label>
					<input id="zDatum" name="zDatum" class="speichern" type="date" data-role="datebox" data-options='{"mode": "calbox", "calStartDay": 1}' value="{{zDatum}}" required/>
				</div>
				<div data-role="fieldcontain">
					<label for="zUhrzeit">Zeit:</label>
					<input id="zUhrzeit" name="zUhrzeit" class="speichern" type="time" data-role="datebox" data-options='{"mode": "timeflipbox"}' value="{{zUhrzeit}}"/>
				</div>
				<div id="hZeitEditFormHtml">

				</div>
			</form>
			<p id="Hinweistext" class="HinweisDynamischerFeldaufbau">Die Felder werden aufgebaut...</p>
			<form id="FormAnhänge" action="" method="post" >
				<hr />
				<div style="display: inline"><big><b>Anhänge</b></big></div>
				<div id="Anhänge"></div>			
				<div data-role="fieldcontain">
				    <label for="_attachments" class="ui-input-text">Dateien anfügen:</label>
				    <input type="file" id="_attachments" name="_attachments" multiple class="speichernAnhang ui-body-c"/>
				    <p>Tipp: Auf modernen Desktop-Browsern können Sie die Dateien auch mit Drag & Drop im Feld neben der Schaltfläche "droppen".</p>
				</div>
				<input type="hidden" id="_rev" name="_rev">
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-transition="slideup" data-icon="plus" rel="external" id="hZeitNeuLink" class="ui-btn-active">neu</a></li>
					<li><a href="#" id="LöschenDialogLink" data-role="button" data-icon="minus" forceInput="false">l&ouml;schen</a></li>
					<li><a href="#" id="wähleFelder" data-icon="info">Felder</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady() {
  		$db = $.couch.db("evab");

		var Pfad = "../../";
		User = "";
		
		prüfeAnmeldung(Pfad);
		erstelle_hZeitEdit("{{id}}", User);

		speichereLetzteUrl(User);

		//Slider-Felder erst bei mouseup speichern
		//change wird für jeden geswipten Wert ausgelöst!
		//ungelöstes Problem: swipe reagiert!
		$("#hZeitEditForm").on("mouseup", ".ui-slider", function(event) {
			var Feldname = this.name;
			//nötig, damit Arrays richtig kommen
			var Feldjson = $("[name='" + Feldname + "']").serializeObject();
			var Feldwert = Feldjson[Feldname];
			speichern(Feldname, Feldwert);
		});

		//Für jedes Feld bei Änderung speichern
		$("#hZeitEditForm").on("change", ".speichern", function(event) {
			var Feldname = this.name;
			//nötig, damit Arrays richtig kommen
			var Feldjson = $("[name='" + Feldname + "']").serializeObject();
			var Feldwert = Feldjson[Feldname];
			speichern(Feldname, Feldwert);
		});

		//Änderungen im Formular für Anhänge speichern
		$("#FormAnhänge").on("change", ".speichernAnhang", function() {
			var _attachments = $("#_attachments").val();
			if (_attachments && _attachments.length != 0) {
				speichereAnhänge("{{id}}");
			}
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{hProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{hRaumId}}";

		//Link zum Ort in Navbar setzen
		document.getElementById("hOrtLink").href = "../hOrtEdit/" + "{{hOrtId}}";

		//Link zur ZeitListe in Navbar setzen
		var url = "../hZeitListe/" + "{{hOrtId}}";
		$("[name='hZeitListeLink']").attr('href', url);

		//Neue Zeit erstellen
		$('#hZeitNeuLink').bind('click', function(event) {
			event.preventDefault();
			erstelleNeueZeit(User, "{{hProjektId}}", "{{hRaumId}}", "{{hOrtId}}"); 
		});

		//sichtbare Felder wählen
		$("#wähleFelder").bind("click", function(event){
			event.preventDefault();
			window.open("../../Felder_hZeit.html?zurueck=_show/hZeitEdit/" + "{{id}}", target="_self");
		});

		//Link zur Art in Navbar setzen
		document.getElementById("hArtListeLink").href = "../hArtListe/" + "{{id}}";

		//Code für den Zeit-Löschen-Dialog
		$('#LöschenDialogLink').bind('click', function() {
			$(this).simpledialog({
				'mode' : 'bool',
		    	'prompt' : 'Diese Zeit löschen?',
		    	'forceInput': 'false',
		    	'buttons' : {
				 	'ja': {
				      	click: function() {
				        	$('#dialogoutput').text('ja');
				        	löscheZeit();
		        		},
		        		icon: "delete",
		        		theme: "c"
		      		},
		      		'nein': {
		        		click: function() {
		          			$('#dialogoutput').text('nein');
		        		}
		      		}
		    	}
		  	})
		});

		//Menu aufbauen
		$("[name='Menu']").bind('click', function() {
			erstelleMenu(this, User, "../../");
		});

		$("body").bind("swipeleft", function() {
			nächsteVorigeZeit("{{id}}", "nächste");
		});

		$("body").bind("swiperight", function() {
			nächsteVorigeZeit("{{id}}", "vorige");
		});

		$("#FormAnhänge").on("click", "[name='LöscheAnhang']", function(event) {
			event.preventDefault();
			var Dateiname = this.id;
			$db.openDoc("{{id}}", {
				success: function(Beob) {
					delete Beob._attachments[Dateiname];
					$db.saveDoc(Beob, {
						success: function() {
							erstelleAttachments("{{id}}");
						}
					});
				}
			});
		});
	}
	
	$(document).ready(handleDocumentReady);

	function prüfeAnmeldung(Pfad) {		
		//User Anmeldung überprüfen
		//Wenn angemeldet, globale Variable User aktualisieren
		//Wenn nicht angemeldet, Anmeldedialog öffnen
		$.ajax({
		    url: '/_session',
		    dataType: 'json',
		    async: false,
		    success: function(session) {
		    	if(session.userCtx.name != (undefined || null)) {
		        	User = session.userCtx.name;
		        } else {
					window.open(Pfad + "index.html?Status=neu", target="_self");
				}
		    }
		});
	}
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	function löscheZeit() {
		var hZeitId = "{{id}}";
		var hOrtId = "{{hOrtId}}";
		var Rückmeldung;
		var ArtenGelöscht = löscheArtenVonZeit(hZeitId);
		if (ArtenGelöscht == false) {
			melde("Fehler: zugehörige Arten nicht gelöscht");
			return false;
		} else {
			Rückmeldung = "zugehörige Arten gelöscht";
			// First open doc based on ID in order to get full document
			$db.openDoc(hZeitId, {
				success: function(document) {
					// Then use the opened doc as reference to remove
					$db.removeDoc(document, {
						success: function() {
							Rückmeldung += "<br>Zeit gelöscht";
							melde(Rückmeldung);
							setTimeout("window.open('../hZeitListe/" + hOrtId + "', target='_self')", 2800);
							return true;
						},
						error: function() {
							Rückmeldung += "<br>Fehler: Zeit nicht gelöscht";
							melde(Rückmeldung);
							return false;
						}
					});
				},
				error: function() {
					Rückmeldung += "<br>Fehler: Zeit nicht gelöscht";
					melde(Rückmeldung);
					return false;
				}
			});
		}
	}

	//lösche alle einer Zeit zugeordnete Arten
	function löscheArtenVonZeit(hZeitId) { 
		var viewname = 'evab/hArtIdVonZeit?startkey=["' + hZeitId + '"]&endkey=["' + hZeitId + '", {}]';
		$db.view(viewname, {
			success: function(data) {
				var i;
				var ArtId;
				for(i in data.rows) {
					ArtId = data.rows[i].key[1];
					löscheDokument(ArtId);
				}
				return true;
			},
			error: function() {
				return false;
			}
		});
	}

	function speichern(Feldname, Feldwert) {
		var Feldwert = $("#" + Feldname).val();
		if ($("input#zDatum").val() == "") {
			melde("Bitte Datum erfassen");
			document.getElementById("zDatum").focus();
			return;
		}
		if ($("input#zUhrzeit").val() == "") {
			melde("Bitte Zeit erfassen");
			document.getElementById("zUhrzeit").focus();
			return;
		}
		$db = $.couch.db("evab");
		//Bestehendes Dokument öffnen
		$db.openDoc("{{id}}", {
			success: function(hZeit) {
				//Werte aus dem Formular aktualisieren
				if (Feldwert) {
					hZeit[Feldname] = Feldwert;
				} else if (hZeit[Feldname]) {
					delete hZeit[Feldname]
				}
				//alles speichern
				$db.saveDoc(hZeit, {
					success: function() {
						//geändertes Zeit-Feld in hArt anpassen
						var viewname = 'evab/hArtIdVonZeit?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '", {}]';
						$db.view(viewname, {
							success: function(data) {
								var hArtId;
								for(i in data.rows) {
									hArtId = data.rows[i].key[1];
									$db.openDoc(hArtId, {
										success: function(hArt) {
											if (Feldwert) {
												hArt[Feldname] = Feldwert;
											} else if (hArt[Feldname]) {
												delete hArt[Feldname];
											}
											$db.saveDoc(hArt);
										}
									});
								}
							}
						});
					},
					error: function() {
						melde("Fehler: Zeit nicht gespeichert");
					}
				});
			}
		});
	}

	/*function speichern(FeldName) {
		if ($("input#zDatum").val() == "") {
			melde("Bitte Datum erfassen");
			document.getElementById("zDatum").focus();
			return;
		}
		if ($("input#zUhrzeit").val() == "") {
			melde("Bitte Zeit erfassen");
			document.getElementById("zUhrzeit").focus();
			return;
		}
		$db = $.couch.db("evab");
		//Bestehendes Dokument öffnen
		$db.openDoc("{{id}}", {
			success: function(hZeit) {
				var Formularwerte = {};
				Formularwerte = $("#hZeitEditForm").serializeObject();
				//Werte aus dem Formular aktualisieren
				for (i in Formularwerte) {
					if (Formularwerte[i]) {
						hZeit[i] = Formularwerte[i];
					} else if (hZeit[i]) {
						delete hZeit[i]
					}
				}
				//alles speichern
				$db.saveDoc(hZeit, {
					success: function() {
						//geändertes Zeit-Feld in hArt anpassen
						var viewname = 'evab/hArtIdVonZeit?startkey=["' + "{{id}}" + '"]&endkey=["' + "{{id}}" + '", {}]';
						$db.view(viewname, {
							success: function(data) {
								var i, ArtId;
								for(i in data.rows) {
									hArtId = data.rows[i].key[1];
									$db.openDoc(hArtId, {
										success: function(hArt) {
											var Feldwert = $("#" + FeldName).val();
											if (Feldwert) {
												hArt[FeldName] = Feldwert;
											} else if (hArt[FeldName]) {
												delete hArt[FeldName];
											}
											$db.saveDoc(hArt);
										}
									});
								}
							}
						});
					},
					error: function() {
						melde("Fehler: Zeit nicht gespeichert");
					}
				});
			}
		});
	}*/

	//Menü aufbauen. Wird aufgerufen von allen Formularen in evab/templates
	function erstelleMenu(thiz, User, Pfad){
		//Code um Menü aufzubauen
		$(thiz).simpledialog({
			'mode' : 'bool',
			'prompt' : 'Menü',
			'fullHTML': 'true',
	    	'buttons' : {
			 	'einfacher Modus': {
			      	click: function () {
			        	window.open(Pfad + "BeobListe.html", target="_self");
	        		},
	        		theme: "a",
	        		icon: "check"
	      		},
	      		'neu anmelden': {
			      	click: function () {
			        	window.open(Pfad + "index.html?Status=neu", target="_self");
	        		},
	        		theme: "a",
	        		icon: "home"
	      		},
	      		'meine Einstellungen': {
			      	click: function () {
			        	öffneMeineEinstellungen(User, Pfad);
	        		},
	        		theme: "a",
	        		icon: "gear"
	      		},
	      		'lokal installieren': {
			      	click: function () {
			        	window.open(Pfad + "Installieren.html", target="_self");
	        		},
	        		theme: "a",
	        		icon: "gear"
	      		},
	      		'Beobachtungen<br>exportieren': {
			      	click: function () {
			        	window.open(Pfad + '_list/BeobExport/ArtListeExport?startkey=["' + User + '", {}, {}, {}, {}, {}]&endkey=["' + User + '"]&descending=true');
	        		},
	        		theme: "a",
	        		icon: "arrow-r"
	      		},
	      		'Felder verwalten': {
			      	click: function () {
			        	window.open(Pfad + "FeldListe.html?zurueck=hZeitEdit/" + "{{id}}", target="_self");
	        		},
	        		theme: "a",
	        		icon: "grid"
	      		},
	      		'schliessen': {
	                click: function () { return true; },
	                icon: "back",
	                theme: "c"
	            }
	    	}
	  	})
	}

	//Öffnet die vorige oder nächste Zeit
	//vorige der ersten => ZeitListe
	//nächste der letzten => melden
	//erwartet die ID des aktuellen Datensatzes und ob nächster oder voriger gesucht wird
	function nächsteVorigeZeit(IdAktuell, NächsteOderVorige) {
		$db.view('evab/hZeitListe?startkey=["' + User + '", "' + "{{hOrtId}}" + '"]&endkey=["' + User + '", "' + "{{hOrtId}}" + '" ,{}]', {
			success: function(data) {
				var i;
				var ZeitIdAktuell;
				var ZeitIdNächste;
				var ZeitIdVorige;
				var AnzZeit;
				for(i in data.rows) {
					ZeitIdAktuell = data.rows[i].value._id;
					var AnzZeit = data.rows.length -1;  //vorsicht: Objekte zählen Elemente ab 1, Arrays ab 0!
					if (ZeitIdAktuell == IdAktuell) {
						switch (NächsteOderVorige) {
						case "nächste":
							if (i < AnzZeit) {
								ZeitIdNächste = data.rows[parseInt(i)+1].value._id;
								window.open(ZeitIdNächste, target="_self");
							} else {
								melde("Das ist die letzte Zeit");
							}
							break;
						case "vorige":
							if (i > 0) {
								ZeitIdVorige = data.rows[i-1].value._id;
								window.open(ZeitIdVorige, target="_self");
							} else {
								window.open("../hZeitListe/" + "{{hOrtId}}", target="_self");
							}
							break;
						}
					}
				}
			}
		});
	}
  </script>
</html>
