<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.actionsheet.css" type="text/css"/>
	<script src="../../vendor/couchapp/loaderTemplate.js"></script>
  	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.datebox.js"></script>
  	<script type="text/javascript">
		$( document ).bind( "mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});	
	</script>
  </head>
  <body>
	<div data-role="page" id="ZeitNeuPage">
		<div data-role="header" data-position="fixed">
			<a href="#" data-role="button" data-icon="arrow-l" data-rel="back" rel="external" data-iconpos="notext" id="hZeitListeLink" name="hZeitListeLink">zur Zeit-Liste</a>
			<h1>neuer Zeitpunkt</h1>
			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a name="UserEditLink" href="#" data-role="button" rel="external">Meine Einstellungen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="EModus" href="../../BeobListe.html" data-role="button" rel="external">Einfacher Modus</a>
  			</div>
  			<div data-role="navbar">
				<ul>
					<li><a href="#" rel="external" id="hProjektLink">Projekt</a></li>
					<li><a href="#" rel="external" id="hRaumLink">Raum</a></li>
					<li><a href="#" rel="external" id="hOrtLink">Ort</a></li>
					<li><a href="" rel="external" class="ui-btn-active" id="hZeitListeLink" name=id="hZeitListeLink">Zeit</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="content">
			<form action="#" method="get">
				<div data-role="fieldcontain">
					<label for="zDatum">Datum:</label>
					<input id="zDatum" name="zDatum" type="date" data-role="datebox" data-options='{"mode": "calbox"}'/>
				</div>
				<div data-role="fieldcontain">
					<label for="zZeit">Zeit:</label>
					<input id="zZeit" name="zZeit" type="date" data-role="datebox" data-options='{"mode": "timebox"}'/>
				</div>
				<div data-role="fieldcontain">
					<label for="zGenauigkeit">Zeit Genauigkeit:</label>
					<input id="zGenauigkeit" name="zGenauigkeit" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungDefinition">Deckung Definition:</label>
					<textarea cols="40" rows="8" name="zDeckungDefinition" id="zDeckungDefinition"></textarea>
				</div>			
				<div data-role="fieldcontain">
					<label for="zDeckungAlgen">Deckung Algen:</label>
					<input id="zDeckungAlgen" name="zDeckungAlgen" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungBäume">Deckung Bäume:</label>
					<input id="zDeckungBäume" name="zDeckungBäume" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungSträucher">Deckung Sträucher:</label>
					<input id="zDeckungSträucher" name="zDeckungSträucher" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungKryptogamen">Deckung Kryptogamen:</label>
					<input id="zDeckungKryptogamen" name="zDeckungKryptogamen" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungWasser">Deckung Wasser:</label>
					<input id="zDeckungWasser" name="zDeckungWasser" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungKräuter">Deckung Kräuter:</label>
					<input id="zDeckungKräuter" name="zDeckungKräuter" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungFlechten">Deckung Flechten:</label>
					<input id="zDeckungFlechten" name="zDeckungFlechten" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungStreu">Deckung Streu:</label>
					<input id="zDeckungStreu" name="zDeckungStreu" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungMoos">Deckung Moos:</label>
					<input id="zDeckungMoos" name="zDeckungMoos" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungGestein">Deckung Gestein:</label>
					<input id="zDeckungGestein" name="zDeckungGestein" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungBoden">Deckung Boden:</label>
					<input id="zDeckungBoden" name="zDeckungBoden" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zDeckungVegetation">Deckung Vegetation:</label>
					<input id="zDeckungVegetation" name="zDeckungVegetation" type="text" />
				</div>
				<div data-role="fieldcontain">
					<label for="zBaumschichtHöheMax">Baumschicht max. Höhe cm:</label>
					<input id="zBaumschichtHöheMax" name="zBaumschichtHöheMax" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zBaumschichtHöheMin">Baumschicht min. Höhe cm:</label>
					<input id="zBaumschichtHöheMin" name="zBaumschichtHöheMin" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zBaumschichtHöheMit">Baumschicht mittlere Höhe cm:</label>
					<input id="zBaumschichtHöheMit" name="zBaumschichtHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zStrauchschichtHöheMax">Strauchschicht max. Höhe cm:</label>
					<input id="zStrauchschichtHöheMax" name="zStrauchschichtHöheMax" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zStrauchschichtHöheMin">Strauchschicht min. Höhe cm:</label>
					<input id="zStrauchschichtHöheMin" name="zStrauchschichtHöheMin" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zStrauchschichtHöheMit">Strauchschicht mittlere Höhe cm:</label>
					<input id="zStrauchschichtHöheMit" name="zStrauchschichtHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zKrautschichtHöheMax">Krautschicht max. Höhe cm:</label>
					<input id="zKrautschichtHöheMax" name="zKrautschichtHöheMax" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zKrautschichtHöheMin">Krautschicht min. Höhe cm:</label>
					<input id="zKrautschichtHöheMin" name="zKrautschichtHöheMin" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zKrautschichtHöheMit">Krautschicht mittlere Höhe cm:</label>
					<input id="zKrautschichtHöheMit" name="zKrautschichtHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zVegHöheMax">Vegetation max. Höhe cm:</label>
					<input id="zVegHöheMax" name="zVegHöheMax" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zVegHöheMin">Vegetation min. Höhe cm:</label>
					<input id="zVegHöheMin" name="zVegHöheMin" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zVegHöheMit">Vegetation mittlere Höhe cm:</label>
					<input id="zVegHöheMit" name="zVegHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zMoosschichtHöheMit">Moosschicht mittlere Höhe cm:</label>
					<input id="zMoosschichtHöheMit" name="zMoosschichtHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zMoosschichtHöheMit">Moosschicht mittlere Höhe cm:</label>
					<input id="zMoosschichtHöheMit" name="zMoosschichtHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zFlechtenschichtHöheMit">Flechtenschicht mittlere Höhe cm:</label>
					<input id="zFlechtenschichtHöheMit" name="zFlechtenschichtHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zKryptogamenschichtHöheMit">Kryptogamenschicht mittlere Höhe cm:</label>
					<input id="zKryptogamenschichtHöheMit" name="zKryptogamenschichtHöheMit" type="number" />
				</div>
				<div data-role="fieldcontain">
					<label for="zBemerkungen">Bemerkungen:</label>
					<textarea cols="40" rows="8" name="zBemerkungen" id="zBemerkungen"></textarea>
				</div>
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#" id="SpeichernButton" class="ui-btn-active" data-icon="check" data-iconpos="left">speichern</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
 
  </body>
  
  
  <script type="text/javascript" charset="utf-8">;
	function handleDocumentReady()
	{
  		$db = $.couch.db("evab-ch_barbalex_evab");
		userCtx = null;
		var Autor;
		
		$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
		});

		var Datum = DatumNeu();
		$("input#zDatum").val(Datum);
		var Zeit = ZeitNeu();
		$("input#zZeit").val(Zeit);

		$("#SpeichernButton").tap(function(event) {
			event.preventDefault();
			var doc = {};
			doc.Typ = "hZeit";
			doc.User = User;
			doc.ProjektId = "{{ProjektId}}"
			doc.RaumId = "{{RaumId}}";
			doc.OrtId = "{{id}}";
			if ($("input#zDatum").val()!=""){
				doc.zDatum = $("input#zDatum").val();
			} else {
				MeldungEinzeilig("Sie müssen ein Datum erfassen");
			}
			if ($("input#zZeit").val()!=""){
				doc.zZeit = $("input#zZeit").val();
			} else {
				MeldungEinzeilig("Sie müssen eine Zeit erfassen");
			}
			if ($("input#zGenauigkeit").val()!=""){
				doc.zGenauigkeit = $("input#zGenauigkeit").val();
			} else if (doc.zGenauigkeit!=null){
				delete doc.zGenauigkeit;
			}
			if ($("input#zDeckungAlgen").val()!=""){
				doc.zDeckungAlgen = $("input#zDeckungAlgen").val();
			} else if (doc.zDeckungAlgen!=null){
				delete doc.zDeckungAlgen;
			}
			if ($("input#zDeckungBäume").val()!=""){
				doc.zDeckungBäume = $("input#zDeckungBäume").val();
			} else if (doc.zDeckungBäume!=null){
				delete doc.zDeckungBäume;
			}
			if ($("input#zDeckungSträucher").val()!=""){
				doc.zDeckungSträucher = $("input#zDeckungSträucher").val();
			} else if (doc.zDeckungSträucher!=null){
				delete doc.zDeckungSträucher;
			}
			if ($("input#zDeckungKryptogamen").val()!=""){
				doc.zDeckungKryptogamen = $("input#zDeckungKryptogamen").val();
			} else if (doc.zDeckungKryptogamen!=null){
				delete doc.zDeckungKryptogamen;
			}
			if ($("input#zDeckungWasser").val()!=""){
				doc.zDeckungWasser = $("input#zDeckungWasser").val();
			} else if (doc.zDeckungWasser!=null){
				delete doc.zDeckungWasser;
			}
			if ($("input#zDeckungKräuter").val()!=""){
				doc.zDeckungKräuter = $("input#zDeckungKräuter").val();
			} else if (doc.zDeckungKräuter!=null){
				delete doc.zDeckungKräuter;
			}
			if ($("input#zDeckungFlechten").val()!=""){
				doc.zDeckungFlechten = $("input#zDeckungFlechten").val();
			} else if (doc.zDeckungFlechten!=null){
				delete doc.zDeckungFlechten;
			}
			if ($("input#zDeckungStreu").val()!=""){
				doc.zDeckungStreu = $("input#zDeckungStreu").val();
			} else if (doc.zDeckungStreu!=null){
				delete doc.zDeckungStreu;
			}
			if ($("input#zDeckungMoos").val()!=""){
				doc.zDeckungMoos = $("input#zDeckungMoos").val();
			} else if (doc.zDeckungMoos!=null){
				delete doc.zDeckungMoos;
			}
			if ($("input#zDeckungGestein").val()!=""){
				doc.zDeckungGestein = $("input#zDeckungGestein").val();
			} else if (doc.zDeckungGestein!=null){
				delete doc.zDeckungGestein;
			}
			if ($("input#zDeckungBoden").val()!=""){
				doc.zDeckungBoden = $("input#zDeckungBoden").val();
			} else if (doc.zDeckungBoden!=null){
				delete doc.zDeckungBoden;
			}
			if ($("input#zDeckungVegetation").val()!=""){
				doc.zDeckungVegetation = $("input#zDeckungVegetation").val();
			} else if (doc.zDeckungVegetation!=null){
				delete doc.zDeckungVegetation;
			}
			if ($("[id$='zDeckungDefinition']").val()!=""){
				doc.zDeckungDefinition = $("[id$='zDeckungDefinition']").val();
			} else if (doc.zDeckungDefinition!=null){
				delete doc.zDeckungDefinition;
			}
			if ($("input#zBaumschichtHöheMax").val()!=""){
				doc.zBaumschichtHöheMax = $("input#zBaumschichtHöheMax").val();
			} else if (doc.zBaumschichtHöheMax!=null){
				delete doc.zBaumschichtHöheMax;
			}
			if ($("input#zBaumschichtHöheMin").val()!=""){
				doc.zBaumschichtHöheMin = $("input#zBaumschichtHöheMin").val();
			} else if (doc.zBaumschichtHöheMin!=null){
				delete doc.zBaumschichtHöheMin;
			}
			if ($("input#zBaumschichtHöheMit").val()!=""){
				doc.zBaumschichtHöheMit = $("input#zBaumschichtHöheMit").val();
			} else if (doc.zBaumschichtHöheMit!=null){
				delete doc.zBaumschichtHöheMit;
			}
			if ($("input#zStrauchschichtHöheMax").val()!=""){
				doc.zStrauchschichtHöheMax = $("input#zStrauchschichtHöheMax").val();
			} else if (doc.zStrauchschichtHöheMax!=null){
				delete doc.zStrauchschichtHöheMax;
			}
			if ($("input#zStrauchschichtHöheMin").val()!=""){
				doc.zStrauchschichtHöheMin = $("input#zStrauchschichtHöheMin").val();
			} else if (doc.zStrauchschichtHöheMin!=null){
				delete doc.zStrauchschichtHöheMin;
			}
			if ($("input#zStrauchschichtHöheMit").val()!=""){
				doc.zStrauchschichtHöheMit = $("input#zStrauchschichtHöheMit").val();
			} else if (doc.zStrauchschichtHöheMit!=null){
				delete doc.zStrauchschichtHöheMit;
			}
			if ($("input#zKrautschichtHöheMax").val()!=""){
				doc.zKrautschichtHöheMax = $("input#zKrautschichtHöheMax").val();
			} else if (doc.zKrautschichtHöheMax!=null){
				delete doc.zKrautschichtHöheMax;
			}
			if ($("input#zKrautschichtHöheMin").val()!=""){
				doc.zKrautschichtHöheMin = $("input#zKrautschichtHöheMin").val();
			} else if (doc.zKrautschichtHöheMin!=null){
				delete doc.zKrautschichtHöheMin;
			}
			if ($("input#zKrautschichtHöheMit").val()!=""){
				doc.zKrautschichtHöheMit = $("input#zKrautschichtHöheMit").val();
			} else if (doc.zKrautschichtHöheMit!=null){
				delete doc.zKrautschichtHöheMit;
			}
			if ($("input#zVegHöheMax").val()!=""){
				doc.zVegHöheMax = $("input#zVegHöheMax").val();
			} else if (doc.zVegHöheMax!=null){
				delete doc.zVegHöheMax;
			}
			if ($("input#zVegHöheMin").val()!=""){
				doc.zVegHöheMin = $("input#zVegHöheMin").val();
			} else if (doc.zVegHöheMin!=null){
				delete doc.zVegHöheMin;
			}
			if ($("input#zVegHöheMit").val()!=""){
				doc.zVegHöheMit = $("input#zVegHöheMit").val();
			} else if (doc.zVegHöheMit!=null){
				delete doc.zVegHöheMit;
			}
			if ($("input#zMoosschichtHöheMit").val()!=""){
				doc.zMoosschichtHöheMit = $("input#zMoosschichtHöheMit").val();
			} else if (doc.zMoosschichtHöheMit!=null){
				delete doc.zMoosschichtHöheMit;
			}
			if ($("input#zFlechtenschichtHöheMit").val()!=""){
				doc.zFlechtenschichtHöheMit = $("input#zFlechtenschichtHöheMit").val();
			} else if (doc.zFlechtenschichtHöheMit!=null){
				delete doc.zFlechtenschichtHöheMit;
			}
			if ($("input#zKryptogamenschichtHöheMit").val()!=""){
				doc.zKryptogamenschichtHöheMit = $("input#zKryptogamenschichtHöheMit").val();
			} else if (doc.zKryptogamenschichtHöheMit!=null){
				delete doc.zKryptogamenschichtHöheMit;
			}
			if ($("[id$='zBemerkungen']").val()!=""){
				doc.zBemerkungen = $("[id$='zBemerkungen']").val();
			} else if (doc.zBemerkungen!=null){
				delete doc.zBemerkungen;
			}
			$db.saveDoc(doc, {
				success: function(data) {
					window.open("../hZeitEdit/" + data.id, target="_self");
					MeldungEinzeilig("Zeitpunkt gespeichert");
				},
				error: function() {
					MeldungEinzeilig("Der Zeitpunkt konnte nicht gespeichert werden.");
				 }
			});
			return false;
		});

		//Link zum Projekt in Navbar setzen
		document.getElementById("hProjektLink").href = "../hProjektEdit/" + "{{ProjektId}}";

		//Link zum Raum in Navbar setzen
		document.getElementById("hRaumLink").href = "../hRaumEdit/" + "{{RaumId}}";

		//Link zum Ort in Navbar setzen
		document.getElementById("hOrtLink").href = "../hOrtEdit/" + "{{id}}";

		//Link zur ZeitListe in Navbar setzen
		document.getElementById("hZeitListeLink").href = "../hZeitListe/" + "{{id}}";

		//Link zum UserEdit in Menu setzen
		var UserId;
		$db.view("evab/User",
			{success: function(data) {
				var i;
				var doc;
				for(i in data.rows) {
					key = data.rows[i].key;
					doc = data.rows[i].value;
					if (key == User) {
						UserId = doc._id;
					}
				}
				var url = "../UserEdit/" + UserId;
				$("[name='UserEditLink']").attr('href', url);
			}
		});
	}
	
	$(document).ready(handleDocumentReady);
  </script>

  <script type="text/javascript" charset="utf-8">	
	Monate = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
  	jQuery.extend(jQuery.mobile.datebox.prototype.options, {
		'dateFormat': 'YYYY-MM-DD',
		'headerFormat': 'YYYY-MM-DD',
		'monthsOfYear': Monate
	});

	
  </script>
</html>
