<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.datebox.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.simpledialog.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<style type="text/css">.ui-icon-evab-location {background-image:url('../../Bilder/evab-location.png');}</style>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.js"></script>
	<script type="text/javascript">			
		$(document).on("mobileinit", function() {
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
			$.mobile.page.prototype.options.degradeInputs.time = 'text';
			$.mobile.selectmenu.prototype.options.nativeMenu = false;
			$.event.special.swipe.horizontalDistanceThreshold = 250;
			$.mobile.buttonMarkup.hoverDelay = 0;
		});
    </script>	
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.couch.app.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.form.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mustache.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/phonegap.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/evab.js"></script>
	<script type="text/javascript" src="../../vendor/couchapp/jquery.mobile.simpledialog.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="vendor/couchapp/markerclusterer.js"></script>
  	<script type="text/javascript" src="vendor/couchapp/markerwithlabel.js"></script>
  </head>
  <body>
  	<div data-role="page">
  		<div data-role="header" data-position="fixed" data-tap-toggle="false">
  			<a href="../../BeobListe.html" data-rel="back" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext">zur Beobachtungs-Liste</a>
  			<h2>meine Einstellungen</h2>
  		</div>
		<div id="UserEditContent" data-role="content" style="padding:0em;">
			<form id="UserEditForm" action="#" method="get" data-identity="{{document}}">
				<div data-role="fieldcontain">
					<label for="Benutzername">Benutzername:</label>
					<input id="Benutzername" name="Benutzername" type="text" value="{{UserName}}"/>
					<p>Der Benutzername kann nicht verändert werden.<br /><br />
					EvAB mobile speichert nur die verschlüsselte Form Ihres Passworts. Es kann deshalb nicht verändert werden und wird nicht angezeigt.</p>
				</div>
				<hr />
				<div data-role="fieldcontain">
					<label for="Autor">Autor:</label>
					<input id="Autor" name="Autor" class="Feld" type="text" value="{{Autor}}" placeholder="(erforderlich)" required/>
					<p>Eingabe empfohlen. Beschreiben Sie den Autor so, wie er in den Beobachtungen erscheinen soll. Beispiel: Fritz Muster, Zürich.</p>
				</div>
				<hr />
				<div data-role="fieldcontain">
					<label for="Email">email-Adresse:</label>
					<input id="Email" name="Email" class="Feld" type="email" value="{{Email}}" placeholder="(fakultativ)"/>
				</div>
				<hr />
				<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup">
				    	<legend>Sprache für Artnamen:</legend>
				         	<input type="radio" name="ArtenSprache" class="Feld" id="Lateinisch" value="Lateinisch"  />
				         	<label for="Lateinisch">Lateinisch (Standard)</label>
				         	<input type="radio" name="ArtenSprache" class="Feld" id="Deutsch" value="Deutsch"  />
				         	<label for="Deutsch">Deutsch</label>
				    </fieldset>
				    <p>Wenn Sie Deutsch wählen, können Sie nur Beobachtungen von Arten erfassen, die einen Deutschen Namen haben. Das ist - je nach Artengruppe - nur ein kleiner Teil der Arten!</p>
				</div>
				<hr />
				<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup">
				    	<legend>Meine Beobachtungen dürfen verwendet werden:</legend>
				         	<input type="radio" name="Datenverwendung" class="Feld" id="JaAber" value="JaAber"  />
				         	<label for="JaAber">ja, für Naturschutzzwecke (Standard)*</label>
				         	<input type="radio" name="Datenverwendung" class="Feld" id="Ja" value="Ja"  />
				         	<label for="Ja">ja, ohne Einschränkung</label>
				         	<input type="radio" name="Datenverwendung" class="Feld" id="Nein" value="Nein" />
				         	<label for="Nein">nein</label>
				    </fieldset>
				</div>
				<p>* Bei dieser Option werden die <a href="http://www.natportal.ch/data/deontologie_d.pdf" target="_blank">Datenschutzrichtlinien der Schweizerischen Nationalen Datenzentren für Fauna und Flora</a> eingehalten.<br /><br />Die zuständigen Naturschutzstellen von Bund, Kanton und Gemeinden verwenden die Informationen nur für Naturschutzzwecke. Beobachtungen von nicht besonders empfindlichen Arten können in grober räumlicher Auflösung publiziert werden (5*5km).<br /><br />Die Daten werden in die Datenbank der <a href="http://www.naturschutz.zh.ch" target="_blank">Fachstelle Naturschutz des Kantons Zürich</a> synchronisiert und von dort an die zuständigen Nationalen Artdatenzentren weitergeleitet: <a href="http://www.crsf.ch/" target="_blank">info Flora</a>, <a href="http://www.cscf.ch/" target="_blank">CSCF (Fauna)</a>, <a href="http://www.nism.uzh.ch" target="_blank">NISM (Moose)</a>, <a href="www.swissfungi.ch" target="_blank">Swissfungi (Pilze)</a>.</p>
			</form>
		</div>
	</div>

  </body>
    <script type="text/javascript">
		$(document).ready(function() {
			
			User = "";

			userCtx = null;
			$.couch.session({
				success : function(r) {
					var userCtx = r.userCtx;
					User = userCtx.name;
				}
			});
			
			/*
			$.ajax({
			    url: '/_session',
			    dataType: 'json',
			    async: false,
			    success: function(session){
			        User = session.userCtx.name;
			    }
			});
			*/
			
			//Feld Benutzername deaktivieren
			$('#Benutzername').textinput();
			$('#Benutzername').textinput('disable');

			//Modus managen
			$("input[name='Modus']").checkboxradio();
			$("#{{Modus}}").prop("checked",true).checkboxradio("refresh");

			//Datenverwendung managen
			$("input[name='Datenverwendung']").checkboxradio();
			$("#{{Datenverwendung}}").prop("checked",true).checkboxradio("refresh");

			//ArtenSprache managen
			$("input[name='ArtenSprache']").checkboxradio();
			$("#{{ArtenSprache}}").prop("checked",true).checkboxradio("refresh");

			//jedes Feld bei Änderung speichern
			$(".Feld").change(function(){
				speichern();
			});
		});
	</script>
	<script type="text/javascript">
		//Objekt heisst Userr weil Variable User schon verwendet wird
		function speichern() {
			if ($("input#Autor").val() == ""){
				melde("Bitte Autor eingeben");
				return;
			}
			var Userr = {};
			Userr = $("#UserEditForm").serializeObject();
			Userr.Typ = "User";
			Userr.UserName = "{{UserName}}";
			Userr._id = "{{id}}";
			$db = $.couch.db("evab");
			$db.openDoc("{{id}}", {
				success: function(doc) {
					Userr._rev = doc._rev;
					$db.saveDoc(Userr, {
						error: function() {
							melde("Fehler: User nicht gespeichert");
						 }
					});
				}
			});
		}
		
	</script>
  
</html>
