<!DOCTYPE html>
<html>
  <head>
  	<link rel="SHORTCUT ICON" href="../../Bilder/favicon.ico">
  	<META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  	<title>EvAB</title>
  	<link rel="stylesheet" href="../../style/evab.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/main.css" type="text/css">
  	<link rel="stylesheet" href="../../style/jquery.mobile.css" type="text/css"/>
  	<link rel="stylesheet" href="../../style/jquery.mobile.actionsheet.css" type="text/css"/>
  	<style type="text/css">.ui-icon-evab-location {background-image:url('../../Bilder/evab-location.png');}</style>
    <script src="../../vendor/couchapp/loaderTemplate.js" type="text/javascript"></script>
  	<script type="text/javascript">
		$(document).bind("mobileinit", function(){
			$.mobile.page.prototype.options.degradeInputs.date = 'text';
		});	
	</script>
    	<script type="text/javascript">
		$(document).ready(function(){
			// do stuff when DOM is ready
			$db = $.couch.db("evab-ch_barbalex_evab");
			userCtx = null;
			$.couch.session({
			success : function(r) {
				var userCtx = r.userCtx;
				User = userCtx.name;
				}
			});
			
			var docId = "{{id}}";

			$('#Benutzername').textinput();
			$('#Benutzername').textinput('disable');

			//Modus managen
			Modus = "{{Modus}}";
			$("input[name='Modus']").checkboxradio();
			$("input#{{Modus}}").attr("checked",true).checkboxradio("refresh");
			$("input[name='Modus']").change(function(){
				Modus = $(this).attr("id");
			});

			//Datenverwendung managen
			Datenverwendung = "{{Datenverwendung}}";
			$("input[name='Datenverwendung']").checkboxradio();
			$("input#{{Datenverwendung}}").attr("checked",true).checkboxradio("refresh");
			$("input[name='Datenverwendung']").change(function(){
				Datenverwendung = $(this).attr("id");
			});
			
			$("#submitButton").tap(function(event) {
				//var docId = "{{id}}";
				$db.openDoc(docId, {
					success: function(doc) {
						doc.Typ = "User";
						doc.UserName = "{{UserName}}";
						if ($("input#Email").val()!=""){
							doc.Email = $("input#Email").val();
						} else if (doc.Email!=null){
							delete doc.Email;
						}
						doc.Modus = Modus;
						doc.Datenverwendung = Datenverwendung;
						if ($("input#Autor").val()==""){
							MeldungEinzeilig("Bitte Autor eingeben");
						} else {
							doc.Autor = $("input#Autor").val();
							saveDocument(doc);
						}
					},
					error: function() {
						MeldungZweizeilig("Dieser User kann nicht geöffnet werden:", docId);
					}
				});
			});	

			//Link zum UserEdit in Menu setzen
			var UserId;
			$db.view("evab/User",
				{success: function(data) {
					var i;
					var doc;
					for(i in data.rows) {
						key = data.rows[i].key;
						doc = data.rows[i].value;
						if (key == User) {
							UserId = doc._id;
						}
					}
					var url = "../UserEdit/" + UserId;
					$("[name='UserEditLink']").attr('href', url);
				}
			});
		});
	</script>
	<script type="text/javascript">
	
		function saveDocument(document)
		{
			$db.saveDoc(document, {
				success: function() {
					MeldungEinzeilig("Einstellungen gespeichert");
				},
				error: function() {
					MeldungZweizeilig("Speichern fehlgeschlagen!");
				}
			});
		}
		
	</script>
  </head>
  <body>
  	<div data-role="page" id="UserEditPage">
  		<div data-role="header" data-position="fixed">
  			<a href="../../BeobListe.html" data-rel="back" data-role="button" data-icon="arrow-l" rel="external" data-iconpos="notext">zur Beobachtungs-Liste</a>
  			<h2>Meine Einstellungen</h2>
  			<a data-role="actionsheet" data-icon="gear" data-iconpos="notext" class="r ui-btn-right">Menu</a>
  			<div>
  				<a id="NeuAnmelden" href="../../index.html" data-role="button" rel="external">neu anmelden</a>
				<a name="UserEditLink" href="#" data-role="button" rel="external">Meine Einstellungen</a>
				<a id="BeobExp" href="../../../evab/_list/BeobExport/BeobListe?user=barbalex" data-role="button" rel="external">Beobachtungen<br />exportieren (CSV)</a>
				<a id="FeldListe" href="../../FeldListe.html" data-role="button" rel="external">Datenfelder<br />verwalten</a>
				<a id="FeldExp" href="../../../evab/_list/FeldExport/FeldListe" data-role="button" rel="external">Datenfelder<br />exportieren (CSV)</a>
				<a id="hModus" href="../../hProjektListe.html" data-role="button" rel="external">Hierarchischer<br />Modus</a>
  			</div>
  		</div>
		<div id="UserEditContent" data-role="content" data-theme="c" style="padding:0em;">
			<form id="BeobEditForm" action="#" method="get" data-identity="{{document}}"
				<div data-role="fieldcontain">
					<label for="Benutzername">Benutzername:</label>
					<input id="Benutzername" name="Benutzername" type="text" value="{{UserName}}"/>
					<p style="text-align: center">Der Benutzername kann nicht verändert werden.</p>
				</div>
				<p style="text-align: center">EvAB mobile kennt nur die verschlüsselte Form Ihres Passworts. Es kann deshalb nicht verändert werden und wird nicht angezeigt.</p>
				<hr />
				<div data-role="fieldcontain">
					<label for="Autor">Autor:</label>
					<input id="Autor" name="Autor" type="text" value="{{Autor}}" placeholder="(erforderlich)" required/>
					<p style="text-align: center">Eingabe obligatorisch. Beschreiben Sie den Autor so, wie er in den Beobachtungen erscheinen soll. Beispiel: Fritz Muster, Zürich.</p>
				</div>
				<hr />
				<div data-role="fieldcontain">
					<label for="Email">email-Adresse:</label>
					<input id="Email" name="Email" type="email" value="{{Email}}" placeholder="(fakultativ)"/>
				</div>
				<hr />
				<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup" data-type="horizontal">
				    	<legend>Ich will in diesem Modus erfassen:</legend>
				         	<input type="radio" name="Modus" id="einfach" value="einfach" />
				         	<label for="einfach">einfach</label>
				         	<input type="radio" name="Modus" id="hierarchisch" value="hierarchisch"  />
				         	<label for="hierarchisch">hierarchisch</label>
				    </fieldset>
				</div>
				<p style="text-align: center">Im einfachen Modus erfassen Sie für alle Artengruppen dieselben Angaben in einer übersichtlichen Liste.<br />Im hierarchischen Modus stehen in den fünf Hierarchiestufen <i>Projekt, Raum, Ort, Zeit und Art</i> viele Felder zur Verfügung.<br />Auf Stufe Art stehen für jede Artgruppe eigene Felder zur Verfügung.</p>
				<hr />
				<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup">
				    	<legend>Meine Beobachtungen dürfen verwendet werden:</legend>
				         	<input type="radio" name="Datenverwendung" id="Nein" value="Nein" />
				         	<label for="Nein">nein (Standard)</label>
				         	<input type="radio" name="Datenverwendung" id="Ja" value="Ja"  />
				         	<label for="Ja">ja, ohne Einschränkung</label>
				         	<input type="radio" name="Datenverwendung" id="JaAber" value="JaAber"  />
				         	<label for="JaAber">ja aber kontrolliert und für Naturschutzzwecke*</label>
				    </fieldset>
				</div>
				<p style="text-align: center">* Bei dieser Option werden die <a href="http://www.crsf.ch/documents/download/d/Deontologie_2008_de.pdf" target="_blank">Datenschutzrichtlinien der Schweizerischen Nationalen Datenzentren für Fauna und Flora</a> eingehalten</p>
				<div data-role="footer" data-position="fixed">
					<div data-role="navbar" id="UserEditNavbar">
						<ul>
							<li><a href="#" id="submitButton" data-icon="check" data-iconpos="left" class="ui-btn-active">speichern</a></li>
						</ul>
					</div><!-- /navbar -->
				</div><!-- /footer -->
			</form>
		</div>
	</div>

  </body>
</html>
