/*
 * mit dieser Datei werden die CSS-Styling-Vorgaben angepasst
 */

/*jetzt folgen eigene*/

/*es werden immer alle tabs angezeigt
* aber einige sind inaktiv*/
.ui-header .ui-navbar .tab_inaktiv {
	background-image: none;
	color: #adadad;
}

/*verhindern, dass der Text in der Titelzeile abgeschnitten wird*/
.ui-header .ui-title {
  overflow: visible !important;
  white-space: normal !important;
}

/*Umrahmungen von Feldern schöner*/
.ui-body-c, .ui-dialog.ui-overlay-c {
  border: 1px solid #81877B;
}

.ui-field-contain {margin: 0.5em 0;}
.min-width-480px .ui-field-contain {margin: 0.5em 0;}
.titel {margin:0.12cm; text-align:center}

/*Text, der mit Feldern ausgerichtet werden soll*/
@media all and (min-width: 450px) {
  .ausgerichtet_an_input { margin-left: 22%; }
}

/*jqm setzt Linien nach fieldcontain
  ist unschön, entfernen*/
.ui-field-contain {
  border-bottom-width: 0px !important;
}

/*jqm in popups eine Schaltfläche rechts ausrichten*/
.rechts5px {
  position: absolute;
  right: 5px;
}

/*datebox setzt seine Symbole in zu schmale Felder*/
.ui-input-datebox {
	width: 100% !important;
}

/*in FeldRead.html Felder darstellen*/
.Feld {font-weight:bold;}

.GmInfowindow {line-height: 0.3; margin-top: 0.3; margin-bottom: 0; white-space: nowrap}

.PopupText {text-align:center; margin:6px 4px 4px 4px; font-weight:bold;}

.MapLabel {
	color: black;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 150px;
	border: 1px solid black;
}

/*Titel in BeobListe.html nach rechts verschieben
* sonst wird die Anzahl verdeckt von der Schaltfläche "hierarchisch"*/
.BeobListePageTitel {
	margin-left: -webkit-calc(30% + 20px) !important;
	margin-left: -moz-calc(30% + 20px) !important;
	margin-left: calc(30% + 20px) !important;
	margin-right: -webkit-calc(30% - 20px) !important;
	margin-right: -moz-calc(30% - 20px) !important;
	margin-right: calc(30% - 20px) !important;
}

/*Hintergrundfarbe setzen*/
/*.ui-content {
  background-color: #f3f9eb; 
}

.ui-page {
  background-color: #f3f9eb;
}

.ui-listview-filter {
  background-color: #f3f9eb;
}

.ui-bar-c {
  background-color: #f3f9eb;
}*/

.HinweisDynamischerFeldaufbau {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}

/*Menübefehle nicht abschneiden*/
.ui-btn-inner {
    white-space: nowrap ! important;
}

/*Feldhintergrund färben*/
/*input.ui-input-text, textarea.ui-input-text {
  background: #F0F6E8;
}*/

/*Diese hier für validate.js*/
label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}

em {
  color: red;
  font-weight: bold;
  padding-right: .25em;
}

/*Zweispaltige Listen für Arten formatieren*/

.ui-grid-a .ArteigenschaftFeldname { width: 35%; }
.ui-grid-a .ArteigenschaftFeldwert { width: 65%; }

/*Navbar im Header: Titel nicht abschneiden*/
.ui-btn-inner {
  overflow: visible !important;
  white-space: normal !important;
}

/*Buttons ohne Text vergrössern*/
.ui-btn-icon-notext {
  width: 26px;
  height: 26px;
}

.ui-btn-icon-notext .ui-btn-inner .ui-icon {
margin: 3px 3px 3px 4px;
}

/*verhindern, dass checkboxes die Seitwärtsnavigation überdecken*/
.ui-pagination {
  z-index: 2;
}

/*anfänglich versteckte Elemente*/
.hidden {
  display: none;
}

.popup .admin {
  display: none;
}

.text-zentrieren {
  text-align: center;
}

/*!
* jQuery Mobile Framework : drag pagination plugin
* Copyright (c) Filament Group, Inc
* Authored by Scott Jehl, scott@filamentgroup.com
* Dual licensed under the MIT or GPL Version 2 licenses.
*/

.ui-pagination {
  left: 0;
  width: 100%;
}
.ui-pagination, .ui-pagination li {
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
}
.ui-pagination li {
  overflow: hidden;
  width: 2.5em;
  height: 4.5em;
}
.ui-pagination li a {
  padding: .7em .4em .7em .45em;
  opacity: .7;
  position: absolute;
  z-index: 999;
}
.ui-pagination .ui-pagination-prev {
  left: 0;
  top: 190px;
}
.ui-pagination .ui-pagination-next {
  top: 190px;
  right: 0;
}
.ui-pagination .ui-pagination-prev a {
  right: 0;
  padding-left: 1.45em;
}
.ui-pagination .ui-pagination-next a {
  left: 0;
  padding-right: 1.45em;
}

.ui-li-heading, .ui-li-desc {
	white-space: normal !important;
}


/*workaround against bad scrolling
  https://forum.jquery.com/topic/why-jqm-touchscreen-list-scrolling-performance-stinks-and-what-to-do-about-it*/
  /*
*.ui-listview *.ui-btn-up-c,
*.ui-listview *.ui-btn-down-c,
*.ui-listview *.ui-btn-hover-c
  {
  border:1px solid  #ccc  ;background:#e6edde ;font-weight:bold;color: #2F3E46  ;text-shadow: 0    1px    1px    #f6f6f6  ;background-image:-webkit-gradient(linear,left top,left bottom,from( #dce6d1 ),to( #c1d3b1 )); background-image:-webkit-linear-gradient(top,#dce6d1,#c1d3b1 ); background-image:   -moz-linear-gradient(top,#dce6d1,#c1d3b1 ); background-image:    -ms-linear-gradient(top,#dce6d1,#c1d3b1 ); background-image:     -o-linear-gradient(top,#dce6d1,#c1d3b1 ); background-image:        linear-gradient(top,#dce6d1,#c1d3b1 );
  }*/


.ui-listview .artlistenhinweis {
	background-image: none;
	font-weight: normal;
	font-size: 90%;
}

#al_filterzeile {
	margin: -20px -12px 8px -12px;
}