/*
 * mit dieser Datei werden die CSS-Styling-Vorgaben angepasst
 */

.ui-field-contain {margin: 0.5em 0;}
.min-width-480px .ui-field-contain {margin: 0.5em 0;}
.titel {margin:0.12cm; text-align:center}

.Feldbeschriftung {margin-bottom: 0px;}
.Feld {margin-bottom: 0px; font-weight:bold;}

.GmInfowindow {line-height: 0.3; margin-top: 0.3; margin-bottom: 0; white-space: nowrap}

.PopupText {text-align:center; margin:6px 4px 4px 4px; font-weight:bold;}

.MapLabel {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 150px;
     border: 1px solid black;     
   }